
.team-best-player ul { padding-bottom: 34px; padding-left: 0px; padding-right: 0px; }
.team-best-player .player-filters { padding-bottom: 34px; }
.team-best-player .player-filters li { padding-right: 30px; display: inline-block; }
.team-best-player .player-filters li:last-child { padding-right: 0; }
.team-best-player .player-filters li a { padding: 5px 0 12px 0; display: block; position: relative; font-size: 14px; color: @tabs-text-color; font-family: @secondary-font, sans-serif; text-transform: uppercase; }
.team-best-player .player-filters li a:before { content: ''; position: absolute; width: 0; left: 0; bottom: 0; height: 6px; background: @contrast-alt-color; transition: all 400ms; }
.team-best-player .player-filters li a:hover:before { width: 100%; }
.team-best-player .player-filters li.active a:before { width: 100%; }

.best-players-list .item { margin-bottom: 3px; padding: 9px 77px 9px 77px; font-size: 14px; color: @item-text-color; display: block; position: relative; background: @item-background-color; font-family: @secondary-font, sans-serif; border-left: 2px solid @border-color; }
.best-players-list .number { width: 50px; z-index: 1; font-family: @base-font, sans-serif; line-height: 50px; text-align: center; position: absolute; top: 0; bottom: 0; left: 1px; background: @bestplayer-item-number-background; color:@bestplayer-number-color;}
.best-players-list .number:before { content: ''; position: absolute; width: 20px; top: 0; right: -5px; bottom: 0; transform: skew(-10deg); background: @bestplayer-item-number-background; z-index: -1; }
.best-players-list .achievement { background: @achievment-background; color: @achievment-text; z-index: 1; width: 50px; line-height: 50px; text-align: center; position: absolute; top: 0; bottom: 0; right: 0; }
.best-players-list .item:first-child .achievement { color: @achievment-text-first; background: @achievment-background-first; }
.best-players-list .item:first-child .achievement:before { content: ''; position: absolute; width: 20px; top: 0; left: -5px; bottom: 0; transform: skew(-10deg); z-index: -1; background: @achievment-background-first; }
.best-players-list .item .achievement:before { content: ''; position: absolute; background: @achievment-background; width: 20px; top: 0; left: -5px; bottom: 0; transform: skew(-10deg); z-index: -1; }
.best-players-list .item:first-child { margin-bottom: 5px; background: @item-background-color-first; }
.number img {position: absolute; left: -1px; top: 0; bottom: 0; width: 50px; height: 44px; object-fit: cover; }