.esport-championship-win-team {
    padding: 70px 40px;
    margin-bottom: 20px;
    background: url(../images/common/esport_championship_win_team_background.jpg);
    background-size: cover;
}
.esport-championship-win-team a {
    display: block;
    background-size: cover;
}
.esport-championship-win-team .image-wrapper {
    margin-right: 35px;
}
.esport-championship-win-team img {
    -webkit-filter: drop-shadow(0px 10px 15px #e52c20);
    filter: drop-shadow(0px 10px 15px #e52c20);
    height: 130px;
    width: 100%;
    object-fit: contain;
}
.esport-championship-win-team .text {
    display: inline-block;
    line-height: 1;
}
.esport-championship-win-team .text span {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: @secondary-font;
}
.esport-championship-win-team .name {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.esport-championship-win-team .status {
    color: #666666;
    font-size: 12px;
}
.esport-championship-win-team > a > div {
    display: inline-block;
    vertical-align: middle;
}
@media (max-width:600px) {
    .esport-championship-win-team .text {
        text-align: center;
        width: 100%;
        margin-top: 30px;
    }
    .esport-championship-win-team .image-wrapper {
        display: block;
        margin: 0;
    }
}