.esport-championship-store-filter li a {
    padding: 5px 0 12px 0;
    display: block;
    position: relative;
    font-size: 14px;
    color: #f2f2f2;
    font-family: Montserrat,sans-serif;
    text-transform: uppercase;
}
.esport-championship-store-filter li {
    padding-right: 30px;
    display: inline-block;
}
.esport-championship-store-filter {
    padding-bottom: 34px;
}
.esport-championship-store-filter li.active a:before, .esport-championship-store-filter li a:hover:before {
    width: 100%;
}
.esport-championship-store-filter li a:before {
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    height: 6px;
    background: #fb6107;
    transition: all .4s;
}