.esport-championship-contact { 
    position: relative;
    background-size: cover;
    overflow: hidden;
}
.esport-championship-contact .wrapper-img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.esport-championship-contact .wrapper-img iframe {
    width: 100%;
    height: 100%;
}
.esport-championship-contact .wrapper-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.esport-championship-contact .information-wrap { 
    position: relative;
    padding-top: 170px;
    padding-bottom: 150px;
    text-align: right;
}
.esport-championship-contact .information-wrap:before {
    content: "";
    position: absolute;
    left: 0;
    right: -10000%;
    top: 0;
    bottom: 0;
    transform: skew(-6deg);
    background-blend-mode: overlay;
    background-image: url(../images/common/espot-champ-pabstorm.jpg);
    background-color: #fb6107;
}
.esport-championship-contact .information-wrap span {
    display: inline-block;
    width: 90%;
    position: relative
}
.esport-championship-contact .information-wrap > div  {
    padding-bottom: 35px;
    text-transform: uppercase;
    color: #fff;
    font-family: @sub-font;
    line-height: 1;
    font-weight: 900;
}
.esport-championship-contact .information-wrap-left {
    position: relative;
    padding-top: 170px;
    padding-bottom: 150px;
    text-align: left;
}
.esport-championship-contact .information-wrap-left .header-first {
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    font-family: @sub-font;
    text-transform: uppercase;
}
.esport-championship-contact .information-wrap-left span {
    display: inline-block;
    width: 100%;
    line-height: 1;
    color: #fff;
    font-size: 16px;
}
.esport-championship-contact .information-wrap-left .header-red {
    color: #ee2c0d;
    font-weight: 900;
    font-family: @sub-font;
    font-size: 48px;
    text-transform: uppercase;
    padding-bottom: 32px;
}
.esport-championship-contact .information-wrap-left > a {
    position: relative;
    padding: 21px 23px 18px 23px;
    display: inline-block;
    background: #e9190f;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    font-family: @secondary-font;
    transition: all .4ms;
    margin-top: 32px;
}
.esport-championship-contact .information-wrap .header-welcom {
    font-size: 32px;
}
.esport-championship-contact .information-wrap .header-arena {
    font-size: 40px;
    color: #000;
}
.esport-championship-contact .information-wrap > span {
    color: #fff;
    font-family: @base-font;
    padding-bottom: 35px;
}
.esport-championship-contact .information-wrap > a {
    position: relative;
    padding: 21px 23px 18px 23px;
    display: inline-block;
    background: #e9190f;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    font-family: @secondary-font;
    transition: all .4ms;
}
.esport-championship-contact .information-wrap > a:hover {
    background: #141414;
    color: #fff;
}

@media (max-width: 992px) {
    .esport-championship-contact .information-wrap:before {
        left: -1000%;
    }
    .esport-championship-contact .information-wrap, .esport-championship-contact .information-wrap-left {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}