.esport-team-landing-subscribe {
    position: relative;
    border: 1px solid #454545;
    padding: 11px 0;
}
.esport-team-landing-subscribe input {
    padding-right: 160px;
    font-size: 16px;
    color: #8d8d8d;
    background: #000;
    line-height: 18px;
}
.esport-team-landing-subscribe button {
    background: #ffcc00;
    color: #141414;
    font-size: 14px;
    line-height: 50px;
    padding: 0 22px;
    font-family: @secondary-font;
    position: absolute;
    top: 11px;
    right: 11px;
    border: none;
    text-transform: uppercase;
}