.esport-team-landing-main-slider .msp_post_slider .msp_post_slide.slide-1 { background: url("../images/common/esport-team-landing-main-slider-slide-1.jpg") no-repeat; background-size: cover; background-position: bottom; }
.esport-team-landing-main-slider .msp_post_slider .msp_post_slide.slide-2 { background: url("../images/common/esport-team-landing-main-slider-slide-2.jpg") no-repeat; background-size: cover; background-position: bottom;}
.esport-team-landing-main-slider .msp_post_slider .msp_post_slide .slider-caption .big-title { color: #fff; font-size: 64px; margin-bottom: 40px;} 
.esport-team-landing-main-slider .msp_post_slider .msp_post_slide .slider-caption .sub-title { color: #a1a1a1; padding-bottom: 10px; }
.esport-team-landing-main-slider .msp_post_slider .owl-dot { background: #ffffff; }
.esport-team-landing-main-slider .msp_post_slider .owl-dot.active { background: #fc0; }