.esport-championship-standings .item {
    display: inline-block;
    width: 100%;
    padding: 25px 24px;
    border-bottom: 1px solid #141414;
    background: #292929;
    transition: all 400ms;
    font-weight: 700;
}
.esport-championship-standings .item:last-child {
    border:none;
}
.esport-championship-standings .buttons-wrapper {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Raleway";
    font-weight: 700;
    color: #e5e5e5;
    line-height: 1;
    padding-top: 40px;
    padding-bottom: 28px
}
.esport-championship-standings .buttons-wrapper > a {
    color: #e5e5e5;
    margin-right: 18px;
}
.esport-championship-standings .buttons-wrapper .league{
    margin-left: 7px;
    color: #fb6107;
    display: inline-flex;
    width: 50%;
}
.esport-championship-standings .name {
    font-size: 12px;
    text-transform: uppercase;
    color: #e5e5e5;    
    font-family: @base-font;
}
.esport-championship-standings .item .number {
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    border-radius: 9px;
    background: #141414;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    text-align: center;
    float: right;
    padding: 0 10px;
}
.esport-championship-standings .item img {
    height: 30px; 
    width: 30px;
    object-fit: cover;
    margin-right: 15px;
}
.esport-championship-standings .standings-position {
    margin-right: 27px;
    display: inline-block;
    vertical-align: middle;
    color: #e5e5e5;
}
.esport-championship-standings .item .standings-position i  {
    margin-right: 9px;
}
.esport-championship-standings .item.up i  {
    color: #4caf50;
}
.esport-championship-standings .item.down i  {
    color: #f44336;
}
.esport-championship-standings .item.none i  {
    color: #999999;
    font-size: 12px;
}
.esport-championship-standings .item:hover {
   background: #141414;
}
.esport-championship-standings .item:hover .name {
    color: #e5e5e5;
}
.esport-championship-standings .item:hover .standings-position {
    color: #e5e5e5;
}
@media (max-width: 676px) {
    .esport-championship-standings .buttons-wrapper > span {
        display: inline-block;
        width: 100%;
        margin-top: 15px;
        text-align: center;
    }
    .esport-championship-standings .buttons-wrapper > a {
        margin: 0;
        font-size: 25px;
    }
    .esport-championship-standings .buttons-wrapper .league {
        width: 100%;
        display: inline-block;
        margin: 0;
        text-align: center;
    }
    .esport-championship-standings .buttons-wrapper .arrow.right {
        float: right;
    }
}

.fade-standings {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.mySlides {
    display: none;
}

.league_name{
    display:none;
}