.esport-team-landing-next-event {
    background: url(../images/common/esport-team-landing-next-event-background.jpg);
    padding: 80px 10px 60px 10px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}
.esport-team-landing-next-event img {
    display: block;
    margin: 0 auto;
    height: 185px;
    width: 200px;
    object-fit: contain;
}
.esport-team-landing-next-event div {
    text-transform: uppercase;
    font-family: @secondary-font;
}
.esport-team-landing-next-event .name {
    font-size: 12px;
    color: #e5e5e5;
    padding-top: 43px;
}
.esport-team-landing-next-event .date {
    font-size: 10px;
    color: #999999;
}