.esport-team-landing-header {
    background-color: rgba(0, 0, 0, .85);
    position: absolute;
    width: 100%;
    top: 30px;
    z-index: 200;
}
.esport-team-landing-header .wrapper {
    display: inline-block;
    width: 100%;
    font-size: 0;
}
.esport-team-landing-header .contacts-wrap {
    float: right;
    width: 20%;
    display: inline-block;
    padding: 0;
    text-align: right;  
}
.esport-team-landing-header .logo { 
    width: 10%;
    float: left;
    height: 80px;
}
.esport-team-landing-header .clear-header {
    width: 70%;
    display: inline-block;
    text-align: right;
}
.esport-team-landing-header .logo > img {
    margin: auto 0;
    object-fit: contain;
    width: 120px;
    height: 100px;
    position: absolute;
    top: -4px;
}
.esport-team-landing-header ul > li {
    display: inline-block;
    padding: 0 25px; 
}
.esport-team-landing-header .contacts-wrap > ul {
    display: inline-block;
    position: relative;
    text-align: right;
}
.esport-team-landing-header .contacts-wrap button {
    color: #fff;
    background: #0061c7;
    font-size: 14px;
    border-radius: 5px;
    padding: 11px 15px;
    text-transform: uppercase;
    font-family: @secondary-font;
    line-height: 1;
    border: none;
}
.esport-team-landing-header .contacts-wrap button i {
    display: none;
}
.esport-team-landing-header .navbar-toggle {
    display: none;
}
.esport-team-landing-header .contacts-wrap > ul > li {
    padding: 0 25px 0 0; 
}
.esport-team-landing-header .contacts-wrap > ul > li > a {
    font-size: 16px;
}
.esport-team-landing-header .clear-header ul > li > a {
    color: #ffcc00;
    font-family: @secondary-font;
    text-transform: uppercase;
    font-size: 14px; 
    position: relative;
}
.esport-team-landing-header ul {
    font-size: 0;
}
.esport-team-landing-header ul > li:first-child {
    padding-left: 0;
}
.esport-team-landing-header ul > li:last-child {
    padding-right: 0;
}
.esport-team-landing-header ul > li > a {
    display: block;
    position: relative;
    padding: 35px 0;
    position: relative;
}
.esport-team-landing-header .clear-header ul > li.active > a:before {
    position: absolute;
    content: "\f0d7";
    color: #fff;
    bottom: 15px;
    font-family: FontAwesome;
    font-size: 16px;
    right: 0;
    left: 0;
    text-align: center;
}
.esport-team-landing-header .clear-header ul > li.active > a {
    color: #fff;
}
.esport-team-landing-header ul > li > a.facebook {
    color:#3b5998;
}
.esport-team-landing-header ul > li > a.twitter {
    color:#1da1f2;
}
.esport-team-landing-header ul > li > a.google {
    color:#dd4b39;
}
.esport-team-landing-header ul > li > a.pinterest {
    color:#bd081c;
}
.esport-team-landing-header ul > li > a > span {
    display: none;
}
@media(max-width: 1200px) {
    .esport-team-landing-header .navbar-collapse.collapse {
        display: block !important;
    }
}
@media (max-width: 992px) {
    .esport-team-landing-header .navbar-collapse.collapse {
        padding: 0;
    }
    .esport-team-landing-header .clear-header {
        width: 90%;
    }
    .esport-team-landing-header .contacts-wrap {
        display: none;
    }
    .esport-team-landing-header .contacts-wrap > ul {
        border-bottom: 1px solid #343333;
        padding: 0;
        text-transform: uppercase;
        text-align-last: justify;
        width: 100%;
    }
}
@media(max-width: 767px) {
    .esport-team-landing-header .contacts-wrap {
        width: 100%;
        text-align: center;
    }
    .esport-team-landing-header .clear-header {
        width: 80%;
        text-align: right;
        float: right;
    }
}
@media (max-width: 680px) { 
    .esport-team-landing-header ul > li > a > span {
        display: none;
    }
    .esport-team-landing-header ul > li > a > i {
        display: block;
    }
    .esport-team-landing-header .clear-header ul > li.active > a:before  {
        display: none;
    }
    .esport-team-landing-header .navbar-toggle { 
        display: block;
        position: relative;
        float: right;
        padding: 5px 11px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
        font-size: 16px;
        margin: 25px 0 20px 0;
        z-index: 1;
        color: rgba(0,0,0,.85);
        background: #fc0;
    }
    .esport-team-landing-header .navbar-collapse.collapse {
        display: none !important;
    }
    .esport-team-landing-header .navbar-collapse.collapse.in {
        display: block !important;
    }
    .esport-team-landing-header .clear-header ul > li {
        display: inline-block;
        width: 100%;
    }
    .esport-team-landing-header .clear-header ul>li {
        padding: 0;
        text-align: center;
    }
    .esport-team-landing-header ul > li > a {
        padding: 20px 0;
    }
    .esport-team-landing-header .logo {
        width: auto;
    }
    .esport-team-landing-header .clear-header {
        width: 100%;
    }
}
@media(max-width:370px) {
    .esport-team-landing-header .contacts-wrap button i {
        display: block;
    }
    .esport-team-landing-header .contacts-wrap button span {
        display: none;
    }
}