.esport-team-landing-footer {
    background: #000;
    padding: 100px 0;
}
.esport-team-landing-footer p {
    color: #cccccc;
    font-size: 16px;
    line-height: 26px;
    font-family: @base-font;
}
.esport-team-landing-footer .header {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-family: @sub-font;
    font-weight: 900;
    color: #fff;
    padding-bottom: 35px;
}
.esport-team-landing-footer .header > span {
    float: right;
}
.esport-team-landing-footer .header > span > a { 
    color: #666666;
}
.esport-team-landing-footer .header > span .arrow.rigth {
    margin-left: 18px;
}
.esport-team-landing-footer .welcome {
    text-transform: uppercase;
    color: #6e6e6e;
    font-family: @secondary-font;
    font-size: 12px;
    padding-bottom: 20px;
    display: block;
    line-height: 1;
}
.esport-team-landing-footer .news-slider {
    position: relative;
    overflow: hidden;
    margin-bottom: 35px;
}
.esport-team-landing-footer .news-wprapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: block;
    float: left;
}
.esport-team-landing-footer .news-wprapper img {
    width: 100%;
}
.esport-team-landing-footer .news-wprapper .news-border {
    position: absolute;
    bottom: 0;
    padding: 15px;
    background-color: rgba(0,0,0,.5);
    font-family: Montserrat;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
}
.esport-team-landing-footer .news-wprapper .news-border > span {
    display: block;
}
.esport-team-landing-foote .date {
    display: inline-block;
    width: 100%;
    color: #ccc;
}
.esport-team-landing-footer .news-slider .name {
    color: #fff;
}
.esport-team-landing-footer .contact-list > li {
    padding-bottom: 30px;
    color: #e7e7e5;
    font-size: 16px;
}
.esport-team-landing-footer .contact-list > li a {
    color: #e7e7e5;
}
.esport-team-landing-footer .contact-list > li i {
    margin-right: 7px;
}
@media (max-width: 767px) {
    .esport-team-landing-footer {
        padding: 50px 0;
    }
}


.footerSlide {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.footerSlide {
    display: none;
}
