ul.esport-championship-timline-tabs {
    display: block;
    text-align-last: justify;
    border-bottom: 2px dashed #666666;
    padding-right: 10%;
    position: relative;
    margin-bottom: 45px;
}
ul.esport-championship-timline-tabs:before {
    content: "";
    position: absolute;
    border-bottom: 2px dashed #666;
    right: 100%;
    left: -100%;
    bottom: -2px;
}
ul.esport-championship-timline-tabs:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #666;
}
ul.esport-championship-timline-tabs > li {
    display: inline-block;
}
ul.esport-championship-timline-tabs > li > a {
    display: block;
    position: relative;
    font-family: @base-font;
    font-size: 12px;
    color: #999999;
    padding: 25px 0;
}
ul.esport-championship-timline-tabs > li.active > a:before {
    background: linear-gradient(to bottom,#ff6600 30%,#ec230e 60%);
    border: none;
    background-color: #ff6600;
    background-blend-mode: hard-light;
    box-shadow: 0px 0px 20px rgb(251,91,7);
}
ul.esport-championship-timline-tabs > li.active > a {
    color: #fff;
}
ul.esport-championship-timline-tabs > li > a:before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #666;
    border: 2px solid #000;
    position: absolute;
    bottom: -8px;
    left: 0;
}