.esport_championship_participants a {
    display: block;
    position: relative;
    padding: 65px 30px;
    background: #212121;
    margin-bottom: 35px;
    transition: all 400ms;
    position: relative;
}
.esport_championship_participants a:hover {
    box-shadow: 0 0 50px rgba(251,91,7,.8);
    background-color: #fb6107;
}
.esport_championship_participants .background-team {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: none;
}
.esport_championship_participants a:hover .background-team  {
    mix-blend-mode: overlay;
    display: block;
}
.esport_championship_participants a > img {
    height: 110px;
    width: 110px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    position: relative;
}
.esport_championship_participants a > span {
    text-align: center;
    color: #e5e5e5;
    font-size: 11.16px;
    font-family: @secondary-font;
    display: inline-block;
    width: 100%;
    transition: all .4s;
    position: relative;
}
.esport_championship_participants a:hover > span {
    color:#fff;
}
@media(max-width:580px) {
    .esport_championship_participants a {
        margin: 0 2px 2px 0;
        padding: 50px 5px;
    }
    .esport_championship_participants .row.no-guters > [class*=" col-"], 
    .esport_championship_participants .row.no-guters > [class^=col-] {
        padding-right: 0;
        padding-left: 0;
    }
    .esport_championship_participants .row.no-guters {
        margin-right: 0;
        margin-left: 0;
    }
}