.esport-championship-sponsors {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 10px solid #141414;
    overflow: hidden;
}
.esport-championship-sponsors span {
    font-size: 18px;
    font-weight: 700;
    font-family: @sub-font;
    display: inline-block;
    width: 100%;
    line-height: 1;
    color: #e5e5e5;
}
@media(max-width:992px) {
    .esport-championship-sponsors {
       padding-bottom: 20px;
        padding-top: 20px;
    }
    .esport-championship-sponsors .sponsors {
        text-align: center;
        padding-bottom: 20px;
    }
    .esport-championship-sponsors span {
        display: inline;
        font-size: 24px;
        text-align: center;
        padding-bottom: 20px;
    }
}