.esport-championship-comm-wrap .item {   
    margin-bottom: 2px;
    padding: 20px;
    background: #202020;
    border-radius: 2px;
    position: relative;
    display: flex;
    overflow: hidden;
}
.esport-championship-comm-wrap .item > div {
    margin: auto 0;
}
.esport-championship-comm-wrap .item > div > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #e6e6e6;
    overflow: hidden;
    object-fit: cover;
}
.esport-championship-comm-wrap .item .info {
    padding-left: 20px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: @secondary-font;
}
.esport-championship-comm-wrap .item .hover-wrapper > ul > li {
    display: inline-block;
}
.esport-championship-comm-wrap .item .hover-wrapper > ul > li > a {
    color: #fff;
    font-size: 16px;
}
.esport-championship-comm-wrap .item .hover-wrapper > ul {
    top: -100%;
    position: absolute;
    width: 100%;
    text-align-last: justify;
    padding: 0 78px;
    text-align: center;
    transform: translateY(-100%);
    left: 0;
    transition: all .2s ease-in-out 0s,visibility 0s linear .3s,z-index .2s linear 5ms;
}
.esport-championship-comm-wrap .item:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom,rgba(255, 102, 0, .9) 30%, rgba(236, 35, 14, .9) 60%);
    background-color: #f60;
    background-blend-mode: overlay;
    transition: all .2s ease-in-out 0s,visibility 0s linear .3s,z-index .2s linear 5ms;
    opacity: .8;
    height: 0;
    content: "";
}
.esport-championship-comm-wrap .item .info .name {
    color: #fff;
    font-size: 14px;
}
.esport-championship-comm-wrap .item .info .country {
    font-size: 10px;
    color: #e5e5e5;
}
.esport-championship-comm-wrap .item .info .country img {
    margin-right: 5px;
}
.esport-championship-comm-wrap .item:hover {
    box-shadow: 0 0 50px rgba(251,91,7,.8);
    z-index: 20;
}
.esport-championship-comm-wrap .item:hover:before {
    height: 100%;
}
.esport-championship-comm-wrap .item:hover .hover-wrapper > ul {
    top: 50%;
    transform: translateY(-50%);
}
@media(max-width: 992px){
    .esport-championship-comm-wrap .item {
        display: block;
    }
    .esport-championship-comm-wrap .item > div {
        display: block;
        width: 100%;
        text-align: center;
    }
    .esport-championship-comm-wrap .item .info {
        padding: 0;
    }
    .esport-championship-comm-wrap .item .hover-wrapper > ul {
        padding: 0 20px;
    }
}