.esport-championship-latest-videos img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.esport-championship-latest-videos .wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.esport-championship-latest-videos .wrapper .width {
    height: 100%;
}
.esport-championship-latest-videos .ifram-wrapper {
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.esport-championship-latest-videos .wrapper .news-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
}
.esport-championship-latest-videos .wrapper .news-wrapper iframe {
    display: none;
}
.esport-championship-latest-videos iframe {
    width: 100%;
    height: 100%;
    height: 500px;
}
.esport-championship-latest-videos .news-border {
    position: absolute;
    bottom: 0;
    padding: 15px;
    background-color: rgba(0,0,0,.5);
    font-family: Montserrat;
    display: block;
    left: 1px;
    right: 1px;
    bottom: 1px;
}
.esport-championship-latest-videos .date {
    display: inline-block;
    width: 100%;
    color: #cccccc;
}
.esport-championship-latest-videos .name   {
    color: #fff;
    line-height: 1;
}
.esport-championship-latest-videos .youtube {
    color: #cd201f;
    margin: 0 4px;
}

.esport-championship-latest-videos ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media(max-width:992px) {
    .esport-championship-latest-videos .wrapper .news-wrapper {
        float: left;
        height: 210px;
    }
    .esport-championship-latest-videos .wrapper  {
        overflow-x: scroll;
    }
    .esport-championship-latest-videos .wrapper .width {
        position: relative;
        display: flex;
    }

}