.esport_championship_twitter_slider {
    position: relative;
    padding: 75px 0;
    background: url(../images/common/esport_championship_twitter_slider.jpg);
    background-size: cover;
    background-position: center;
}
.esport_championship_twitter_slider .wrap {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.esport_championship_twitter_slider .wrap > a { 
    color: #1da1f2;
    font-size: 24px;
    padding-bottom: 34px;
    display: block;
}
.esport_championship_twitter_slider .wrap .text {
    font-size: 24px; 
    font-family: @base-font;
    color: #fff;
    padding-bottom: 58px;
}
.esport_championship_twitter_slider .wrap .text > a {
    font-weight: 700;
    color: #fff;
    padding: 0 5px;
}
.esport_championship_twitter_slider .wrap .copyright {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}
.esport_championship_twitter_slider .nav-arrow {
    display: none;
}
@media (max-width: 767px) {
    .esport_championship_twitter_slider .wrap {
        width: 100%;
    }
}