.esport-championship-places > a {
    padding: 35px 30px;
    background: #fff;
    display: flex; 
    margin-bottom: 2px;
    position: relative;
}
.esport-championship-places > a:last-child {
    margin-bottom: 0;
}
.esport-championship-places > a > .team-logo {
    height: 65px;
    width: 65px;
    object-fit: cover;
    margin: auto 0;
    position: relative;
}
.esport-championship-places > a > .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.esport-championship-places > a > span {
    text-transform: uppercase;
    line-height: 25px;
    font-family: @base-font;
    position: relative;
}
.esport-championship-places > a > span {
    margin: auto 15px;
}
.esport-championship-places > a > span > span {
    display: block;
}
.esport-championship-places > a > span > .name {
    color: #e5e5e5;
    font-size: 18px;
    font-weight: 900;
}
.esport-championship-places > a > span > .place {
    color: #666666;
    font-size: 12px;
}