.esport-team-landing-news img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.esport-team-landing-news .news-border {
    position: absolute;
    bottom: 0;
    padding: 15px;
    background-color: rgba(0,0,0,.5);
    font-family: Montserrat;
    display: block;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.esport-team-landing-news .date {
    display: inline-block;
    width: 100%;
    color: #cccccc;
}
.esport-team-landing-news .name   {
    color: #fff;
    line-height: 1;
}
.esport-team-landing-news .news-wprapper {
    position: relative;
    height: 100%;
    overflow: hidden;  
    display: block;
}
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.esport-team-landing-news .row.no-gutters > [class^="col-"],
.esport-team-landing-news .row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.esport-team-landing-news .item{
    touch-action:pan-y;
} 

@media(max-width:992px) {
    .esport-team-landing-news .row-eq-height {
        display: block;
    }
}