.esport-team-landing-contact { 
    position: relative;
    background-size: cover;
    overflow: hidden;
}
.esport-team-landing-contact .wrapper-img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.esport-team-landing-contact .wrapper-img iframe {
    width: 100%;
    height: 100%;
}
.esport-team-landing-contact .wrapper-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.esport-team-landing-contact .information-wrap span {
    display: inline-block;
    width: 90%;
    position: relative
}
.esport-team-landing-contact .information-wrap > div  {
    padding-bottom: 35px;
    text-transform: uppercase;
    color: #fff;
    font-family: @sub-font;
    line-height: 1;
    font-weight: 900;
}
.esport-team-landing-contact .information-wrap-left {
    position: relative;
    padding-top: 170px;
    padding-bottom: 150px;
    text-align: left;
}
.esport-team-landing-contact .information-wrap-left .header-first {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    font-family: @sub-font;
    text-transform: uppercase;
}
.esport-team-landing-contact .information-wrap-left span {
    display: inline-block;
    width: 100%;
    line-height: 1;
    color: #fff;
    font-size: 16px;
}
.esport-team-landing-contact .information-wrap-left .header-red {
    color: #ffcf0f;
    font-weight: 900;
    font-family: @sub-font;
    font-size: 48px;
    text-transform: uppercase;
    padding-bottom: 32px;
}
.esport-team-landing-contact .information-wrap-left > a {
    position: relative;
    padding: 21px 23px 18px 23px;
    display: inline-block;
    background: #ffcf0f;
    border-radius: 10px;
    text-transform: uppercase;
    color: #141414;
    line-height: 1;
    font-family: @secondary-font;
    transition: all .4ms;
    margin-top: 32px;
}

@media (max-width: 992px) {
    .esport-team-landing-contact .information-wrap-left {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}