.esport-team-landing-about {
    padding-top: 70px;
    padding-bottom: 50px;
}
.esport-team-landing-about p {
    color: #e5e5e5;
    font-size: 16px;
    font-family: @base-font;
    line-height: 26px;
    padding-top: 28px;
}
.esport-team-landing-about span {
    display: inline-block;
    width: 100%;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    font-family: @sub-font;
    vertical-align: middle;
    font-weight: 900;
    word-wrap: break-word;
    line-height: 1;
}
.esport-team-landing-about .feature > img {
    -webkit-filter: drop-shadow(0 10px 15px #ffcf0f);
    filter: drop-shadow(0 10px 15px #ffcf0f);
}
.esport-team-landing-about .feature > span {
    width: 40%;
    color: #e5e5e5;
}
.esport-team-landing-about .small-title {
    font-size: 40px;
}
.esport-team-landing-about .big-title {
    font-size: 48px;
    color: #ffcf0f;
}
.esport-team-landing-about a {
    position: relative;
    padding: 21px 23px 18px 23px;
    display: inline-block;
    background: #ffcf0f;
    border-radius: 10px;
    text-transform: uppercase;
    color: #141414;
    line-height: 1;
    font-family: Montserrat;
    transition: all .4ms;
    margin-top: 32px;
}
.esport-team-landing-about a:hover {
    background: #141414;
    color: #fff;
}
@media (max-width: 992px) {
    .esport-team-landing-about .text-right {
        text-align: center;
        padding-top: 40px;
    }
}
@media (max-width: 767px) {
    .esport-team-landing-about span {
        text-align: center;
    }
    .esport-team-landing-about  p {
        text-align: center;
    }
    .esport-team-landing-about .feature > span {
        width: 100%;
    }
}