.esport-championship-latest-matches > a {
    padding: 18px 40px;
    border-bottom: 1px solid #000;
    display: block;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 400ms;
    position: relative;
    background-color: #fb6107;
}
.esport-championship-latest-matches > a:last-child {
    border: none;
}
.esport-championship-latest-matches > a > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.esport-championship-latest-matches > a:hover > img {
    mix-blend-mode: overlay;
}
.esport-championship-latest-matches > a > div {
    display: inline-block;
    width: 100%;
    font-size: 0;
    position: relative;
}
.esport-championship-latest-matches > a > span { 
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Montserrat;
    width: 100%;
    text-align: center;
    color: #999999;
    padding: 15px 0;
    position: relative;
}
.esport-championship-latest-matches > a > div > .team { 
    display: inline-block;
    width: 40%;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    color: #e5e5e5;
}
.esport-championship-latest-matches > a > div > .team.left > span > img {
    margin-right: 12px;
}
.esport-championship-latest-matches > a > div > .team.right > span > img {
    margin-left: 12px;
}
.esport-championship-latest-matches > a > div > .team > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}
.esport-championship-latest-matches > a > div > .team > span > img {
    width: 56px;
    height: 56px;
    object-fit: cover;
}
.esport-championship-latest-matches > a > div > .team > .team-name {
    padding: 3px 3px 2px 3px;
    position: relative;
}
.esport-championship-latest-matches > a > div > .score {
    display: inline-block;
    width: 20%;
    text-align: center;
    vertical-align: middle;
}
.esport-championship-latest-matches > a > div > .score > span {
    min-width: 50px;
    padding: 14px 18px;
    box-sizing: border-box;
    display: inline-block;
    background: #141414;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    border-radius: 10px;
}
.esport-championship-latest-matches > a > div > .team.right {
    direction: rtl;
    text-align: right;
}
.esport-championship-latest-matches > a:hover {
    box-shadow: 0 0 50px rgba(251,91,7, .8);
    z-index: 20;
}
.esport-championship-latest-matches > a:hover > span {
    color: #141414;
}
.esport-championship-latest-matches > a > div > .team:hover {
    overflow: visible;
}
.esport-championship-latest-matches > a > div > .team:hover .team-name {
    z-index: 100;
    box-shadow: 0 0 5px 2px #1f1f1f;
    border-radius: 3px;
    background: #141414;
}
@media (max-width:560px) {
    .esport-championship-latest-matches > a {
        padding: 18px 10px;
    }
    .esport-championship-latest-matches > a > div > .score,
    .esport-championship-latest-matches > a > div > .team {
        width: 100%;
        text-align: center;
        white-space: normal;
    }
    .esport-championship-latest-matches > a > div > .team.right {
        text-align: center;
        margin-top: 20px;
    }
    .esport-championship-latest-matches > a > div > .team.left {
        margin-bottom: 20px;
    }
    .esport-championship-latest-matches > a > div > .team > span {
        display: block;
    }
    .esport-championship-latest-matches > a > div > .team.right > span > img, 
    .esport-championship-latest-matches > a > div > .team.left > span > img {
        margin: 0;
        margin-bottom: 5px;
    }
    .esport-championship-latest-matches>a>div>.team:hover .team-name {
        background: none;
        box-shadow: none;
    }
} 