.esport-team-landing-twitter-slider {
    position: relative;
    padding: 75px 0;
    background: url(../images/common/esprot-team-laning-twitter-background.jpg);
    background-size: cover;
    background-position: center;
}
.esport-team-landing-twitter-slider .wrap {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.esport-team-landing-twitter-slider .wrap > a { 
    color: #1da1f2;
    font-size: 24px;
    padding-bottom: 34px;
    display: block;
}
.esport-team-landing-twitter-slider .wrap .text {
    font-size: 24px; 
    font-family: @base-font;
    color: #fff;
    padding-bottom: 58px;
}
.esport-team-landing-twitter-slider .wrap .text > a {
    font-weight: 700;
    color: #fff;
    padding: 0 5px;
}
.esport-team-landing-twitter-slider .wrap .copyright {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}
.esport-team-landing-twitter-slider .nav-arrow.left-arrow {
    padding-left: 36px;
    left: 0;
    text-align: left;
}
.esport-team-landing-twitter-slider .nav-arrow.right-arrow {
    padding-right: 36px;
    right: 0;
    text-align: right;
}
.esport-team-landing-twitter-slider .nav-arrow {
    width: 68px;
    height: 60px;
    box-sizing: border-box;
    line-height: 60px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    color: #fff;
    font-size: 12px;
    background: #0099ff;
    z-index:2;
}
.esport-team-landing-twitter-slider .nav-arrow.left-arrow:before {
    content: '';
    position: absolute;
    top: 0;
    right: -7px;
    bottom: 0;
    width: 12px;
    transform: skew(-10deg);
    background: #0099ff;
    transition: all .4s;
}
.esport-team-landing-twitter-slider .nav-arrow.right-arrow:before {
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    bottom: 0;
    width: 12px;
    transform: skew(-10deg);
    background: #0099ff;
    transition: all .4s;
}
.esport-team-landing-twitter-slider .nav-arrow.left-arrow:hover:before, .esport-team-landing-twitter-slider .nav-arrow.right-arrow:hover:before{
    background: #ffcf0f;
}
.esport-team-landing-twitter-slider .nav-arrow:hover {
    color: #000;
    background: #ffcf0f;
}
@media (max-width: 767px) {
    .esport-team-landing-twitter-slider .wrap {
        width: 100%;
    }
    .esport-team-landing-twitter-slider .nav-arrow {
        display: none;
    }
}