.esport-championship-about-trophey {
    background: url(../images/common/esport-champ-about-background.jpg);
    padding-top: 40px;
    padding-bottom: 45px;
}
.esport-championship-about-trophey .trophey-wrap {
   display: inline-block;
   width: 100%;
   border: 1px solid #7a6851;
   padding: 27px 0 25px 0;
}
.esport-championship-about-trophey .trophey-wrap img {
    width: 149px;
    height: 149px;
    object-fit: cover;
}
.esport-championship-about-trophey .trophey-wrap > span {
    display: inline-block;
    font-family: @secondary-font;
    width: 100%;
    text-align: center;
}
.esport-championship-about-trophey .trophey-wrap .name {
    color: #fff;
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 900;
    padding-top: 20px;
}
.esport-championship-about-trophey .trophey-wrap .date {
    font-size: 11.16px;
    color: #e5e5e5;
}
.esport-championship-about-trophey .trophey-wrap > span > span {
    display: block;
}
.esport-championship-about-trophey .wrap {
    display: block;
    width: 100%;
    border: 1px solid #888888; 
    margin-bottom: 35px;
    padding: 30px 0;
}
.esport-championship-about-trophey .wrap > span {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: @secondary-font;
}
.esport-championship-about-trophey .wrap .head { 
    color: #e5e5e5;
    font-size: 11.6px;
}
.esport-championship-about-trophey .wrap .info {
    font-size: 28px;
    color: #fff;
    font-weight: 900;
}