/*Tabs*/
.esport-championship-players ul.esport-players {
    padding-bottom: 34px;
    padding-left: 0;
}
.esport-championship-players ul.esport-players li {
    padding-right: 30px;
    display: inline-block;
}
.esport-championship-players ul.esport-players li a {
    padding: 5px 0 12px 0;
    display: block;
    position: relative;
    font-size: 14px;
    color: #f2f2f2;
    font-family: @secondary-font, sans-serif;
    text-transform: uppercase;
}
.esport-championship-players ul.esport-players li a:before {
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    height: 6px;
    background: #fb6107;
    transition: all .4s;
}
.esport-championship-players ul.esport-players li.active a:before {
    width: 100%;
}
.esport-championship-players ul.esport-players li.active a {
    color: #fb6107; 
}
/*Players*/
.esport-championship-players .wrap {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.esport-championship-players .wrap .width {
    width: 10000px;
    position: relative;
}
.esport-championship-players .wrap a {
    position: relative;
    display: inline-block;
    margin-left: 0px;
    float: left;
    overflow: hidden;
    background-color: #ff6600;
    width: 228px;
    height: 400px;
    transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.esport-championship-players .wrap a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.esport-championship-players .wrap a > .name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    padding: 30px 27px;
    font-family: @secondary-font;
    line-height: 1;
    text-transform: uppercase;
    background: linear-gradient(to top,rgba(0,0,0,.5) 27%,rgba(0,0,0,.1) 79%);
}
.esport-championship-players .wrap .info-bord {
    position: absolute;
    bottom: 0;
    padding: 30px;
    display: none;
    width: 100%;
}
.esport-championship-players .wrap .info-bord .name {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    font-family: @secondary-font;
    padding-bottom: 25px;
    white-space: nowrap;
}
.esport-championship-players .wrap .info-bord .progress-line {
    width: 100%;
    position: relative;
    background: #ffcf0f;
    height: 4px;
    display: inline-block;
}
.esport-championship-players .wrap .info-bord .bar {
    width: 78%;
    position: absolute;
    background: #141414;
    top: 0;
    left: 0;
    bottom: 0;
}
.esport-championship-players .wrap .bar-label {
    display: inline-block;
    width: 100%;
    font-size: 0;
}
.esport-championship-players .wrap .progress-item {
    font-weight: 700;
}
.esport-championship-players .wrap .achievement {
    width: 80%;
    vertical-align: top;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    color: #141414;
    line-height: 1;
}
.esport-championship-players .wrap .score {
    width: 20%;
    vertical-align: top;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    color: #141414;
    text-align: right;
    line-height: 1;
}
.esport-championship-players .wrap a:hover {  
    box-shadow: 0 0 50px rgba(251,91,7,.8);
    z-index: 20;
}
.esport-championship-players .wrap a:hover > .name {
    display: none;
}
.esport-championship-players .wrap a:hover .info-bord {
    display: block;
}
.esport-championship-players .wrap a:hover img {
    mix-blend-mode: overlay;
}
.esport-championship-players .wrap a:hover {  
    width: 310px;
}
.esport-championship-players .wrap a:last-child:hover {
    margin-left: -82px;
}
@media (max-width:1200px) {
    .esport-championship-players .wrap a:last-child:hover {
        margin-left: 0px;
    }
}
@media (max-width:320px) {
    .esport-championship-players .wrap a:hover {
        width: 290px;
    }
}

.esport-championship-players ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

