.esport_champoinship_main_slider {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.esport_champoinship_main_slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.esport_champoinship_main_slider .main-slide-post {
    display: block;
    position: relative;
    width: 60%;
    float: left;
}
.esport_champoinship_main_slider .older-slide-posts {
    width: 40%;
    display: block;
    position: relative;
    float: left;
}
.esport_champoinship_main_slider .older-slide-posts > div {
    position: relative;
    width: 100%;
}
.esport_champoinship_main_slider .wrapper {
    position: relative;
    height: 100%;
}
.esport_champoinship_main_slider .wrapper > div {
    position: absolute;
    bottom: 0;
    padding: 45px 50px;
    background: linear-gradient(to top,rgba(0,0,0,.5)27%,rgba(0,0,0,.1)79%);
    left: 0;
    right: 0;
}
.esport_champoinship_main_slider .wrapper > div > span {
    display: inline-block;
    width: 100%;
    line-height: 1;
    color: #fff;
    font-size: 12px;
    font-family: @secondary-font;
}
.esport_champoinship_main_slider .timeline {
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: #000;
    position: absolute;
}
.esport_champoinship_main_slider .timeline > span {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right,#ff6600 44%,#ff3300 63%);
    width: 60%;
}
.esport_champoinship_main_slider .wrapper .text {
    font-size: 32px;
    font-weight: 700;
    font-family: @sub-font;
}
.esport_champoinship_main_slider .older-slide-posts .wrapper .text {
    font-size: 20px;
} 
.esport_champoinship_main_slider .arrows-wrapper a {
    z-index: 10;
    width: 68px;
    height: 60px;
    box-sizing: border-box;
    line-height: 60px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    color: #fff;
    font-size: 12px;
    background: #141414;
}
.esport_champoinship_main_slider .arrow-left {
    padding-left: 36px;
    left: 0;
    text-align: left;
}
.esport_champoinship_main_slider .arrow-right {
    padding-right: 36px;
    right: 0;
    text-align: right;
}
.esport_champoinship_main_slider .arrow-left:before {
    content: '';
    position: absolute;
    top: 0;
    right: -7px;
    bottom: 0;
    width: 12px;
    transform: skew(-10deg);
    background: #141414;
    transition: all .4s;
}
.esport_champoinship_main_slider .arrow-right:before {
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    bottom: 0;
    width: 12px;
    transform: skew(-10deg);
    background: #141414;
    transition: all .4s;
}
.esport_champoinship_main_slider .item_vertical:hover .text {
    color: #f60;
    transition: all .4ms;
}
@media(max-width:992px) {
    .esport_champoinship_main_slider {
        display: block;
    }
    .esport_champoinship_main_slider .main-slide-post {
        width: 100%;
    }
    .esport_champoinship_main_slider .older-slide-posts {
        display: none;
    }
}
@media(max-width:767px) {
    .esport_champoinship_main_slider .wrapper > div {   
        padding: 30px 20px;
    }
}
@media(max-width:550px) {
    .main-slide-post{
        height: 450px;

    }
}

.item_vertical{
    height: 50%;
    position: relative;
}

#horizontal-wrapper{
    width: 1000000px;
    position: relative;
    height: 100%
}

#horizontal-wrapper .wrapper{
    float: left;
    position: relative;
    width: 1104px;
}


.older-slide-posts #wrapper{
    height: 800px;
}
