.sport-team-lp-header {
    background: rgba(50, 50, 50, 0.8);
    z-index: 100;
    position: relative;
    width: 100%;
}
.sport-team-lp-header .logo { 
    position: relative;
    float: left;
    width: 121px;
    height: 86px;
    background: #fc0;
    display: flex;
    border-radius: 10px 10px 10px 10px~"/"50px 50px 50px 50px;
}
.sport-team-lp-header .logo img {
    margin: auto;
    height: 60px;
    width: 63px;
    object-fit: cover;
}
.sport-team-lp-header ul { 
    text-align: right;
    float: right;
}
.sport-team-lp-header .logo:before {
    content: "";
    position: absolute;
    border-width: 0 53px 25px;
    border-style: solid;
    border-color: transparent transparent #fc0;
    transform: rotate(180deg);
    top: 99%;
    right: 6px;
    left: 6px;
    z-index: 200;
}
.sport-team-lp-header ul > li {
    display: inline-block;
    padding: 35px 0;
    line-height: 1;
}
.sport-team-lp-header ul > li.active > a {
    color: #fff;
    position: relative;
}
.sport-team-lp-header ul > li.active:first-child > a:before {
    margin-left: -25px;
}
.sport-team-lp-header ul > li.active:last-child > a:before {
    margin-left: 25px;
}
.sport-team-lp-header ul > li.active > a:before {
    position: absolute;
    content: "\f0d7";
    color: #fff;
    bottom: -20px;
    font-family: FontAwesome;
    font-size: 16px;
    right: 0;
    left: 0;
    text-align: center;
}
.sport-team-lp-header ul > li > a { 
    padding: 0 25px;
    color: #c7c7c7;
    font-family: @secondary-font;
    text-transform: uppercase;
    font-size: 14px; 
}
.sport-team-lp-header button { 
    display: none;  
    position: relative;
    float: right;
    padding: 5px 11px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 24px 0 0 0;
    z-index: 1;
    background: #fc0;
}
.sport-team-lp-header ul > li:last-child > a { 
    padding-right: 0px;
}
.sport-team-lp-header ul > li:first-child > a { 
    padding-left: 0px;
}
.sport-team-lp-header .navbar-collapse.collapse {
    padding: 0px;
}
.style-menu{
    background: rgba(50, 50, 50, 1);
    z-index: 100;
}

@media (max-width: 1200px) {
    .sport-team-lp-header .navbar-collapse.collapse {
        display: block !important;
    }
}
@media (max-width: 992px) {
    .sport-team-lp-header .logo {
        float: none;
        margin: 0 auto;
    }
    .sport-team-lp-header ul {
        text-align: center;
        margin-top: 20px;
        width: 100%;
    }
}
@media (max-width: 680px) { 
    .sport-team-lp-header button { 
        display: block;
    }
    .sport-team-lp-header .logo {
        float: left;
    }
    .sport-team-lp-header ul > li > a {
        padding: 0;
    }
    .sport-team-lp-header ul> li {
        width: 100%;
        padding: 15px 0;
    } 
    .sport-team-lp-header .navbar-collapse.collapse {
        display: none !important;
    }
    .sport-team-lp-header .navbar-collapse.collapse.in {
        display: block !important;
    }
    .sport-team-lp-header .clear-header {
        clear: both;
        border: none;
    }
    .sport-team-lp-header ul > li.active > a:before { 
        display: none;
    }
    .sport-team-lp-header ul {
        margin-bottom: 20px;
    }
}