
.landing-sport-footer-links {
    background: #fff;
    border-bottom: 1px solid #f7f7f7;
}
.landing-sport-footer-links ul {
    text-align-last: justify;
}
.landing-sport-footer-links ul > li {
    display: inline-block;
}
.landing-sport-footer-links ul > li > a {
    font-family: @secondary-font;
    font-size: 16px;
    text-transform: uppercase;
    padding: 44px 0;
    display: block;
}
.landing-sport-footer-links ul > li > a > i {
    display: none;
}
.landing-sport-footer-links ul > li:last-child {
    padding-right: 35px;
}
.landing-sport-footer-links ul > li:first-child a {
    padding-left: 35px;
}

.landing-sport-footer-links ul > li.facebook a {
    color: #4668b2;
}
.landing-sport-footer-links ul > li.twitter a {
    color: #1da1f2;
}
.landing-sport-footer-links ul > li.google a {
    color: #dd4b39;
}
.landing-sport-footer-links ul > li.instagram a {
    color: #833ab4;
}
.landing-sport-footer-links ul > li.youtube a {
    color: #cd201f;
}

@media (max-width: 767px) {
    .landing-sport-footer-links ul > li > a > i {
        display: block;
    }
    .landing-sport-footer-links ul > li > a > span {
        display: none;
    }
}