.landing-sport-galery {
    position: relative;
    overflow: hidden;
}
.landing-sport-galery .wrapper {
    width: 10000px;
    position: relative;
}
.landing-sport-galery .wrapper .item {
    float: left;
    height: 282px;
    position: relative;
    overflow: hidden;
    display: block;
}
.landing-sport-galery .border {
    padding: 24px 10px 10px 30px;
    transition: all .4s;
    width: 40%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    display: block;
    z-index: 1;
}
.landing-sport-galery .border span {
    position: relative;
    color: #1f1f1f;
    font-family: @secondary-font;
    font-size: 16px;
}
.landing-sport-galery .wrapper .item:hover .border {
    left: 0;
}
.landing-sport-galery .border:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 1px;
    left: -30px;
    right: -25px;
    background-color: #fc0;
    transform: skew(-10deg);
    background-blend-mode: overlay;
    opacity: 0.87;
}


.landing-sport-galery .owl-carousel .item {
    float: left;
    height: 282px;
    position: relative;
    overflow: hidden;
    display: block;
    width:100%;
    touch-action:pan-y;
}

.landing-sport-galery .owl-carousel .item:hover .border {
    left: 0;
}

.landing-sport-galery .owl-carousel .item img {
    border-bottom: 1px solid #f7f7f7;
    width: 100%;
    height: 100%;
    object-fit: cover;
    //max-width: 560px;
}