.landing-sport-quote {
    padding-top: 20px;
}
.landing-sport-quote {
    max-width: 100%;
}
.landing-sport-quote span {
    display: inline-block;
    width: 100%;
    color: #1f1f1f;
    text-transform: uppercase;
    font-size: 14px;
}

.landing-sport-quote span.coach {
    color: #666666;
    font-size: 12px;
}
.landing-sport-quote blockquote {
    padding-left: 56px;
    border: none;
    position: relative;
    font-size: 32px;
    line-height: 42px;
    padding: 90px 0 20px 0;
    color: #1f1f1f;
}
.landing-sport-quote blockquote:before {
    content: "\201c";
    position: absolute;
    left: 0;
    font-weight: 700;
    top: 4px;
    font-size: 48px;
    line-height: 48px;
    z-index: 0;
    color: #1f1f1f;
    font-family: @sub-font;
}
.landing-sport-quote .wrapper {
    padding-top: 100px;
    padding-bottom: 50px;
}
@media(max-width: 992px) {
    .landing-sport-quote .wrapper { 
        padding: 50px 0;
    }
    .landing-sport-quote { 
        padding: 0;
    }
}