.landing-sport-main-slider .msp_post_slider .msp_post_slide.slide-1 { background: url("../images/common/landing-sport-slide.jpg") no-repeat; background-size: cover; background-position: bottom; }
.landing-sport-main-slider .msp_post_slider .msp_post_slide.slide-2 { background: url("../images/common/landing-sport-slide-2.jpg") no-repeat; background-size: cover; background-position: bottom;}
.landing-sport-main-slider .msp_post_slider .msp_post_slide .slider-caption .big-title { color: #333333; font-size: 64px; } 
.landing-sport-main-slider .msp_post_slider .msp_post_slide .slider-caption .sub-title { color: #a1a1a1; padding-bottom: 10px; }
.landing-sport-main-slider .msp_post_slider .owl-dot { background: #c7c7c7; }
.landing-sport-main-slider .msp_post_slider .owl-dot.active { background: #fc0; }