
.landing-sport-store .esport-store-list-item > div { 
    padding-bottom: 75px;  
    display: block; 
    position: relative; 
    overflow: hidden; 
    background-color: #ffcf0f;
    margin-bottom: 30px;
}
.landing-sport-store .esport-store-list-item img { 
    width: 100%; 
    height: 380px;
    object-fit: cover;
}
.landing-sport-store .esport-store-list-item > div .info { 
    padding: 15px 24px 17px 24px; 
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: -35px; 
    display: block; 
    z-index: 2; 
    transition: all 400ms; 
    bottom: 0;
}
.landing-sport-store .esport-store-list-item > div .info:before { 
    content: ''; 
    position: absolute; 
    left: -20px; 
    right: -10px; 
    bottom: -50px; 
    height: 200%; 
    transform: rotate(4deg); 
    transition: all 400ms; top: -10px; 
    background: #fcfcfc; 
    z-index: 1; 
}
.landing-sport-store .esport-store-list-item .name { 
    font-size: 14px; 
    color: #292929; 
    line-height: 20px; 
    font-weight: bold; 
    display: block; 
    z-index: 1; 
    position: relative; 
}
.landing-sport-store .esport-store-list-item .price {
    display: block; 
    font-size: 20px; 
    color: #666666; 
    z-index: 1; 
    position: relative; 
}
@media (max-width: 767px) {
    .landing-sport-store .esport-store-list-item > div {
        margin: 0 auto 30px;
        width: 264px;
    }
}