.landing-sport-latest-matches > a {
    padding: 18px 40px;
    background: #fff;
    border-bottom: 1px solid #d8d8d8;
    display: block;
    box-sizing: border-box;
}
.landing-sport-latest-matches > a > div {
    display: inline-block;
    width: 100%;
    font-size: 0;
}
.landing-sport-latest-matches > a > span { 
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Montserrat;
    width: 100%;
    text-align: center;
    color: #4c4c4c;
    padding: 15px 0;
}
.landing-sport-latest-matches > a > div > .team { 
    display: inline-block;
    width: 40%;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    color: #141414;
}
.landing-sport-latest-matches > a > div > .team.left > span > img {
    margin-right: 12px;
}
.landing-sport-latest-matches > a > div > .team.right > span > img {
    margin-left: 12px;
}
.landing-sport-latest-matches > a > div > .team > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}
.landing-sport-latest-matches > a > div > .team > span > img {
    width: 56px;
    height: 56px;
    object-fit: cover;
}
.landing-sport-latest-matches > a > div > .team > .team-name {
    padding: 3px 3px 2px 3px;
    position: relative;
}
.landing-sport-latest-matches > a > div > .score {
    display: inline-block;
    width: 20%;
    text-align: center;
    vertical-align: middle;
}
.landing-sport-latest-matches > a > div > .score > span {
    min-width: 50px;
    padding: 14px 18px;
    box-sizing: border-box;
    display: inline-block;
    background: #141414;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    border-radius: 10px;
}
.landing-sport-latest-matches > a > div > .team.right {
    direction: rtl;
    text-align: right;
}
.landing-sport-latest-matches > a:hover {
    position: relative;
    background: linear-gradient(to right,#fff027 36%,#ffdb2b 40%);
    box-shadow: 0 0 20px rgba(0,0,0,.1); 
    background-color: #ffdb2b;
    background-blend-mode: overlay;
}
.landing-sport-latest-matches > a:hover > span {
    color: #141414;
}
.landing-sport-latest-matches > a > div > .team:hover {
    overflow: visible;
}
.landing-sport-latest-matches > a > div > .team:hover .team-name {
    z-index: 100;
    box-shadow: 0 0 5px 2px #1f1f1f;
    border-radius: 3px;
    background: #fcfcfc;
}
@media (max-width:560px) {
    .landing-sport-latest-matches > a {
        padding: 18px 10px;
    }
    .landing-sport-latest-matches > a > div > .score,
    .landing-sport-latest-matches > a > div > .team {
        width: 100%;
        text-align: center;
        white-space: normal;
    }
    .landing-sport-latest-matches > a > div > .team.right {
        text-align: center;
        margin-top: 20px;
    }
    .landing-sport-latest-matches > a > div > .team.left {
        margin-bottom: 20px;
    }
    .landing-sport-latest-matches > a > div > .team > span {
        display: block;
    }
    .landing-sport-latest-matches > a > div > .team.right > span > img, 
    .landing-sport-latest-matches > a > div > .team.left > span > img {
        margin: 0;
        margin-bottom: 5px;
    }
    .landing-sport-latest-matches>a>div>.team:hover .team-name {
        background: none;
        box-shadow: none;
    }
} 