
.landing-top-bar .links li, .landing-top-bar .contacts li {
    display: inline-block;
    padding-right: 22px;
}
.landing-top-bar .contacts li:last-child, .landing-top-bar .links li:last-child {
    padding: 0;
}
.landing-top-bar ul { 
    padding: 22px 0 22px 0;
    line-height: 16px;
}
.landing-top-bar ul > li > a {
    color: #999;
    font-family: @secondary-font;
}
.landing-top-bar {
    background: linear-gradient(-80deg, #ffffff 40%, #f8f8f8 11%);
}
.landing-top-bar .top-language .list {
    padding: 22px 0 22px 0;
    text-align: right;
}
.landing-top-bar .contacts > li > a > i {
    padding-right: 18px;
    font-size: 15px;
}
.landing-top-bar .contacts > li > a > .number  {
    font-size: 12px;
}
.landing-top-bar .contacts > li > a > .skype     {
    text-transform: uppercase;
    font-size: 12px;
}

@media (max-width:991px) {
    .landing-top-bar { 
        background: linear-gradient(-80deg, #ffffff 50%, #f8f8f8 10%);
    }
    .landing-top-bar .contacts {
        text-align: right;
    }
}
@media (max-width:767px) { 
    .landing-top-bar .links li {
        padding: 0px;
    }
    .landing-top-bar .links {
        text-align-last: justify;
    }
}