.landing-sport-sponsors {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 10px solid #ededed;
    overflow: hidden;
}
.landing-sport-sponsors span {
    font-size: 18px;
    font-weight: 700;
    font-family: @sub-font;
    display: inline-block;
    width: 100%;
    line-height: 1;
}
.landing-sport-sponsors .sponsors:before {
    left: -1000%;
    top: -1000%;
    bottom: -1000%;
    right: 0;
    content: "";
    background: #f1f1f1;
    position: absolute;
    z-index: -20;
    transform: skew(-10deg);
}
@media(max-width:992px) {
    .landing-sport-sponsors {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .landing-sport-sponsors .sponsors {
        text-align: center;
        padding-bottom: 20px;
    }
    .landing-sport-sponsors .sponsors:before {
        left: -1000%;
        top: -1000%;
        bottom: 0;
        right: -1000%;
    }
    .landing-sport-sponsors span {
        display: inline;
        font-size: 24px;
    }
}