.landing-sport-about {
    padding: 93px 0;
    background: url(../images/soccer/success-section-bg1.jpg) 100% 0 no-repeat #f7f7f7;
    background-position: right top;
    background-attachment: fixed;
    background-size: contain;
}
.landing-sport-about h4 {
    color: #141414;
    font-family: @sub-font;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.landing-sport-about h5 {
    color: #141414;
    font-family: @sub-font;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.landing-sport-about h5 img {
    margin-right: 15px;
    margin-top: -5px
}
.landing-sport-about p {
    color: #666666;
    font-size: 16px;
    line-height: 26px;
    font-family: @base-font;
} 
.landing-sport-about .wrap {
    padding-top: 63px;
    text-align: right;
}
.landing-sport-about .title {
    padding: 0;
    line-height: normal;
    text-transform: uppercase;
    color: #141414;
    font-family: Raleway,sans-serif;
    font-size: 40px;
    font-weight: 900;
}   
.landing-sport-about .big-title {
    line-height: 40px;
    text-transform: uppercase;
    color: #141414;
    font-family: Raleway,sans-serif;
    font-size: 48px;
    font-weight: 900;
}
.landing-sport-about .btn {
    padding: 15px 24px 13px 24px;
    border-radius: 9px;
    border: none;
    background: #fc0;
    font-size: 16px;
    color: #141414;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    margin-top: 30px;
}
@media(max-width: 992px) {
    .landing-sport-about {
        text-align: center;
        background-size: cover;
    }
    .landing-sport-about .wrap {
        text-align: center;
    }
}