.landing-sport-next-match {
    padding: 70px 50px;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.landing-sport-next-match > div {
    display: inline-block;
    width: 100%;
    font-size: 0;
}
.landing-sport-next-match > div > div > ul {
    text-align: center;
}
.landing-sport-next-match > div .team.left > div {
    display: inline-block;
    margin-left: 25px;
    text-transform: uppercase;
    vertical-align: middle;
}
.landing-sport-next-match > div .team.right { direction: rtl; }
.landing-sport-next-match > div .team.right > div {
    display: inline-block;
    margin-right: 25px;
    text-transform: uppercase;
    vertical-align: middle;
}
.landing-sport-next-match > div > div > ul > li {
    display: inline-block;
    margin-right: 25px;
    position: relative;
}
.landing-sport-next-match > div > div > ul > li:before {
    content: ':';
    position: absolute;
    top: 0;
    line-height: 53px;
    height: 60px;
    right: -18.8px;
    font-size: 32px;
    font-weight: bold;
    color: #141414;
    font-family: @base-font;
}
.landing-sport-next-match > div > div > ul > li:last-child:before {
    display: none;
}
.landing-sport-next-match > div > div > ul > li:last-child {
    margin-right: 0;
}
.landing-sport-next-match .team {
    width: 35%;
    display: inline-block;
    vertical-align: middle;
}
.landing-sport-next-match .team.right {
    text-align: right;
}
.landing-sport-next-match > div > div > img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.landing-sport-next-match .counter {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}
.landing-sport-next-match > span {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-family: @secondary-font;
    width: 100%;
    text-align: center;
    color: #4c4c4c;
}
.landing-sport-next-match > div > div > div > span {
    width: 100%;
    display: inline-block;
}
.landing-sport-next-match .team-name {
    font-size: 16px;
    color: #141414;
    font-family: @secondary-font;
}
.landing-sport-next-match .country {
    font-family: @base-font;
    color: #666666;
    font-family: @base-font;
}
.landing-sport-next-match > div > div > ul > li > span {
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 8px;
    min-width: 60px;
    text-align: center;
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    background: #141414;
    height: 60px;
    line-height: 60px;
    font-family: Open Sans, sans-serif;
    display: block;
}
.landing-sport-next-match .opening {
    padding-bottom: 15px;
}
.landing-sport-next-match .arena {
    padding-top: 15px;
}
@media (max-width: 1200px) { 
    .landing-sport-next-match {
        padding: 50px 20px;
    }
    .landing-sport-next-match .team, .landing-sport-next-match .team.right {
        text-align: center;
    }
    .landing-sport-next-match > div .team.left > div, .landing-sport-next-match > div .team.right > div {
        width: 100%;
        margin: 0;
        padding: 10px 0;
    }
}
@media (max-width: 992px) {
    .landing-sport-next-match {
        padding: 50px 20px;
        background: linear-gradient(to bottom,#fff 50%,#fcfcfc 50%);
    }
    .landing-sport-next-match .team {
        width: 100%;
        margin: 0;
    }
    .landing-sport-next-match .arena {
        padding: 0;
    }
    .landing-sport-next-match .counter {
        width: 100%;
    }
    .landing-sport-next-match > div > div > img {
        display: block;
        margin: 0 auto;
    }
    .landing-sport-next-match {
        padding: 40px 10px;
    }
    .landing-sport-next-match > div > div  {
        margin-bottom: 20px;
    }
}