
.landing-sport-players-slider {
    background: #fcfcfc;
    padding: 50px 0 80px 0; 
}

.landing-sport-players-slider .staff-item { position: relative; overflow: hidden; }
.landing-sport-players-slider .staff-item .info { padding: 26px 0 10px 30px; width: 75px; box-sizing: border-box; position: absolute; top: 0; bottom: 0; left: 0; background: @playerslider-info-background; }
.landing-sport-players-slider .staff-item .info:before { content: ''; width: 120px; background: @playerslider-info-background; position: absolute; right: -40px; top: 0; bottom: 0; transform: skew(-10deg); z-index: 0;}
.landing-sport-players-slider .staff-item .info .name { font-size: 16px; display: block; color: @playerslider-name-color; line-height: 19px; text-transform: uppercase; font-family: @secondary-font, sans-serif; z-index: 1; position: relative;}
.landing-sport-players-slider .staff-item .info .position { padding-top: 9px; font-size: 10px; text-transform: uppercase; line-height: normal; color: @playerslider-position-color; display: block; font-family: @secondary-font, sans-serif; z-index: 1; position: relative; }
.landing-sport-players-slider .staff-item .info .number { width: 75px; color: @playerslider-number-color; font-size: 24px; position: absolute; text-align: center; left: 0; bottom: 23px;}
.landing-sport-players-slider .staff-item .info .ball { width: 24px; height: 25px; position: absolute; left: 28px; bottom: 26px; }
.landing-sport-players-slider .staff-item > a img { object-fit: cover; }
.landing-sport-players-slider .staff-item > a img{height: 353px; width: 353px; max-width: 100%}

.landing-sport-players-slider .main-stuff-slider .nav-arrow { width: 68px; height: 60px; box-sizing: border-box; line-height: 60px; top: 50%; transform: translateY(-50%); position: absolute; color: @dark-alt-color; font-size: 12px; background: @contrast-color; }
.landing-sport-players-slider .main-stuff-slider .nav-arrow.left-arrow { padding-left: 36px; left: 0; text-align: left; }
.landing-sport-players-slider .main-stuff-slider .nav-arrow.left-arrow:before { content: ''; position: absolute; top: 0; right: -7px; bottom: 0; width: 12px; transform: skew(-10deg); background: @contrast-color; transition: all 400ms; }
.landing-sport-players-slider .main-stuff-slider .nav-arrow.right-arrow:before { content: ''; position: absolute; top: 0; left: -7px; bottom: 0; width: 12px; transform: skew(-10deg); background: @contrast-color; transition: all 400ms; }
.landing-sport-players-slider .main-stuff-slider .nav-arrow.right-arrow { padding-right: 36px; right: 0; text-align: right;}
.landing-sport-players-slider .main-stuff-slider .nav-arrow:hover { background: @dark-color; color: @light-alt-color; }
.landing-sport-players-slider .main-stuff-slider .nav-arrow.left-arrow:hover:before { background: @dark-color;}
.landing-sport-players-slider .main-stuff-slider .nav-arrow.right-arrow:hover:before { background: @dark-color;}

.landing-sport-players-slider .players-slider ul { padding-bottom: 34px; padding-left: 0px; padding-right: 0px; }
.landing-sport-players-slider .player-filters li { padding-right: 30px; display: inline-block; }
.landing-sport-players-slider .player-filters li:last-child { padding-right: 0; }
.landing-sport-players-slider .player-filters li a { padding: 5px 0 12px 0; display: block; position: relative; font-size: 14px; color: @playerslider-pags-color; font-family: @secondary-font, sans-serif; text-transform: uppercase; }

.landing-sport-players-slider .player-filters li a:before { content: ''; position: absolute; width: 0; left: 0; bottom: 0; height: 6px; background: @playerslider-pags-border-color; transition: all 400ms; }
.landing-sport-players-slider .player-filters li a:hover:before { width: 100%; }
.landing-sport-players-slider .player-filters li.active a:before { width: 100%; }


@media (max-width: 1200px) {
    .landing-sport-players-slider .staff-item { overflow: hidden; }
    .landing-sport-players-slider .staff-item .info .name { font-size: 14px; }
}
@media (max-width: 992px) {
    .landing-sport-players-slider .staff-item { max-width: 353px; margin: 0 auto 30px; }
    .landing-sport-players-slider .staff-item .info { left: -200%; transition: all 400ms; }
    .landing-sport-players-slider .staff-item:hover .info { left: 0; }
    .landing-sport-players-slider h5 {text-align: center;}
    .landing-sport-players-slider .tab-filters { text-align: center; }
    .landing-sport-players-slider .carousel-inner { padding-bottom: 50px; }
    .landing-sport-players-slider .main-stuff-slider .nav-arrow { top: 100%; transform: translateY(-100%); }
    .landing-sport-players-slider .staff-item .info {
        padding: 50px 20px 0px 20px;
        width: 100%;
        text-align: center;
    }
    .landing-sport-players-slider .staff-item .info .position {
        padding-top: 15px;
        font-size: 14px;
    }
    .landing-sport-players-slider .staff-item .info .name {
        font-size: 18px;
    }
    .landing-sport-players-slider .staff-item .info .number {
        width: 100%;
        font-size: 32px;
        text-align: center;
        bottom: 50px;
    }
}
@media (max-width: 767px) {
    .landing-sport-players-slider .main-stuff-slider .nav-arrow { top: 50%; transform: translateY(-50%); };
    .landing-sport-players-slider h5, .landing-sport-players-slider .tab-filters { text-align: left; }
     .landing-sport-players-slider .tab-filters { margin-bottom: 10px; }
} 