.main-next-match { position: relative; }
.main-next-match.bg-cover { background-size: 50% 50%;}
.main-next-match .wrap { position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
.main-next-match .champ-image { opacity: 0; visibility: hidden; max-width:100%;}
.main-next-match .place { padding-top: 36px; text-align: center; font-size: 12px; line-height: normal; color: @next-match-text-color; font-family: @secondary-font, sans-serif; text-transform: uppercase; }
.main-next-match .date { padding-top: 4px; text-align: center; font-size: 12px; line-height: normal; color: @next-match-text-color; font-family: @secondary-font, sans-serif; text-transform: uppercase; }
.main-next-match .teams-wrap { padding: 0 20px; text-align: center; width: 100%; box-sizing: border-box; position: absolute; top: 50%; transform: translateY(-50%); }
.main-next-match .teams-wrap > * { display: inline-block; vertical-align: middle; }
.main-next-match .teams-wrap .vs { padding: 0 15px; font-size: 12px; line-height: normal; color: @next-match-text-color; font-family: @secondary-font, sans-serif; text-transform: uppercase;}
.main-next-match .teams-wrap .team { font-size: 12px; line-height: normal; color: @next-match-text-color; font-family: @secondary-font, sans-serif; text-transform: uppercase;}
.main-next-match .teams-wrap .team img { margin-left: 10px; width: 40px; height: 40px; }
.main-next-match .teams-wrap .team1 { font-size: 12px; line-height: normal; color: @next-match-text-color; font-family: @secondary-font, sans-serif; text-transform: uppercase;}
.main-next-match .teams-wrap .team1 img { margin-right: 10px; width: 40px; height: 40px; }
.main-next-match .teams-wrap .team span { display: table-cell; vertical-align: middle; }
.main-next-match .teams-wrap .team1 span { display: table-cell; vertical-align: middle; }
.main-next-match .booking { padding: 0 15px 0 15px; display: inline-block; background: @next-match-button-color; border-radius: 9px; color: @next-match-button-text-color; font-size: 12px; font-family: @secondary-font, sans-serif; text-transform: uppercase; position: absolute; bottom: 40px; left: 50%; transform: translateX(-50%); }
.main-next-match .booking:hover { color: @next-match-button-hover-text-color; background: @next-match-button-hover-color; }
.main-next-match .next-match-background-img { width: 100%; height: 500px; object-fit: cover; }