.preloader-wrapper {position: fixed; width: 100%; height: 100%; z-index: 1000; background: @preloader-bg-color;}
.preloader-wrapper .motion-line {height: 80%; top: 10%; display: flex; position: absolute; transform: skew(-10deg); margin: 0 10%;}
.preloader-wrapper .dark-big {display: flex; background: @preloader-line-6; width: 90%; z-index: 1; opacity: 0.90; left: -200%;}
.preloader-wrapper .dark-small {display: flex; background: @preloader-line-5; width: 35%; z-index: 2; left: -200%; }
.preloader-wrapper .yellow-big {height: 85%; top: 7%; display: flex;  width: 13%; z-index: 5; background-color: @preloader-line-4; right: -200%;}
.preloader-wrapper .yellow-normal {height: 85%; top: 7%; display: flex;  width: 4%; z-index: 3; background-color: @preloader-line-3; right: -200%;}
.preloader-wrapper .yellow-small1 {height: 85%; top: 7%; display: flex;  width: 1%; z-index: 3; background-color: @preloader-line-2; right: -200%;}
.preloader-wrapper .yellow-small2 {height: 85%; top: 7%; display: flex;  width: 1%; z-index: 3; background-color: @preloader-line-1; right: -200%;}
