.sport-championship-win-team {
    background: #fff;
    padding: 70px 40px;
    margin-bottom: 20px;
}
.sport-championship-win-team a {
    display: block;
}
.sport-championship-win-team .image-wrapper {
    margin-right: 35px;
}
.sport-championship-win-team img {
    -webkit-filter: drop-shadow(0px 10px 15px #e52c20);
    filter: drop-shadow(0px 10px 15px #e52c20);
    height: 130px;
    width: 100%;
    object-fit: contain;
}
.sport-championship-win-team .text {
    display: inline-block;
    line-height: 1;
}
.sport-championship-win-team .text span {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: @secondary-font;
}
.sport-championship-win-team .name {
    color: #141414;
    font-size: 24px;
    font-weight: 700;
}
.sport-championship-win-team .status {
    color: #666666;
    font-size: 12px;
}
.sport-championship-win-team > a > div {
    display: inline-block;
    vertical-align: middle;
}

.start{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}

}

@media (max-width:600px) {
    .sport-championship-win-team .text {
        text-align: center;
        width: 100%;
        margin-top: 30px;
    }
    .sport-championship-win-team .image-wrapper {
        display: block;
        margin: 0;
    }
}