.sport-championship-places > a {
    padding: 35px 30px;
    background: #fff;
    display: flex; 
    margin-bottom: 2px;
}
.sport-championship-places > a:last-child {
    margin-bottom: 0;
}
.sport-championship-places > a > img {
    height: 65px;
    width: 65px;
    object-fit: cover;
    margin: auto 0;
}
.sport-championship-places > a span {
    text-transform: uppercase;
    line-height: 25px;
    font-family: @base-font
}
.sport-championship-places > a > span {
    margin: auto 15px;
}
.sport-championship-places > a > span > span {
    display: block;
}
.sport-championship-places > a > span > .name {
    color: #141414;
    font-size: 18px;
}
.sport-championship-places > a > span > .place {
    color: #666666;
    font-size: 12px;
}