ul.sport-championship-timline-tabs {
    display: block;
    text-align-last: justify;
    border-bottom: 2px dashed #666666;
    padding-right: 10%;
    position: relative;
    margin-bottom: 45px;
}
ul.sport-championship-timline-tabs:before {
    content: "";
    position: absolute;
    border-bottom: 2px dashed #666;
    right: 100%;
    left: -100%;
    bottom: -2px;
}
ul.sport-championship-timline-tabs:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #666;
}
ul.sport-championship-timline-tabs > li {
    display: inline-block;
}
ul.sport-championship-timline-tabs > li > a {
    display: block;
    position: relative;
    font-family: @base-font;
    font-size: 12px;
    color: #999999;
    padding: 25px 0;
}
ul.sport-championship-timline-tabs > li.active > a:before {
    background: #6d6d6d;
}
ul.sport-championship-timline-tabs > li > a:before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f7f7f7;
    border: 1px solid #a4a4a4;
    position: absolute;
    bottom: -8px;
    left: 0;
}