.sport-cmapionship-header {
    background: #f7f7f7;
    position: relative;
    width: 100%;
}
.sport-cmapionship-header .wrapper {
    display: inline-block;
    width: 100%;
    font-size: 0;
}
.sport-cmapionship-header .contacts-wrap {
    float: right;
    width: 30%;
    display: inline-block;
    padding: 0;
}
.sport-cmapionship-header .logo { 
    width: 10%;
    float: left;
    height: 106px;
    display: flex;
}
.sport-cmapionship-header .clear-header {
    width: 60%;
    display: inline-block;
}
.sport-cmapionship-header .logo > img {
    margin: auto 0;
    height: 60px;
    width: 63px;
    object-fit: contain;
}
.sport-cmapionship-header ul > li {
    display: inline-block;
    padding: 0 25px; 
}
.sport-cmapionship-header .contacts-wrap > ul {
    display: inline-block;
    margin-right: 40px;
}
.sport-cmapionship-header .contacts-wrap button {
    color: #fff;
    background: #0061c7;
    font-size: 14px;
    border-radius: 5px;
    padding: 11px 15px;
    text-transform: uppercase;
    font-family: @secondary-font;
    line-height: 1;
    border: none;
}
.sport-cmapionship-header .contacts-wrap button i {
    display: none;
}
.sport-cmapionship-header .navbar-toggle {
    display: none;
}
.sport-cmapionship-header .contacts-wrap > ul > li {
    padding: 0 25px 0 0; 
}
.sport-cmapionship-header .clear-header ul > li > a {
    color: #0061c7;
    font-family: @secondary-font;
    text-transform: uppercase;
    font-size: 14px; 
    position: relative;
}
.sport-cmapionship-header ul > li:first-child {
    padding-left: 0;
}
.sport-cmapionship-header ul > li:last-child {
    padding-right: 0;
}
.sport-cmapionship-header ul > li > a {
    display: block;
    position: relative;
    padding: 45px 0;
    position: relative;
}
.sport-cmapionship-header .clear-header ul > li.active > a:before {
    position: absolute;
    content: "\f0d7";
    color: #0061c7;
    bottom: 15px;
    font-family: FontAwesome;
    font-size: 16px;
    right: 0;
    left: 0;
    text-align: center;
}
.sport-cmapionship-header ul > li > a.facebook {
    color:#3b5998;
}
.sport-cmapionship-header ul > li > a.twitter {
    color:#1da1f2;
}
.sport-cmapionship-header ul > li > a.google {
    color:#dd4b39;
}
.sport-cmapionship-header ul > li > a.pinterest {
    color:#bd081c;
}

.sport-cmapionship-header {
    z-index: 100;
}

@media(max-width: 1200px) {
    .sport-cmapionship-header {
        background: linear-gradient(to bottom, #FFF 49%,#fcfcfc 11%);
    }
    .sport-cmapionship-header .contacts-wrap {
        float: right;
        width: 90%;
        text-align: right;
    }
    .sport-cmapionship-header .navbar-collapse.collapse {
        display: block !important;
    }
    .sport-cmapionship-header .clear-header {
        width: 100%;
    }
}
@media(max-width: 767px) {
    .sport-cmapionship-header .contacts-wrap {
        width: 100%;
        text-align: center;
    }
    .sport-cmapionship-header .clear-header {
        width: 80%;
        text-align: right;
        float: right;
    }
}
@media (max-width: 680px) { 
    .sport-cmapionship-header .clear-header ul > li.active > a:before  {
        display: none;
    }
    .sport-cmapionship-header .navbar-toggle { 
        display: block;
        position: relative;
        float: right;
        padding: 5px 11px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
        font-size: 16px;
        margin: 39px 0 0 0;
        z-index: 1;
        background: #0061c7;
        color: #fcfcfc;
    }
    .sport-cmapionship-header .navbar-collapse.collapse {
        display: none !important;
    }
    .sport-cmapionship-header .navbar-collapse.collapse.in {
        display: block !important;
    }
    .sport-cmapionship-header .clear-header ul > li {
        display: inline-block;
        width: 100%;
    }
    .sport-cmapionship-header .clear-header ul>li {
        padding: 0;
        text-align: center;
    }
    .sport-cmapionship-header ul > li > a {
        padding: 20px 0;
    }
    .sport-cmapionship-header .logo {
        width: auto;
    }
    .sport-cmapionship-header .clear-header {
        width: 100%;
    }
    .sport-cmapionship-header {
        background: linear-gradient(to bottom,#fff 35%,#fcfcfc 11%);
    }
}
@media(max-width:370px) {
    .sport-cmapionship-header .contacts-wrap button i {
        display: block;
    }
    .sport-cmapionship-header .contacts-wrap button span {
        display: none;
    }
}