.sport_championship_participants a {
    display: block;
    position: relative;
    padding: 65px 30px;
    background: #fff;
    margin-bottom: 35px;
    transition: all 400ms;
}
.sport_championship_participants a > img {
    height: 110px;
    width: 110px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
.sport_championship_participants a > span {
    text-align: center;
    color: #141414;
    font-size: 11.16px;
    font-family: @secondary-font;
    display: inline-block;
    width: 100%;
    transition: all .4s;
}
.sport_championship_participants a:hover {
    background: linear-gradient(to right,#ff6600 34%,#ff3300 64%);
}
.sport_championship_participants a:hover > span {
    color:#fff;
}
@media(max-width:580px) {
    .sport_championship_participants a {
        margin: 0 2px 2px 0;
        padding: 50px 5px;
    }
    .sport_championship_participants .row.no-gutters-xs > [class*=" col-"], 
    .sport_championship_participants .row.no-gutters-xs > [class^=col-] {
        padding-right: 0;
        padding-left: 0;
    }
    .sport_championship_participants .row.no-gutters-xs {
        margin-right: 0;
        margin-left: 0;
    }
}