.sport-championship-twitter {
    position: relative;
    padding: 75px 0;
    background: url(../images/common/sport-championship-twitter.jpg), no-repeat;
    background-size: cover;
}
.sport-championship-twitter .wrap {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.sport-championship-twitter .wrap > a { 
    color: #fff;
    font-size: 24px;
    padding-bottom: 34px;
    display: block;
}
.sport-championship-twitter .wrap .text {
    font-size: 24px; 
    font-family: @base-font;
    color: #fff;
    padding-bottom: 58px;
}
.sport-championship-twitter .wrap .text > a {
    font-weight: 700;
    color: #fff;
    padding: 0 5px;
}
.sport-championship-twitter .wrap .copyright {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}
.sport-championship-twitter .nav-arrow.left-arrow {
    padding-left: 36px;
    left: 0;
    text-align: left;
}
.sport-championship-twitter .nav-arrow.right-arrow {
    padding-right: 36px;
    right: 0;
    text-align: right;
}
.sport-championship-twitter .nav-arrow {
    width: 68px;
    height: 60px;
    box-sizing: border-box;
    line-height: 60px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    color: #fff;
    font-size: 12px;
    background: #1da1f2;
    display: none;
}
.sport-championship-twitter .nav-arrow.left-arrow:before {
    content: '';
    position: absolute;
    top: 0;
    right: -7px;
    bottom: 0;
    width: 12px;
    transform: skew(-10deg);
    background: #1da1f2;
    transition: all .4s;
}
.sport-championship-twitter .nav-arrow.right-arrow:before {
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    bottom: 0;
    width: 12px;
    transform: skew(-10deg);
    background: #1da1f2;
    transition: all .4s;
}
.sport-championship-twitter .nav-arrow.left-arrow:hover:before, .landing-sport-twitter-slider .nav-arrow.right-arrow:hover:before{
    background: #ffcf0f;
}
.sport-championship-twitter .nav-arrow:hover {
    color: #000;
    background: #ffcf0f;
}