.sport_championship_about {
    background: #fff;
    overflow: hidden;
    z-index: -1;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}
.sport_championship_about .wrap-left-text {
    text-align: left;
    padding-top: 80px;
    padding-bottom: 70px;
    background-image: url(../images/common/Subject-Flat.png);
    background-position: 98% 100%;
    background-repeat: no-repeat;
    z-index: 1;
}
.sport_championship_about .wrap-left-text p {
    width: 50%;
}
.sport_championship_about .wrap-left-text:before {
    content: "";
    position: absolute;
    background: #fafafa;
    left: -1000%;
    top: 0;
    bottom: 4px;
    right: 40px;
    z-index: -12;
    transform: skew(-13deg);
}
.sport_championship_about .wrap-right-text {
    text-align: right;
    padding-top: 80px;
    padding-bottom: 70px;
}
.sport_championship_about p {
    padding-top: 30px;
    font-family: @base-font;
    color: #666666;
    font-size: 16px;
    line-height: 32px;
}
.sport_championship_about img {
    width: 100%;
}
.sport_championship_about span {
    display: inline-block;
    width: 100%;
    line-height: 1;
    text-transform: uppercase;
    font-family: @sub-font;
    font-weight: 700;
}
.sport_championship_about .about {
    color: #1f1f1f;
    font-size: 16px;
}
.sport_championship_about .cup {
    color: #766c54;
    font-size: 24px;
}
.sport_championship_about .name {
    font-size: 32px;
    color: #1f1f1f;
}
.sport_championship_about .surname {
    color:#0061c7;
    font-size: 40px;
}
.sport_championship_about .team {
    color:#1f1f1f;
    font-size: 12px;
    font-family: @secondary-font;
    font-weight: 400;
}
@media (max-width:1200px) {
    .sport_championship_about .wrap-left-text:before {
        right: 32px;
    }
}

@media (max-width:991px) {
    .sport_championship_about .wrap-left-text:before {
        right: 68px;
    }
    .sport_championship_about .wrap-right-text {
        padding: 40px 0;
    }
}
@media (max-width:767px) {
    .sport_championship_about .wrap-left-text {
        background-image: none;
    }
    .sport_championship_about .wrap-left-text p {
        width: 100%;
    }
    .sport_championship_about .wrap-left-text:before {
        right: -100%;
    }
}