.sport-championship-contact { 
    position: relative;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}
.sport-championship-contact .wrapper-img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.sport-championship-contact .wrapper-img iframe {
    width: 100%;
    height: 100%;
}
.sport-championship-contact .wrapper-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sport-championship-contact .information-wrap { 
    position: relative;
    padding-top: 170px;
    padding-bottom: 150px;
    text-align: right;
}
.sport-championship-contact .information-wrap:before {
    content: "";
    position: absolute;
    left: 0;
    right: -10000%;
    top: 0;
    bottom: 0;
    background: rgba(0,97,199, 0.87);
    transform: skew(-6deg);
}
.sport-championship-contact .information-wrap span {
    display: inline-block;
    width: 100%;
    position: relative
}
.sport-championship-contact .information-wrap > div  {
    padding-bottom: 35px;
    text-transform: uppercase;
    color: #fff;
    font-family: @sub-font;
    line-height: 1;
    font-weight: 900;
}
.sport-championship-contact .information-wrap .header-welcom {
    font-size: 32px;
}
.sport-championship-contact .information-wrap .header-arena {
    font-size: 40px;
}
.sport-championship-contact .information-wrap > span {
    color: #fff;
    font-family: @base-font;
    padding-bottom: 35px;
}
.sport-championship-contact .information-wrap > a {
    position: relative;
    padding: 21px 23px 18px 23px;
    display: inline-block;
    background: #0061c7;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    font-family: @secondary-font;
    transition: all .4ms;
}
.sport-championship-contact .information-wrap > a:hover {
    background: #141414;
    color: #fff;
}

@media (max-width: 992px) {
    .sport-championship-contact .information-wrap:before {
        left: -1000%;
    }
    .sport-championship-contact .information-wrap {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}