.sport-championship-news img {
    display: block;
    width: 100%;
    border: 1px solid #f7f7f7;
    object-fit: cover;
    height: 100%;
}
.sport-championship-news .news-border {
    position: absolute;
    bottom: 0;
    padding: 15px;
    background-color: rgba(0,0,0,.5);
    font-family: Montserrat;
    display: block;
    left: 1px;
    right: 1px;
    bottom: 1px;
}
.sport-championship-news .date {
    display: inline-block;
    width: 100%;
    color: #cccccc;
}
.sport-championship-news .name   {
    color: #fff;
    line-height: 1;
}
.sport-championship-news .news-wprapper {
    position: relative;
    height: 100%;
    overflow: hidden;  
    display: block;
}
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.sport-championship-news .row.no-gutters > [class^="col-"],
.sport-championship-news .row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.sport-championship-news .item{
    touch-action:pan-y;
} 

@media(max-width:992px) {
    .sport-championship-news .row-eq-height {
        display: block;
    }
}