@base-font : "Open Sans";
@sub-font : "Raleway";
@secondary-font : "Montserrat";

@matchbroadcast-background: #292929; 
@matchbroadcast-tabs-background: #141414; 
@matchbroadcast-tabs-li-background: #292929; 
@matchbroadcast-tabs-name-color: #ffffff; 
@matchbroadcast-tabs-country-color: #e5e5e5; 
@matchbroadcast-tabs-li-hover-background: #292929; 
@matchbroadcast-tabs-name-hover-color: #ffffff; 
@matchbroadcast-tabs-country-hover-color: #666666; 
@matchbroadcast-tabs-non-acitive-background: #141414;

@sidebar-menu-gradient-from: #1f1f1f;
@sidebar-menu-gradient-to: #141414;
@sidebar-calendar-border-color: #1f1f1f;
@sidebar-calendar-header-bg: #1f1f1f;
@sidebar-calendar-text-color: #e5e5e5;
@sidebar-calendar-hover: #f2f2f2;

@store-sidebar-menu-gradient-from: #1f1f1f;
@store-sidebar-menu-gradient-to: #141414;

@blog-post-bg: #1f1f1f;
@blog-autor-bg: #fcfcfc;
@blog-autor-second-bg: #b44335;
@blog-autor-text-heading: #141414;
@blog-autor-text: #3d3d3d;

@sharing-background: #fcfcfc;
@sharing-text: #666666;
@social-icons-background: #141414;
@social-icons-color: #e5e5e5;

@preloader-line-1: #f69c00;
@preloader-line-2: #f69c00;
@preloader-line-3: #e59305;
@preloader-line-4: #e59305;
@preloader-line-5: #c47e04;
@preloader-line-6: #e59305;
@preloader-bg-color: #161616;

@header-background-color: #eb9500;
@header-logo-before-color: #dc8d00;
@header-text-color: #614100;
@header-hover-color: #141414;
@dropdown-menu-background: #000000;
@dropdown-menu-text: #ffffff;
@second-dropdown-menu-text: #614100;
@dropdown-menu-text-hover: #000000;
@button-iconbar-background: #141414;
@button-iconbar: #614100;
@resize-hover-menu: #141414;

@top-bar-background: #141414;
@top-bar-social-color: #666666;
@top-bar-border-color: #141414;
@top-bar-contacts-color: #666666;
@top-bar-search-color: #666666;

@base-color: #e5e5e5;
@contrast-color: #e59305;
@contrast-alt-color: #c47e04;
@light-color: #141414;
@light-base-color: #fcfcfc;
@match-live-light-base-color:#292929;
@light-alt-color: #292929;
@dark-color: #e5e5e5;
@dark-alt-color: #ffffff;
@muted-color: #666666;
@muted-alt-color: #a3a3a3;
@muted-alt: #666666;
@gradient: #1f1f1f;

@title-base-color: #2d1310;
@title-text-color: #ffffff;

@footer-left-base-color: #412a00;
@footer-left-text-color: #e5e5e5;
@footer-menu-color: #c68100;
@footer-left-menu-hover: #e5e5e5;
@footer-header: #e5e5e5;
@footer-date-color: #c68100;
@footer-name-hover: #c68100;
@footer-date-hover: #e5e5e5;

@footer-bottom-background: #141414;

@product-tab-wrap: #666666;
@product-tab-text: #141414;
@product-tab-hover: #e5e5e5;
@product-tab-contet-background: #292929;
@product-tab-textareacolor: #1f1f1f;
@product-tab-textareacolor-border: #424242;

@button-color: #c68100;
@button-text:  #141414;
@button-hover:  #eb9500;
@button-hover-text:  #ffffff;

@store-info-background: #000000;
@store-info-product-name-color: #c68100;
@store-info-product-name-hover: #c68100;
@store-info-price-color: #999999;
@store-info-price-hover: #ffffff;
@store-ifno-after: #eb9500;
@store-info-hover: #000000;
@store-info-button: #c68100;
@store-info-button-text: #ffffff;
@store-info-button-hover: #eb9500;
@store-info-button-text-hover: #141414;

@cart-total-background: #292929;
@cart-total-title-color: #e5e5e5;
@order-table-th-backgtound: #1f1f1f;
@order-table-th-text: #ccc;
@order-table-td-background: #f1f1f1;
@order-table-td-text: #141414;
@team-alert-background: #141414;
@woocommerce-checkout-payment: #292929;
@woocommerce-checkout-payment-label: #e5e5e5;

@quantity-number-backround: #e6e6e6;
@quantity-number-text-color: #141414;


/** Main slider **/

@slider-button-color: #c68100; 
@slider-button-hover: #eb9500; 
@slider-button-text: #ffffff; 
@slider-arrow-color: #141414; 
@slider-arrow-hover: #eb9500; 
@event-line-color: #d38800; 
@match-slider-text-color: #ffffff; 
@match-slider-mini-caption-bg: #161616; 
@match-slider-mini-caption-text-color: #ffffff; 
@match-slider-mini-caption-time-bg: #1f1f1f; 
@match-slider-mini-caption-time-text-color: #ffffff; 


/** News line **/

@newsline-caption-color: #141414; 
@newsline-date-color: #cccccc; 
@newsline-name-color: #ffffff; 
@newsline-caption-hover: #eb9500; 
@newsline-date-hover: #3d3d3d; 
@newsline-name-hover: #141414; 


/** Next match **/

@next-match-button-text-color: #ffffff; 
@next-match-button-color: #c47e04; 
@next-match-button-hover-text-color: #ffffff; 
@next-match-button-hover-color: #141414; 
@next-match-text-color: #ffffff; 


/** Player statistic slider **/

@slider-main-wrap: #000000; 
@stats-background: #292929; 
@stats-gradient: #292929; 
@name-color: #e5e5e5; /** **/
@position-color: #e5e5e5; 
@achievment-color: #e5e5e5; 
@score-color: #ffffff; 
@progress-line-color: #141414; 
@progress-bar-color: #eb9500; 
@arrow-color: #999999; /** **/
@arrow-hover-color: #141414; 
@pl-statistic-slider-tabs-color: #f2f2f2; 


/** Best players **/

@item-background-color: #141414; 
@item-background-color-first: #141414; 
@item-text-color: #f2f2f2; 
@bestplayer-item-number-background: #000000; 
@bestplayer-number-color: #e5e5e5;
@achievment-background-first: #c68100; 
@achievment-text-first: #141414; 
@achievment-background: #141414; 
@achievment-text: #cccccc; 
@border-color: #141414; 
@tabs-text-color: #ffffff; 


/** PLayer slider **/

@playerslider-info-background: #000000; 
@playerslider-name-color: #e5e5e5; 
@playerslider-position-color: #e5e5e5; 
@playerslider-number-color: #e5e5e5; 
@playerslider-pags-color: #e5e5e5; 
@playerslider-pags-border-color: #c68100; 


/** Breaking news **/

@braking-news-background: #000000; 
@braking-news-text: #ffffff; 
@main-braking-news-background: #ffffff; 
@main-braking-news-text: #141414; 
@braking-news-line: #a3a3a3; 


/** Next match on matches list page **/

@next-match-text-color: #e5e5e5;
@next-macth-pags-color: #c68100;


/** Organisation header **/

@org-title-color: #ffffff; 
@org-date-color: #999999; 
@org-name-color: #ffffff; 
@org-text-color: #ffffff; 
@org-header-wrapper-before-background: #141414; 
@org-item-color: #c47e04; 
@org-item-span-color: #e5e5e5; 
@org-progress-bar-text-color: #c47e04; 


/** Trophies slider**/


/** Icons Slider**/


/** Match header **/

@title-color: #ffffff; 
@text-color: #ffffff; 
@span-color: #ffffff; 
@span-satus-color: #ffffff; 
@latest-title-color: #ffffff; 


/** Match statistic **/

@matchstatistic-bar-color: #eb9500; 
@matchstatistic-pescent-bar-color: #4b7d00; 
@matchstatistic-item-background: #292929; 
@matchstatistic-item-border: #141414; 


/** Match championship **/

@matchchampions-header-background: #000000; 
@matchchampions-header-text-color: #ffffff; 
@matchchampions-border-background: #292929; 
@matchchampions-dd-color: #e5e5e5; 
@matchchampions-dt-color: #e7e7e7; 


/** Match players **/

@matchplayers-head-background: #000000; 
@matchplayers-head-text-color: #ffffff; 
@matchplayers-body-background: #292929; 
@matchplayers-player-name-color: #e5e5e5; 
@matchplayers-player-country-color: #e5e5e5; 
@matchplayers-image-border-color: #141414; 
@matchplayers-match-lineup-background: #292929;  


/** Share box **/

@sharing-background: #292929; 
@sharing-text: #e5e5e5; 
@social-icons-background: #000000; 
@social-icons-color: #e6e6e6; 


/** Matches broadcast listing **/

@broadcast-item-background: #292929; 
@broadcast-gradient-from: #000000; 
@broadcast-gradient-to: #292929; 
@broadcast-gradient-end: #000000; 
@broadcast-gradient-text-color: #e5e5e5; 
@broadcast-button-normal: #3d3d3d; 
@broadcast-arrow: #999999; 
@broadcast-border-color: #141414; 
@broadcast-chanel-background: #000000; 
@broadcast-text-inform: #999999; 
@broadcast-text-date: #e5e5e5; 
@broadcast-active-background: #e6e6e6; 
@broadcast-active-border: #000000; 
@active-broadcast-chanel-background: #cccccc; 
@broadcast-active-text: #141414; 
@broadcast-before-button: #ffffff; 
@broadcast-content-button-hover: #131313; 
@broadcast-content-button-text-hover: #ffffff; 


/** Championship listing **/

@broadcast-button-normal: #3d3d3d; 
@broadcast-before-button: #ffffff; 
@broadcast-active-background: #e6e6e6; 
@broadcast-active-border: #000000; 
@broadcast-active-text: #141414; 
@broadcast-arrow: #999999; 
@broadcast-text-inform: #999999; 
@broadcast-text-date: #e5e5e5; 
@broadcast-content-button-hover: #131313; 
@broadcast-content-button-text-hover: #ffffff; 


/** Championship header **/

@championship-item-color: #c47e04; 
@championship-item-span-color: #e5e5e5; 
@championship-header-before: #141414; 
@championship-paragraph-color: #e5e5e5; 
@progress-bar-text-color: #e5e5e5; 


/** Players grid **/

@player-info-background: #000000; 
@player-info-name: #e5e5e5; 
@player-info-postition: #e5e5e5; 
@player-info-number: #e5e5e5; 
@player-info-hover: #eb9500; 
@player-info-hover-text: #141414; 


/** Organisation table listing **/

@org-table-listing-header: #1f1f1f; 
@org-table-listing-header-text: #ffffff; 
@org-table-listing-bg: #141414; 
@org-table-listing-hover: #1f1f1f; 
@org-table-listing-border: #1f1f1f; 
@org-table-listing-point-text: #ffffff; 
@org-table-listing-point-bg: #1f1f1f; 


/** Match player statistic**/  

@match-hover-player-table-background: #b80000; 
@match-hover-player-rate-background: #141414; 


/**Organisation match statistic **/

@org-statistic-td-background: #131313; 
@org-statistic-th-background: #292929; 
@org-statistic-th-text: #e5e5e5; 
@org-statistic-td-hover: #141414; 


/** organisation timeseries **/

@time-org-timeseries-text-color: #e5e5e5; 
@time-org-timeseries-bg: #292929; 


/** PLayer header **/

@player-header-background: #000000; 
@player-header-before-background: #000000; 
@player-header-statiscti-text-color: #e5e5e5; 
@player-header-progressbar-text-color: #e5e5e5; 


/** PLayer timeseries **/

@stats-player-timeseries-text-color: #e5e5e5; 
@stats-player-timeseries-bg: #1f1f1f; 


/**Player organisation statistic **/

@plorg-td-background: #292929; 
@plorg-th-background: #000000; 
@plorg-th-text: #e5e5e5; 
@plorg-td-hover: #141414; 


/** Players table listing **/

@pl-table-listing-header: #1f1f1f; 
@pl-table-listing-header-text: #ffffff; 
@pl-table-listing-bg: #141414; 
@pl-table-listing-hover: #1f1f1f; 
@pl-table-listing-border: #1f1f1f; 
@pl-table-listing-point-text: #ffffff; 
@pl-table-listing-point-bg: #1f1f1f; 


 /** Match referees **/
 
@ref-head-background: #000000; 
@ref-head-text-color: #ffffff; 
@ref-body-background: #292929; 
@ref-player-name-color: #e5e5e5; 
@ref-player-country-color: #e5e5e5; 
@ref-image-border-color: #141414; 


/**Footer **/

@footer-h4: #e5e5e5;
@footer-p: #e5e5e5;
@footer-li-a: #c68100;
@footer-li-a-hover: #e5e5e5;
@footer-a-b: #c68100;
@footer-name: #e5e5e5;
@footer-name-hover:#c47e04;
@footer-date:#c68100;
@footer-date-hover:#e5e5e5;
@footer-separator:#999999;
@footer-category:#c68100;
@footer-category-hover:#e5e5e5;
@footer-contact: #666666;
@footer-contact-hover:#e5e5e5;
@footer-phone:#999999;
@footer-socials:#999999;
@footer-socials-hover:#c47e04;

@amateurs-color: none;


@color-number-bg:#292929;
@color-number:#f2f2f2;

@blockquote-color:#eb9500;

@last-match-bg-color: #1f1f1f;

@tabfilter-pags-color: #e5e5e5; 
@tabfilter-pags-border-color: #c68100; 

@upcoming-title:#ffffff;
@upcoming-text:#ffffff;
@upcoming-latest-title:#ffffff;


@check-text-color: #ffffff;
@check-p-color: #ffffff;
@check-bg-color: #292929;
@check-bg-color-hover: #666666;


@brodcast-number: #3d3d3d;

/**Commentators **/
@commentator-bg: #292929;
@commentator-name: #e5e5e5;
@commentator-country: #666666;
@commentator-hover-bg: #c68100;
@commentator-hover-text: #141414;
@commentator-hover-country:#666666;

/** Coach quote**/

@coach-quote:#ffffff;


/** Coming soon**/

@coming-soon-bg: #141414;
@coming-small-text: #fff;
@coming-big-text:#ea9400;
@coming-digit: #e5e5e5;
@coming-digit-bg:#292929;
@coming-descr: #e5e5e5;
@coming-li:#e5e5e5;


/** Offline */

@offline-small-text: #fff;
@offline-big-text:#ea9400;
@offline-social-bg: #f2f2f2;


/** 404 Page **/

@404-big-text:#ea9400;
@404-small-text: #ea9400; 
@404-back:#ea9400;


/** Call to action text**/

@call-to-action-text: #e5e5e5;


/** Select css**/

@fancy-select-text-color:#e5e5e5;
@fancy-select-box-shadow-color:#292929;
@fancy-select-border-color:#292929;
@fancy-select-bg-color:#292929;
@fancy-select-bg-color-1:#292929;
@fancy-select-li-color:#e5e5e5;
@fancy-select-bg-color-2:#c68100;
@fancy-select-li-select-color:#e5e5e5;
@fancy-select-li-hover:#e5e5e5;


/**Salary Cap **/

@stackedbar-color-1:#c68100;
@stackedbar-color-2:#FFA90A;
@stackedbar-color-3:#F59F00;


@gaugechart-color-1:#c68100;
@gaugechart-color-2:#FFA90A;
@gaugechart-color-3:#E09200;
@gaugechart-color-4:#F59F00;
@gaugechart-text:#ffffff;


@svgpath-color-1:#c68100;
@svgpath-color-2:#b44335;
@svgpath-color-3:#f4c63d;


@pickcircle-color-1:#c68100;
@pickcircle-color-2:#c68100;


/** Club Stats  grids**/

@stackedbar-grid-color:#000000;
@gaugechart-grid-color:#000000;
@svgpath-grid-color:#000000;
@label_placement-grid-color:#000000;
@pickcircle-grid-color:#000000;
@tournament-path-grid-color:#000000;
@attack-per-game-path-grid-color:#000000;


/** OWEN BARGEMAN STATS **/

@diagram-color-1:#c68100;
@diagram-point-color-1:#c68100;
@diagram-color-2:#0051ad;
@diagram-point-color-2:#0051ad;
@diagram-color-3:#f4c63d;
@diagram-point-color-3:#f4c63d;


/** POINTS PER GAME **/

@advancesmill-color-1:#c68100;
@advancesmill-point-color-1:#c68100;
@advancesmill-color-2:#0051ad;
@advancesmill-point-color-2:#0051ad;
@advancesmill-color-3:#f4c63d;
@advancesmill-point-color-3:#f4c63d;
@advancesmill-color-4:#b44335;
@advancesmill-point-color-4:#b44335;


@donutchart-text:#ffffff;

@horizontalbar-color-1:#c68100;
@horizontalbar-color-2:#b44335;

@bipolardiagram-color-1:#d70206;
@bipolardiagram-color-2:#f05b4f;
@bipolardiagram-color-3:#f4c63d;
@bipolardiagram-color-4:#d17905;


/**Player page grids**/

@player-timeseries-graph-grid-color:#000000;
@diagram-grid-color:#000000;
@advancesmill-grid-color:#000000;
@horizontalbar-grid-color:#000000;
@bipolardiagram-grid-color:#000000;

@animatedonut-color:#ffffff;


/**  Assists **/

@assists-color-1:#c68100;
@assists-color-2:#7A5000;
@assists-color-3:#8F5D00;
@assists-color-4:#F59F00;


/** Threshold **/

@treshold-color-1:#c68100;
@treshold-color-2:#b44335;
@treshold-color-area-1:#B37B14;
@treshold-color-area-2:#B0483B;
@treshold-grid-color:#000000;
@treshold-text-color:#e5e5e5;

.dota,
.hockey,
.basketball,
.baseball,
.football,
.am-football,
.live-timeline,
.live-match-stat.am-football,
.h3-tactic{
    display: none;
}
.success-story.sport{ display:none}
.team-timeline>.item-wrap>.item-info{display: none;}
.match-lineup .member .card.red {display: none;}
.match-lineup .member .card.yellow{display: none;}
.match-lineup .member .goal img{display: none;}
.dota-csgo-image{filter:invert(100%);}