@base-font : "Open Sans";
@sub-font : "Raleway";
@secondary-font : "Montserrat";


/** Match broadcast **/

@matchbroadcast-background: #fcfcfc; 
@matchbroadcast-tabs-background: #f7f7f7; 
@matchbroadcast-tabs-li-background: #fff; 
@matchbroadcast-tabs-name-color: #141414; 
@matchbroadcast-tabs-country-color: #666; 
@matchbroadcast-tabs-li-hover-background: #141414; 
@matchbroadcast-tabs-name-hover-color: #ffffff; 
@matchbroadcast-tabs-country-hover-color: #666; 
@matchbroadcast-tabs-non-acitive-background: #f7f7f7;

@sidebar-menu-gradient-from: #f0f0f0;
@sidebar-menu-gradient-to: #f7f7f7;
@sidebar-calendar-border-color: #e0e0e0;
@sidebar-calendar-header-bg: #141414;
@sidebar-calendar-text-color: #666;
@sidebar-calendar-hover: #f2f2f2;

@store-sidebar-menu-gradient-from: #f0f0f0;
@store-sidebar-menu-gradient-to: #f7f7f7;

@blog-post-bg: #f7f7f7;
@blog-autor-bg: #fcfcfc;
@blog-autor-second-bg: #141414;
@blog-autor-text-heading: #141414;
@blog-autor-text: #3d3d3d;

@sharing-background: #fcfcfc;
@sharing-text: #666666;
@social-icons-background: #141414;
@social-icons-color: #e5e5e5;

@preloader-line-1: #ff9e01;
@preloader-line-2: #ff9e01;
@preloader-line-3: #ffcc00;
@preloader-line-4: #ffcc00;
@preloader-line-5: #ffcc00;
@preloader-line-6: #ffcc00;
@preloader-bg-color: #fff;

/**Header **/
@header-background-color: #141414;
@header-logo-before-color: #0a0a0a;
@header-text-color: #ffffff;
@header-hover-color: #ffcc00;
@dropdown-menu-background: #000000;
@dropdown-menu-text: #ffffff;
@second-dropdown-menu-text: #ffffff;
@dropdown-menu-text-hover: #000000;
@button-iconbar-background: #ffa000;
@button-iconbar: #141414;
@resize-hover-menu: #ffcc00;

/**Top-Bar*/
@top-bar-background: #f7f7f7;
@top-bar-social-color: #999;
@top-bar-border-color: #e0e0e0;
@top-bar-contacts-color: #999;
@top-bar-search-color: #999;

@base-color: #3d3d3d;
@contrast-color: #ffcc00;
@contrast-alt-color: #ffa000;
@light-color: #f7f7f7;
@light-base-color: #fcfcfc;
@match-live-light-base-color:#fcfcfc;
@light-alt-color: #ffffff;
@dark-color: #141414;
@dark-alt-color: #000000;
@muted-color: #666666;
@muted-alt-color: #cccccc;
@muted-alt: #999999;
@gradient: #f0f0f0;

@title-base-color: #ffcc00;
@title-text-color: #141414;

@footer-left-base-color: #ffcc00;
@footer-left-text-color: #292929;
@footer-menu-color: #141414;
@footer-left-menu-hover: #ffffff;
@footer-header: #ffffff;
@footer-date-color: #999999;
@footer-name-hover: #ffffff;
@footer-date-hover: #ffffff;

@footer-bottom-background: #f7f7f7;

@product-tab-wrap: #ffffff;
@product-tab-text: #141414;
@product-tab-hover: #f7f7f7;
@product-tab-contet-background: #f7f7f7;
@product-tab-textareacolor: #ffffff;
@product-tab-textareacolor-border: #ffffff;

@button-color: #ffcc00;
@button-text:  #141414;
@button-hover:  #141414;
@button-hover-text:  #ffffff;

@store-info-background: #ffffff;
@store-info-product-name-color: #292929;
@store-info-product-name-hover: #ffffff;
@store-info-price-color: #666;
@store-info-price-hover: #ffffff;
@store-ifno-after: #ffcc00;
@store-info-hover: #141414;
@store-info-button: #ffcc00;
@store-info-button-text: #141414;
@store-info-button-hover: #ffffff;
@store-info-button-text-hover: #141414;

@cart-total-background: #ffffff;
@cart-total-title-color: #292929;
@order-table-th-backgtound: #141414;
@order-table-th-text: #ccc;
@order-table-td-background: #fcfcfc;
@order-table-td-text: #141414;
@team-alert-background: #fcfcfc;
@woocommerce-checkout-payment: #ebe9eb;
@woocommerce-checkout-payment-label: #3d3d3d;

@quantity-number-backround: #e6e6e6;
@quantity-number-text-color: #141414;



/** Main slider **/

@slider-button-color: #ffa000; 
@slider-button-hover: #ffcc00; 
@slider-button-text: #141414; 
@slider-arrow-color: #141414; 
@slider-arrow-hover: #ffcc00; 
@event-line-color: #ffcc00; 
@match-slider-text-color: #fff; 
@match-slider-mini-caption-bg: #000000; 
@match-slider-mini-caption-text-color: #cccccc; 
@match-slider-mini-caption-time-bg: #141414; 
@match-slider-mini-caption-time-text-color: #ffffff; 


/** News line **/

@newsline-caption-color: #141414; 
@newsline-date-color: #cccccc; 
@newsline-name-color: #ffffff; 
@newsline-caption-hover: #ffcc00; 
@newsline-date-hover: #3d3d3d; 
@newsline-name-hover: #141414; 


/** Next match **/

@next-match-button-text-color: #141414; 
@next-match-button-color: #ffa000; 
@next-match-button-hover-text-color: #ffffff; 
@next-match-button-hover-color: #141414; 
@next-match-text-color: #ffffff; 


/** Player statistic slider **/

@slider-main-wrap: #ffffff; 
@stats-background: #f2f2f2; 
@stats-gradient: #f2f2f2; 
@name-color: #141414; 
@position-color: #141414; 
@achievment-color: #666666; 
@score-color: #141414; 
@progress-line-color: #cccccc; 
@progress-bar-color: #ffa000; 
@arrow-color: #999999; 
@arrow-hover-color: #141414; 
@pl-statistic-slider-tabs-color: #ffffff; 


/** Best players **/

@item-background-color: #141414; 
@item-background-color-first: #141414; 
@item-text-color: #f2f2f2; 
@bestplayer-item-number-background: #262626;
@bestplayer-number-color: #141414;
@achievment-background-first: #ffa000; 
@achievment-text-first: #141414; 
@achievment-background: #141414; 
@achievment-text: #cccccc; 
@border-color: #141414; 
@tabs-text-color: #ffffff; 


/** PLayers slider **/

@playerslider-info-background: #f2f2f2; 
@playerslider-name-color: #141414; 
@playerslider-position-color: #666666; 
@playerslider-number-color: #999999; 
@playerslider-pags-color: #ffffff; 
@playerslider-pags-border-color: #ffa000; 


/** Breaking news **/

@braking-news-background: #ffcc00; 
@braking-news-text: #292929; 
@main-braking-news-background: #f1f1f1; 
@main-braking-news-text: #292929; 
@braking-news-line: #a3a3a3; 


/** Next match on matches list page **/

@next-match-text-color: #141414;
@next-macth-pags-color: #ffa000;


/** Organisation header **/

@org-title-color: #666666; 
@org-date-color: #666666; 
@org-name-color: #141414; 
@org-text-color: #141414; 
@org-header-wrapper-before-background: #f7f7f7; 
@org-item-color: #000000; 
@org-item-span-color: #666666; 
@org-progress-bar-text-color: #141414; 


/** Match header **/

@title-color: #141414; 
@text-color: #141414; 
@span-color: #666666; 
@span-satus-color: #ffffff; 
@latest-title-color: #999999; 


/** Match statistic **/

@matchstatistic-bar-color: #ffcc00; 
@matchstatistic-pescent-bar-color: #0078dc; 
@matchstatistic-item-background: #fcfcfc; 
@matchstatistic-item-border: #eaeaea; 


/** Match championship **/

@matchchampions-header-background: #000000; 
@matchchampions-header-text-color: #ffffff; 
@matchchampions-border-background: #fcfcfc; 
@matchchampions-dd-color: #000000; 
@matchchampions-dt-color: #737373; 


/** Match players **/

@matchplayers-head-background: #000; 
@matchplayers-head-text-color: #fff; 
@matchplayers-body-background: #fcfcfc; 
@matchplayers-player-name-color: #141414; 
@matchplayers-player-country-color: #666; 
@matchplayers-image-border-color: #e6e6e6; 
@matchplayers-match-lineup-background: #fcfcfc; 


/** Share box **/

@sharing-background: #fcfcfc; 
@sharing-text: #666666; 
@social-icons-background: #141414; 
@social-icons-color: #e5e5e5; 


/** Matches broadcast listing **/

@broadcast-item-background: #ffffff; 
@broadcast-gradient-from: #f7f7f7; 
@broadcast-gradient-to: #fbfbfb; 
@broadcast-gradient-end: #f7f7f7; 
@broadcast-gradient-text-color: #262626; 
@broadcast-button-normal: #ebebeb; 
@broadcast-arrow: #999; 
@broadcast-border-color: #e0e0e0; 
@broadcast-chanel-background: #ebebeb; 
@broadcast-text-inform: #999; 
@broadcast-text-date: #666; 
@broadcast-active-background: #141414; 
@broadcast-active-border: #000000; 
@active-broadcast-chanel-background: #292929; 
@broadcast-active-text: #ffffff; 
@broadcast-before-button: #292929; 
@broadcast-content-button-hover: #131313; 
@broadcast-content-button-text-hover: #ffffff; 


/** Championship listing **/

@broadcast-button-normal: #ebebeb; 
@broadcast-before-button: #292929; 
@broadcast-active-background: #141414; 
@broadcast-active-border: #000000; 
@broadcast-active-text: #ffffff; 
@broadcast-arrow: #999; 
@broadcast-text-inform: #999; 
@broadcast-text-date: #666; 
@broadcast-content-button-hover: #131313; 
@broadcast-content-button-text-hover: #ffffff; 


/** Championship header **/

@championship-item-color: #000000; 
@championship-item-span-color: #666; 
@championship-header-before: #f7f7f7; 
@championship-paragraph-color: #141414; 
@progress-bar-text-color: #141414; 


/** Players grid **/

@player-info-background: #f2f2f2; 
@player-info-name: #141414; 
@player-info-postition: #999999; 
@player-info-number: #999999; 
@player-info-hover: #ffcc00; 
@player-info-hover-text: #141414; 


/** Organisation table listing **/

@org-table-listing-header: #141414; 
@org-table-listing-header-text: #ffffff; 
@org-table-listing-bg: #ffffff; 
@org-table-listing-hover: #f2f2f2; 
@org-table-listing-border: #e9e9e9; 
@org-table-listing-point-text: #ffffff; 
@org-table-listing-point-bg: #141414; 


/** Match player statistic**/

@match-hover-player-table-background: #b80000; 
@match-hover-player-rate-background: #141414; 


/**Organisation match statistic **/

@org-statistic-td-background: #fcfcfc; 
@org-statistic-th-background: #141414; 
@org-statistic-th-text: #cccccc; 
@org-statistic-td-hover: #f2f2f2; 



/** organisation timeseries **/

@time-org-timeseries-text-color: #3d3d3d; 
@time-org-timeseries-bg: #fcfcfc; 


/** PLayer header **/

@player-header-background: #fcfcfc; 
@player-header-before-background: #fff; 
@player-header-statiscti-text-color: #666; 
@player-header-progressbar-text-color: #141414; 


/** PLayer timeseries **/

@stats-player-timeseries-text-color: #3d3d3d; 
@stats-player-timeseries-bg: #fcfcfc; 

/**Player organisation statistic **/

@plorg-td-background: #fcfcfc; 
@plorg-th-background: #141414; 
@plorg-th-text: #ffffff; 
@plorg-td-hover: #f2f2f2; 


/** Players table listing **/

@pl-table-listing-header: #141414; 
@pl-table-listing-header-text: #ffffff; 
@pl-table-listing-bg: #ffffff; 
@pl-table-listing-hover: #f2f2f2; 
@pl-table-listing-border: #e9e9e9; 
@pl-table-listing-point-text: #ffffff; 
@pl-table-listing-point-bg: #141414; 


 /** Match referees **/
 
@ref-head-background: #000; 
@ref-head-text-color: #fff; 
@ref-body-background: #fcfcfc; 
@ref-player-name-color: #141414; 
@ref-player-country-color: #666; 
@ref-image-border-color: #e6e6e6; 


/** Footer**/

@footer-h4: #141414;
@footer-p: #999999;
@footer-li-a: #999999;
@footer-li-a-hover: #ffffff;;
@footer-a-b: #999999;
@footer-name: #141414;
@footer-name-hover:#1976d2;
@footer-date:#1976d2;
@footer-date-hover:#141414;
@footer-separator:#999999;
@footer-category:#1976d2;
@footer-category-hover:#141414;
@footer-contact: #999999;
@footer-contact-hover:#1976d2;
@footer-phone:#999999;
@footer-socials:#999999;
@footer-socials-hover:#1976d2;

@amateurs-color: #ffffff;

@color-number-bg:#292929;
@color-number:#f2f2f2;

@blockquote-color:#e6e6e6;

@last-match-bg-color: #fcfcfc;

@tabfilter-pags-color: #141414; 
@tabfilter-pags-border-color: #ffa000; 


@upcoming-title: #141414;
@upcoming-text: #141414;
@upcoming-latest-title: #999;

@check-text-color: #292929;
@check-p-color: #666666;
@check-bg-color: #f2f2f2;
@check-bg-color-hover: #ffffff;


@brodcast-number: #3d3d3d;



/**Commentators **/

@commentator-bg: #fcfcfc;
@commentator-name: #141414;
@commentator-country: #666666;
@commentator-hover-bg: #d70000;
@commentator-hover-text: #141414;
@commentator-hover-country:#666666;


/** Coach quote**/

@coach-quote:#ffffff;


/** Coming and error page**/
/**
@coming-small-text:#ffffff;
@coming-big-text:#8e4426;
@coming-digit:#131313;
@coming-counter:#e5e5e5;
@error-bg:#000000;
@error-color:#ffffff;
@coming-descr:#e5e5e5;
**/


/**Coming soon**/

@coming-soon-bg: #141414;
@coming-small-text: #fff;
@coming-big-text:#fff;
@coming-digit: #141414;
@coming-digit-bg:#fff;
@coming-descr: #fff;
@coming-li:#fff;


/** Offline **/

@offline-small-text: #141414;
@offline-big-text:#141414;
@offline-social-bg: #f2f2f2;


/** 404 Page**/

@404-big-text:#141414;
@404-small-text: #141414; 
@404-back:#141414;


/** Call to action text**/

@call-to-action-text: #141414;


/** Select css**/

@fancy-select-text-color:#141414;
@fancy-select-box-shadow-color:#fff;
@fancy-select-border-color:#fff;
@fancy-select-bg-color:#fff;
@fancy-select-bg-color-1:#fff;
@fancy-select-li-color:#141414;
@fancy-select-bg-color-2:#b80009;
@fancy-select-li-select-color:#141414;
@fancy-select-li-hover:#292929;


/**Salary Cap **/

@stackedbar-color-1:green;
@stackedbar-color-2:#b44335;
@stackedbar-color-3:#f4c63d;


@gaugechart-color-1:#b80000;
@gaugechart-color-2:#f05b4f;
@gaugechart-color-3:#f4c63d;
@gaugechart-color-4:#d17905;
@gaugechart-text:#141414;


@svgpath-color-1:#ffa000;
@svgpath-color-2:#f05b4f;
@svgpath-color-3:#f4c63d;

@pickcircle-color-1:#ffa000;
@pickcircle-color-2:#f05b4f;



/**Grids Club STats **/

@stackedbar-grid-color:#cccccc;
@gaugechart-grid-color:#cccccc;
@svgpath-grid-color:#cccccc;
@label_placement-grid-color:#cccccc;
@tournament-path-grid-color:#cccccc;
@attack-per-game-path-grid-color:#cccccc;


/** OWEN BARGEMAN STATS **/

@diagram-color-1:#ffa000;
@diagram-point-color-1:#ffa000;
@diagram-color-2:#0051ad;
@diagram-point-color-2:#0051ad;
@diagram-color-3:#f4c63d;
@diagram-point-color-3:#f4c63d;


/** POINTS PER GAME **/

@advancesmill-color-1:#b80000;
@advancesmill-point-color-1:#b80000;
@advancesmill-color-2:#0051ad;
@advancesmill-point-color-2:#0051ad;
@advancesmill-color-3:#f4c63d;
@advancesmill-point-color-3:#f4c63d;
@advancesmill-color-4:#d17905;
@advancesmill-point-color-4:#d17905;


@donutchart-text:#141414;

@horizontalbar-color-1:#b80000;
@horizontalbar-color-2:#af7005;


@bipolardiagram-color-1:aqua;
@bipolardiagram-color-2:#f05b4f;
@bipolardiagram-color-3:green;
@bipolardiagram-color-4:black;


/**Player page grids**/

@player-timeseries-graph-grid-color:#cccccc;
@diagram-grid-color:#cccccc;
@advancesmill-grid-color:#cccccc;
@horizontalbar-grid-color:#cccccc;
@bipolardiagram-grid-color:#cccccc;


@animatedonut-color:#141414;


/**  Assists **/

@assists-color-1:#d70206;
@assists-color-2:#f05b4f;
@assists-color-3:#f4c63d;
@assists-color-4:#d17905;


/**Threshold **/

@treshold-color-1:#5E8208;
@treshold-color-2:#CC3D00;
@treshold-color-area-1:#5B7C0E;
@treshold-color-area-2:#D0460B;
@treshold-grid-color:#cccccc;
@treshold-text-color:#141414;