<!--AMATEURS AWARD BOX BEGIN-->
<div class="amateurs-award-box">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="text">
                    <div class="title">visit our</div>
                    <div class="big-title">Trophy room</div>
                    <p>Snackwave tote bag fixie gluten-free, affogato master cleane cronut portland prism knausgaard.  Chartreuse fingerstache gentrify you probably</p>
                    <a href="trophies.html" class="btn">Details</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="am-trophey">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <img src="images/common/am-trophey.png" alt="am-trophey">
                                <div class="name">National cup</div>
                                <div class="year">2010</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <img src="images/common/am-trophey1.png" alt="am-trophey">
                                <div class="name">Championship trophy</div>
                                <div class="year">2012</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <img src="images/common/am-trophey2.png" alt="am-trophey">
                                <div class="name">Super cup</div>
                                <div class="year">2017</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--AMATEURS AWARD BOX END-->