<!--MAIN BREAKING NEWS BEGIN-->
<div class="main-breaking-news">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-12">
                <div class="break-title"><span>Breaking news</span></div>
            </div>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <div id="main-breaking-list" class="carousel slide main-breaking-list" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <a href="news-single.html">
                                <span class="date">20 Sep 2016 <span>/</span></span>	
                                <span class="news"><img src="images/common/news-youtube-icon.png" alt="news-youtube">Revenge is sweet: Great matchday four recoveries</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="news-single.html">
                                <span class="date">22 Sep 2016 <span>/</span></span>	
                                <span class="news">Revenge is sweet: Great matchday four recoveries</span>
                            </a>
                        </div>
                    </div>	
                    <div class="arrow-wrap">
                        <!-- Controls -->
                        <a class="nav-arrow left-arrow" href="#main-breaking-list" role="button" data-slide="prev">
                            <i class="fa fa-caret-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="nav-arrow right-arrow" href="#main-breaking-list" role="button" data-slide="next">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MAIN BREAKING NEWS END-->