  <!--MAIN AMATURE SLIDER END-->
<div class="msp_post_slider" id="amateurs-slider">

    <div class="owl-carousel owl-theme" role="listbox">
        
        <div class="item msp_post_slide slide-1" >
            <div class="slider-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-8">
                            <h1 class="title">Team 1 - Team 2</h1>
                            <div class="sub-title">
                                FINAL GAME
                            </div>
                            <a href="/" class="btn">
                                Read more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item msp_post_slide slide-2" >
            <div class="slider-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-8">
                            <h1 class="title">Team 1 - Team 2</h1>
                            <div class="sub-title">
                                FINAL GAME
                            </div>
                            <a href="/" class="btn">
                                Read more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item msp_post_slide slide-3" >
            <div class="slider-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-8">
                            <h1 class="title">Team 1 - Team 2</h1>
                            <div class="sub-title">
                                FINAL GAME
                            </div>
                            <a href="/" class="btn">
                                Read more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Controls -->
    <a class="nav-arrow left-arrow" href="#main-slider" role="button" data-slide="prev">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="nav-arrow right-arrow" href="#main-slider" role="button" data-slide="next">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
    </a>

    <div class="progress-line"><div class="bar"></div></div>
</div>
  <!--MAIN AMATURE SLIDER END-->