<!--AMATEURS NEWS LIST BEGIN-->
<div class="amateurs-news-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h4>Team news</h4></div>
            <div class="col-md-10 col-xs-9">
                <ul class="tab-filters" role="tablist">
                    <li class="active"><a href="#news" role="tab" data-toggle="tab">News</a></li>
                    <li><a href="#highlights" role="tab" data-toggle="tab">Highlight</a></li>
                    <li><a href="#interviews" role="tab" data-toggle="tab">interviews</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-3 text-right">

                <a id="show-all-link" href="news.html">Show all</a>

            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="news" role="tabpanel">
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news1.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Bauza: Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news2.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Bauza: Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news3.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Bauza: Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="highlights" role="tabpanel">
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news2.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Test Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news3.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Bauza: Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news1.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Bauza: Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="interviews" role="tabpanel">
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news1.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Bauza: Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news3.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Bauza: Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news2.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Bauza: Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
<!--AMATEURS NEWS LIST END-->