<!--SUCCESS STORY BEGIN-->
<div class="success-story amateurs-success-story">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h4>success story <br>began here</h4>
                <p>Pabst irony tattooed, synth sriracha selvage pok pok. Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep mixtape semiotics brunch. </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="icon"><img src="images/common/success-icon.png" alt="success-icon"></div>
                        <div class="title">Legendary</div>
                        <p>Next level paleo taxidermy, bespoke messenger bag leggings occupy food truck. </p>
                    </div>
                    <div class="col-md-6">
                        <div class="icon"><img src="images/common/success-icon1.png" alt="success-icon"></div>
                        <div class="title">fabulous</div>
                        <p>Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep v mixtape semiotics brunch. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="wrap position-relative">
                    <div class="amateurs-success-slogan">
                        <div class="title">Children and Youth</div>
                        <div class="big-title">Academy</div>
                        <a href="about-club.html" class="btn">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>	
</div>
<!--SUCCESS STORY END-->