<!--MAIN MATCH SHEDULE BEGIN-->
<div class="main-match-shedule amateurs-match-shedule">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="amateurs-main-match">
                    <div class="title">Premier League - Round 28</div>	
                    <div class="team">
                        <div class="avatar"><img src="images/soccer/team-logo1.png" alt="team-logo"></div>
                        <div class="text">
                            <span class="name">Internacional</span>
                            <span class="city">london</span>
                        </div>
                    </div>
                    <div class="score">
                        3:2	
                    </div>
                    <div class="team guest">
                        <div class="text">
                            <span class="name">Arsenal</span>
                            <span class="city">Lyon</span>
                        </div>	
                        <div class="avatar"><img src="images/soccer/team-logo2.png" alt="team-logo"></div>
                    </div>
                    <div class="title">26 september / 8:45 PM</div>
                </div>
            </div>
            <div class="col-md-12"><h6>Latest matches</h6></div>
            <div class="col-md-12">
                <ul class="tab-filters" role="tablist">
                    <li class="active"><a href="#nationalcup" role="tab" data-toggle="tab">National cup</a></li>
                    <li><a href="#championship" role="tab" data-toggle="tab">Championship</a></li>
                    <li><a href="#friendlies" role="tab" data-toggle="tab">Friendlies</a></li>
                     <li><a href="#showall" role="tab" data-toggle="tab">Show all</a></li>
                </ul>
            </div>
            
            <div class="tab-content">
                <div class="tab-pane active" id="nationalcup" role="tabpanel">
                    <div class="col-md-12">
                        <div class="main-lates-matches">
                            <a href="matches.html" class="item">
                                <span class="championship">National cup - quarterfinal</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1 </span></span>
                                    <span class="score"><span>3:2</span></span>
                                    <span class="team1"><span>Team 2 </span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                            <a href="matches.html" class="item">
                                <span class="championship">National cup - quarterfinal</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1</span></span>
                                    <span class="score"><span>3:2</span></span>
                                    <span class="team1"><span>Team 2</span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="championship" role="tabpanel">
                    <div class="col-md-12">
                        <div class="main-lates-matches">
                            <a href="matches.html" class="item">
                                <span class="championship">Championship - quarterfinal</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1 </span></span>
                                    <span class="score"><span>3:2</span></span>
                                    <span class="team1"><span>Team 2 Internacionasal</span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                            <a href="matches.html" class="item">
                                <span class="championship">Championship - quarterfinal</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1</span></span>
                                    <span class="score"><span>3:2</span></span>
                                    <span class="team1"><span>Team 2</span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="friendlies" role="tabpanel">
                    <div class="col-md-12">
                        <div class="main-lates-matches">
                            <a href="matches.html" class="item">
                                <span class="championship">Friendly match</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1</span></span>
                                    <span class="score"><span>2:2</span></span>
                                    <span class="team1"><span>Team 2</span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                            <a href="matches.html" class="item">
                                <span class="championship">Friendly match</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo1.png" alt="team-logo"></span><span>Team 1</span></span>
                                    <span class="score"><span>3:3</span></span>
                                    <span class="team1"><span>Team 2</span><span><img src="images/soccer/team-logo2.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="showall" role="tabpanel">
                    <div class="col-md-12">
                        <div class="main-lates-matches">
                            <a href="matches.html" class="item">
                                <span class="championship">National cup - quarterfinal</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1 </span></span>
                                    <span class="score"><span>3:2</span></span>
                                    <span class="team1"><span>Team 2 </span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                            <a href="matches.html" class="item">
                                <span class="championship">National cup - quarterfinal</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1</span></span>
                                    <span class="score"><span>3:2</span></span>
                                    <span class="team1"><span>Team 2</span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                            <a href="matches.html" class="item">
                                <span class="championship">Championship - quarterfinal</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1 </span></span>
                                    <span class="score"><span>3:2</span></span>
                                    <span class="team1"><span>Team 2 Internacionasal</span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                            <a href="matches.html" class="item">
                                <span class="championship">Championship - quarterfinal</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1</span></span>
                                    <span class="score"><span>3:2</span></span>
                                    <span class="team1"><span>Team 2</span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                            <a href="matches.html" class="item">
                                <span class="championship">Friendly match</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1</span></span>
                                    <span class="score"><span>2:2</span></span>
                                    <span class="team1"><span>Team 2</span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                            <a href="matches.html" class="item">
                                <span class="championship">Friendly match</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo1.png" alt="team-logo"></span><span>Team 1</span></span>
                                    <span class="score"><span>3:3</span></span>
                                    <span class="team1"><span>Team 2</span><span><img src="images/soccer/team-logo2.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MAIN MATCH SHEDULE END-->