
<section class="live-match-stat am-football">
    <div class = 'container'>
        <div class="row"> 
            <div class="col-md-12">
                <h3 class="am-football-h3">Tactic</h3>
                <div class="tactic">
                    <div class="tab-content">
                        <div class="tab-pane active" id="amfootball_pitch_top">
                            <div class="field text-center am-football top-attacked">

                                <a href="player-second-page.html" class="player top rolb am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="45 Wiella Tyeea">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        ROLB                </a>
                                <a href="player-second-page.html" class="player top rs am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="30 SaeQwaan Edewaards">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RS                </a>
                                <a href="player-second-page.html" class="player top rt am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="34 Sheanae Veereaen">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RT                </a>
                                <a href="player-second-page.html" class="player top ls am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="58 Oweaa Odeigahizuwa">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LS                </a>
                                <a href="player-second-page.html" class="player top rcb am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="13 Odeelal Beeckaham Jre.a">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RCB                </a>
                                <a href="player-second-page.html" class="player top le am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="81 Maetta LaeCoasse">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LE                </a>
                                <a href="player-second-page.html" class="player top lt am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="21 Laendaon Coellains">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LT                </a>
                                <a href="player-second-page.html" class="player top lolb am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="8 Joesha Joehnason">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LOLB                </a>
                                <a href="player-second-page.html" class="player top mlb am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="77 Joehna Jeerray">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        MLB                </a>
                                <a href="player-second-page.html" class="player top re am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="89 Jeereall Adeamas">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RE                </a>
                                <a href="player-second-page.html" class="player top lcb am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="24 Eleia Apeplae">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LCB                </a>
                                <a href="player-second-page.html" class="player top rt am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="76 D.eJ.a Fleukaer">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RT                </a>
                                <a href="player-second-page.html" class="player top lt am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="69 Breetat Joeneas">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LT                </a>
                                <a href="player-second-page.html" class="player bottom c am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="85 Sheaqa Eveanas">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        C                </a>
                                <a href="player-second-page.html" class="player bottom lt am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="13 Lueckay Wheitaehead">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LT                </a>
                                <a href="player-second-page.html" class="player bottom fb am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="17 Keellaen Moeorae">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        FB                </a>
                                <a href="player-second-page.html" class="player bottom qb am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="73 Joeea Loeonaey">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        QB                </a>
                                <a href="player-second-page.html" class="player bottom rb am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="37 Jeereamiah MceKiannon">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RB                </a>
                                <a href="player-second-page.html" class="player bottom lt am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="84 Jaemeas Haennaa">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LT                </a>
                                <a href="player-second-page.html" class="player bottom te am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="87 Geeofaf Sweaiam">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        TE                </a>
                                <a href="player-second-page.html" class="player bottom rt am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="90 DeeMaarcus Laewraence">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RT                </a>
                                <a href="player-second-page.html" class="player bottom lg am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="86 Coennaor Haemlaett">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LG                </a>
                                <a href="player-second-page.html" class="player bottom rwr am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="79 Cheaza Greeean">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RWR                </a>
                                <a href="player-second-page.html" class="player bottom rt am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="93 Beensaon Maeyoawa">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RT                </a>
                                <a href="player-second-page.html" class="player bottom lwr am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="59 Anethaony Hietcahens">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LWR                </a>
                                <a href="player-second-page.html" class="player bottom rg am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="81 Anedya Joeneas">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RG                </a>
                                <a href="player-second-page.html" class="player bottom rb am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="46 Alefraed Moerrais">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RB                </a>

                                <img class="img-responsive center-block" src="images/common/amfootball-match-field.svg" alt="football-field">
                            </div> 
                        </div>
                        <div class="tab-pane" id="amfootball_pitch_bottom">
                            <div class="field text-center am-football bottom-attacked">

                                <a href="player-second-page.html" class="player top te am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="71 Steanasly Maepoanga">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        TE                </a>
                                <a href="player-second-page.html" class="player top lwr am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="25 Sheauan Dreauaghn">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LWR                </a>
                                <a href="player-second-page.html" class="player top rt am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="34 Sheanae Veereaen">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RT                </a>
                                <a href="player-second-page.html" class="player top qb am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="36 Ryeana Muerpahy">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        QB                </a>
                                <a href="player-second-page.html" class="player top rwr am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="85 Rheetat Eleliason">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RWR                </a>
                                <a href="player-second-page.html" class="player top rb am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="23 Raehiam Moeorae">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RB                </a>
                                <a href="player-second-page.html" class="player top lt am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="21 Laendaon Coellains">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LT                </a>
                                <a href="player-second-page.html" class="player top lg am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="83 Keevian Noerwaood">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LG                </a>
                                <a href="player-second-page.html" class="player top c am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="75 Joena Haelaapio">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        C                </a>
                                <a href="player-second-page.html" class="player top rt am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="76 D.eJ.a Fleukaer">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RT                </a>
                                <a href="player-second-page.html" class="player top fb am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="49 Cuertais Greanat">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        FB                </a>
                                <a href="player-second-page.html" class="player top lt am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="69 Breetat Joeneas">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LT                </a>
                                <a href="player-second-page.html" class="player top rg am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="68 Boebbay Haerta">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RG                </a>
                                <a href="player-second-page.html" class="player bottom rcb am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="72 Treavais Freedaerick">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RCB                </a>
                                <a href="player-second-page.html" class="player bottom le am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="26 Roebeart Bleanaton">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LE                </a>
                                <a href="player-second-page.html" class="player bottom ls am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="80 Riecoa Gaethaers">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LS                </a>
                                <a href="player-second-page.html" class="player bottom lt am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="13 Lueckay Wheitaehead">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LT                </a>
                                <a href="player-second-page.html" class="player bottom lolb am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="23 Leeona MceFaadden">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LOLB                </a>
                                <a href="player-second-page.html" class="player bottom re am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="35 Kaevoan Freazaier">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RE                </a>
                                <a href="player-second-page.html" class="player bottom rs am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="78 Kaedeaem Edewaards">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RS                </a>
                                <a href="player-second-page.html" class="player bottom mlb am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="64 Joenaathan Coeopaer">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        MLB                </a>
                                <a href="player-second-page.html" class="player bottom lt am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="84 Jaemeas Haennaa">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LT                </a>
                                <a href="player-second-page.html" class="player bottom rt am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="90 DeeMaarcus Laewraence">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RT                </a>
                                <a href="player-second-page.html" class="player bottom rolb am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="20 Daerraen MceFaadden">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        ROLB                </a>
                                <a href="player-second-page.html" class="player bottom lcb am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="31 Byeroan Joeneas">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        LCB                </a>
                                <a href="player-second-page.html" class="player bottom rt am-football  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="93 Beensaon Maeyoawa">
                                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        RT                </a>

                                <img class="img-responsive center-block" src="images/common/amfootball-match-field.svg" alt="football-field">
                            </div> 
                        </div>
                    </div>
                    <ul class="team-legend" role="tablist">
                        <li class="">
                            <a href="#amfootball_pitch_top" data-toggle="tab" aria-controls="amfootball_pitch_top" aria-expanded="false">
                                <div class="circle red"></div>Team 1 attaked                </a>
                        </li>
                        <li class="active">
                            <a href="#amfootball_pitch_bottom" data-toggle="tab" aria-controls="amfootball_pitch_bottom" aria-expanded="true">
                                <div class="circle black"></div>Team 2 attaked                </a>
                        </li>	
                    </ul> 
                </div>
            </div>
        </div> 
    </div>
</section>

