<div class="tactic baseball">
        <div class="tab-content">
            <div class="tab-pane active" id="baseball_pitch_top">
                <div class="field text-center">

                                            <a href="player.html" class="player top baseball pos-rf " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="30 Noemaar Maezaara">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            30                        </a>
                                            <a href="player.html" class="player top baseball pos-lf " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="14 Caerlaos Goemeaz">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            14                        </a>
                                            <a href="player.html" class="player top baseball pos-cf " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="3 Deeliano DeeShaields">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            3                        </a>
                                            <a href="player.html" class="player top baseball pos-2b " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="12 Roeuganed Odeora">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            12                        </a>
                                            <a href="player.html" class="player top baseball pos-1b " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="5 Miekea Naepoali">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            5                        </a>
                                            <a href="player.html" class="player top baseball pos-3b " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="13 Joeeya Gaellao">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            13                        </a>
                                            <a href="player.html" class="player top baseball pos-ss " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="38 Peetea Koezmaa">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            38                        </a>
                                            <a href="player.html" class="player top baseball pos-c " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="25 Joenaathan Luecraoy">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            25                        </a>
                                            <a href="player.html" class="player top baseball pos-p " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="51 Maetta Buesha">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            51                        </a>
                    
                    <img class="img-responsive center-block" src="images/common/baseball-match-field.jpg" alt="match-field">
                </div>
            </div>
            <div class="tab-pane" id="baseball_pitch_button">
                <div class="field text-center">

                                            <a href="player.html" class="player bottom baseball pos-1b " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="41 Caerlaos Saentaana">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            41                        </a>
                                            <a href="player.html" class="player bottom baseball pos-c " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="55 Roebearto Peereaz">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            55                        </a>
                                            <a href="player.html" class="player bottom baseball pos-2b " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="1 Miechaael Maertainez">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            1                        </a>
                                            <a href="player.html" class="player bottom baseball pos-ss " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="12 Freanacisco Liendaor">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            12                        </a>
                                            <a href="player.html" class="player bottom baseball pos-3b " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="36 Yaenday Dieaza">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            36                        </a>
                                            <a href="player.html" class="player bottom baseball pos-cf " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="8 Loennaie Cheisaenhall">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            8                        </a>
                                            <a href="player.html" class="player bottom baseball pos-lf " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="23 Miechaael Breanatley">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            23                        </a>
                                            <a href="player.html" class="player bottom baseball pos-rf " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="35 Aberaaham Alemoante">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            35                        </a>
                                            <a href="player.html" class="player bottom baseball pos-p " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="37 Coedya Alelean">
                            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                            37                        </a>
                    
                    <img class="img-responsive center-block" src="images/common/baseball-match-field.jpg" alt="match-field">
                </div>
            </div>
        </div>
        <ul class="team-legend" role="tablist">
            <li class="active">
                <a href="#baseball_pitch_top" data-toggle="tab" aria-controls="baseball_pitch_top" aria-expanded="true">
                    <div class="circle red"></div>Team 1          </a>
            </li>
            <li class="">
                <a href="#baseball_pitch_button" data-toggle="tab" aria-controls="baseball_pitch_button" aria-expanded="false">
                    <div class="circle black"></div>Team 2           </a>
            </li>	
        </ul> 
    </div>