<div class="tactic basketball">
    <div class="field text-center">

        <a href="player-second-page.html" class="player top basketball sf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="14 Breanadon Inegraam">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        14                    
        </a>
        <a href="player-second-page.html" class="player top basketball c  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="40 Iveicaa Zuebaac">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        40                    
        </a>
        <a href="player-second-page.html" class="player top basketball sg  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="0 Niecka Yoeunag">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        0                    
        </a>
        <a href="player-second-page.html" class="player top basketball pf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="15 Theomaas Roebianson">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        15                    
        </a>
        <a href="player-second-page.html" class="player top basketball pg  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="6 Joerdaan Clearakson">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        6                    
        </a>
        <a href="player-second-page.html" class="player bottom basketball c  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="44 Tyelear Zeellaer">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        44                    
        </a>
        <a href="player-second-page.html" class="player bottom basketball pg  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="36 Maercaus Smearat">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        36                    
        </a>
        <a href="player-second-page.html" class="player bottom basketball pf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="8 Joenaas Jeereabko">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        8                    
        </a>
        <a href="player-second-page.html" class="player bottom basketball sf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="7 Jaeylaen Breowan">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        7                    
        </a>
        <a href="player-second-page.html" class="player bottom basketball sg  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="0 Aveeray Breadaley">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player"  >                        0                    
        </a>

        <img class="img-responsive center-block" src="images/common/basketball-match-field.jpg" alt="match-field">
    </div>
    <ul class="team-legend">
        <li><div class="circle red"></div>Loes Aneges Lekars</li>
        <li><div class="circle black"></div>Besteon Ceeltas</li>	
    </ul> 
</div>