<div class="team-best-player">
    <div class="">
        <ul class="player-filters" role="tablist">
            <li class="active">
                <a href="#goals" role="tab" data-toggle="tab">goals</a>
            </li>
            <li>
                <a href="#assist" role="tab" data-toggle="tab">assist</a>
            </li>
        </ul>    
    </div>
    <div class="tab-content">
        <div class="best-players-list tab-pane active" id="goals">
            <a href="player-second-page.html" class="item">
                <span class="number">9</span>
                <span>Luis Hernandez</span>
                <span class="achievement">14</span>
            </a>
            <a href="player.html" class="item">
                <span class="number">9</span>
                <span>Luis Hernandez</span>
                <span class="achievement">14</span>
            </a>
            <a href="player-second-page.html" class="item">
                <span class="number">9</span>
                <span>Luis Hernandez</span>
                <span class="achievement">14</span>
            </a>
            <a href="player.html" class="item">
                <span class="number">9</span>
                <span>Luis Hernandez</span>
                <span class="achievement">14</span>
            </a>
            <a href="player.html" class="item">
                <span class="number">9</span>
                <span>Luis Hernandez</span>
                <span class="achievement">14</span>
            </a>
            <a href="player-second-page.html" class="item">
                <span class="number">9</span>
                <span>Luis Hernandez</span>
                <span class="achievement">14</span>
            </a>
            <a href="player.html" class="item">
                <span class="number">9</span>
                <span>Luis Hernandez</span>
                <span class="achievement">14</span>
            </a>    
        </div>
        <div class="best-players-list tab-pane" id="assist">
            <a href="player.html" class="item">
                <span class="number">1</span>
                <span>Luis Hernandez</span>
                <span class="achievement">14</span>
            </a>
            <a href="player-second-page.html" class="item">
                <span class="number">9</span>
                <span>Luis Hernandez</span>
                <span class="achievement">14</span>
            </a>
            <a href="player.html" class="item">
                <span class="number">9</span>
                <span>Luis Hernandez</span>
                <span class="achievement">14</span>
            </a>
            <a href="player.html" class="item">
                <span class="number">9</span>
                <span>Luis Hernandez</span>
                <span class="achievement">14</span>
            </a>
            <a href="player-second-page.html" class="item">
                <span class="number">9</span>
                <span>Luis Hernandez</span>
                <span class="achievement">14</span>
            </a>
            <a href="player.html" class="item">
                <span class="number">9</span>
                <span>Luis Hernandez</span>
                <span class="achievement">14</span>
            </a>
            <a href="player.html" class="item">
                <span class="number">9</span>
                <span>Luis Hernandez</span>
                <span class="achievement">14</span>
            </a>
        </div>
    </div>
</div>