<!--BROADCAST SPONSORS BEGIN-->
<div class="broadcast-sponsors">
    <div class="list">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-6 text-center">
                    <img class="image-width" src="images/common/sponsor-img3.png" alt="sponsor-img">	
                </div>
                <div class="col-sm-3 col-xs-6 text-center">
                    <img  class="image-width" src="images/common/sponsor-img.png" alt="sponsor-img">	
                </div>
                <div class="col-sm-3 col-xs-6 text-center">
                    <img class="image-width" src="images/common/sponsor-img1.png" alt="sponsor-img">	
                </div>
                <div class="col-sm-3 col-xs-6 text-center">
                    <img class="dota-csgo-image image-width" src="images/common/sponsor-img2.png" alt="sponsor-img">	
                </div>	
            </div>
        </div>
    </div>
</div>
<!--BROADCAST SPONSORS END-->