<!--CALL TO ACTION BEGIN-->
<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-9 col-xs-6">
                <div class="text">Become part of a great team</div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 text-right">
                <a href="contacts.html" class="join">Join us</a>
            </div>
        </div>
    </div>
</div>
<!--CALL TO ACTION END-->