<!--CHAMPIONSHIP NEWS TAB BEGIN -->
<div class="tab-item news-tab tab-pane" id="news">
    <div class="news-list">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="item img-top">
                        <div class="img-wrap">
                            <div class="bage highlight">highlight</div>
                            <a href="news-single.html"><img src="images/soccer/news-list-img.jpg" alt="news-list-img"></a>
                        </div>
                        <div class="info">
                            <a href="news-single.html" class="name">Bauza: Bono and Tolo will start against Intercitulo</a>	
                            <div class="wrap">
                                <a href="news-single.html">25 Sep 2017</a> by <a href="news-single.html">Mason Carrington</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item img-top">
                        <div class="img-wrap">
                            <div class="bage interview">interview</div>
                            <a href="news-single.html"><img src="images/soccer/news-list-img.jpg" alt="news-list-img"></a>
                        </div>
                        <div class="info">
                            <a href="news-single.html" class="name">Bauza: Bono and Tolo will start against Intercitulo</a>	
                            <div class="wrap">
                                <a href="news-single.html">25 Sep 2017</a> by <a href="news-single.html">Mason Carrington</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item img-top">
                        <div class="img-wrap">
                            <div class="bage interview">interview</div>
                            <a href="news-single.html"><img src="images/soccer/news-list-img.jpg" alt="news-list-img"></a>
                        </div>
                        <div class="info">
                            <a href="news-single.html" class="name">Bauza: Bono and Tolo will start against Intercitulo</a>	
                            <div class="wrap">
                                <a href="news-single.html">25 Sep 2017</a> by <a href="news-single.html">Mason Carrington</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item img-top">
                        <div class="img-wrap">
                            <div class="bage interview">interview</div>
                            <a href="news-single.html"><img src="images/soccer/news-list-img.jpg" alt="news-list-img"></a>
                        </div>
                        <div class="info">
                            <a href="news-single.html" class="name">Bauza: Bono and Tolo will start against Intercitulo</a>	
                            <div class="wrap">
                                <a href="news-single.html">25 Sep 2017</a> by <a href="news-single.html">Mason Carrington</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>	
</div>
<!--CHAMPIONSHIP NEWS TAB END -->