<!--CHAMPIONSHIP PART WRAP BEGIN -->
<div class="tab-item part-wrap tab-pane active" id="participants">
    <div class="part-list">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="club-stats.html" class="item">
                        <span class="logo"><img src="images/soccer/team-logo1.png" width="80" height="80" alt="team-logo"></span>
                        <span class="name">Team 1</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="club-stats.html" class="item">
                        <span class="logo"><img src="images/soccer/team-logo2.png" width="80" height="80" alt="team-logo"></span>
                        <span class="name">Team 2</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="club-stats.html" class="item">
                        <span class="logo"><img src="images/soccer/team-logo3.png" width="80" height="80" alt="team-logo"></span>
                        <span class="name">Team 3</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="club-stats.html" class="item">
                        <span class="logo"><img src="images/soccer/team-logo4.png" width="80" height="80" alt="team-logo"></span>
                        <span class="name">Team 4</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="club-stats.html" class="item">
                        <span class="logo"><img src="images/soccer/team-logo5.png" width="80" height="80" alt="team-logo"></span>
                        <span class="name">Team 5</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="club-stats.html" class="item">
                        <span class="logo"><img src="images/soccer/team-logo1.png" width="80" height="80" alt="team-logo"></span>
                        <span class="name">Team 6</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="club-stats.html" class="item">
                        <span class="logo"><img src="images/soccer/team-logo2.png" width="80" height="80" alt="team-logo"></span>
                        <span class="name">Team 7</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="club-stats.html" class="item">
                        <span class="logo"><img src="images/soccer/team-logo3.png" width="80" height="80" alt="team-logo"></span>
                        <span class="name">Team 8</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="club-stats.html" class="item">
                        <span class="logo"><img src="images/soccer/team-logo4.png" width="80" height="80" alt="team-logo"></span>
                        <span class="name">Team 9</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="club-stats.html" class="item">
                        <span class="logo"><img src="images/soccer/team-logo5.png" width="80" height="80" alt="team-logo"></span>
                        <span class="name">Team 10</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--CHAMPIONSHIP PART WRAP END -->