<!--CHAMPIONSHIP MATCH WRAP BEGIN -->
<div class="tab-item match-wrap tab-pane" id="matches">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-lates-matches">
                    <a href="matches.html" class="item">
                        <span class="championship">National cup - quarterfinal</span>
                        <span class="teams-wrap">
                            <span class="team"><span><img src="images/soccer/team-logo1.png" alt="team-logo"></span><span>Valencia Valencia</span></span>
                            <span class="score"><span>3:2</span></span>
                            <span class="team1"><span>Internacional Internacional</span><span><img src="images/soccer/team-logo2.png" alt="team-logo"></span></span>
                        </span>
                        <span class="game-result">(5-4) penalties</span>
                    </a>
                    <a href="matches.html" class="item">
                        <span class="championship">National cup - quarterfinal</span>
                        <span class="teams-wrap">
                            <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Valencia Valencia</span></span>
                            <span class="score"><span>3:2</span></span>
                            <span class="team1"><span>Internacional Internacional</span><span><img src="images/soccer/team-logo4.png" alt=""></span></span>
                        </span>
                        <span class="game-result">(5-4) penalties</span>
                    </a>
                    <a href="matches.html" class="item">
                        <span class="championship">National cup - quarterfinal</span>
                        <span class="teams-wrap">
                            <span class="team"><span><img src="images/soccer/team-logo5.png" alt="team-logo"></span><span>Valencia Valencia</span></span>
                            <span class="score"><span>3:2</span></span>
                            <span class="team1"><span>Internacional Internacional</span><span><img src="images/soccer/team-logo1.png" alt=""></span></span>
                        </span>
                        <span class="game-result">(5-4) penalties</span>
                    </a>
                    <a href="matches.html" class="item">
                        <span class="championship">National cup - quarterfinal</span>
                        <span class="teams-wrap">
                            <span class="team"><span><img src="images/soccer/team-logo1.png" alt="team-logo"></span><span>Valencia Valencia</span></span>
                            <span class="score"><span>3:2</span></span>
                            <span class="team1"><span>Internacional Internacional</span><span><img src="images/soccer/team-logo2.png" alt="team-logo"></span></span>
                        </span>
                        <span class="game-result">(5-4) penalties</span>
                    </a>
                    <a href="matches.html" class="item">
                        <span class="championship">National cup - quarterfinal</span>
                        <span class="teams-wrap">
                            <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Valencia Valencia</span></span>
                            <span class="score"><span>3:2</span></span>
                            <span class="team1"><span>Internacional Internacional</span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                        </span>
                        <span class="game-result">(5-4) penalties</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--CHAMPIONSHIP MATCH WRAP END -->