<!--CHAMPIONSHIP NAVIGATION BEGIN -->
<div class="champ-navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="champ-nav-list">
                    <li class="active"><a href="#participants">participants</a></li>
                    <li><a href="#matches">Matches</a></li>
                    <li><a href="#tournamentgrid">Tournament grid</a></li>
                    <li><a href="#news">News(4)</a></li>
                </ul>		
            </div>
        </div>
    </div>				
</div>
<!--CHAMPIONSHIP NAVIGATION END -->