
<div class="championship-header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="club-logo">
                    <img src="images/soccer/champ-logo.png" class="img-responsive" alt="champ image">                
                </div>
            </div>
            <div class="col-md-3">
                <div class="club-info">
                    <div class="item"><span>Founded:</span> 1955</div>
                    <div class="item"><span>Region:</span> Europe</div>
                    <div class="item"><span>Current champions:</span> Reasl Madrdid</div>
                    <div class="item"><span>Most successful club(s):</span> Reasl Madrdid</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="club-info">
                    <div class="item">About tornament</div>
                    <p>Curabitur id tellus mi. In laoreet lacinia luctus. Quisque ante lacus, fermentum et ante ultrices, accumsan blandit magna. Sed tincidunt placerat viverra. Integer lacinia nisi sed pharetra tempus. Nullam eu finibus odio. Etiam tristique dui posuere eros varius laoreet. Vivamus euismod neque purus, interdum eleifend nulla vulputate vel.  Donec imperdiet magna sem, ut laoreet ligula dapibus sit amet. Ut interdum diam at condimentum finibus.</p>
                </div>	
            </div>
        </div>	
    </div>	
</div>