
<div class="broadcast-list" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="broadcast-item">
        <div class="item-header" id="headingOne">
            <div class="row">
                <div class="col-md-1">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-11">
                    <div class="item-head-body">
                        <a href="club-stats.html"><img src="images/soccer/team-logo1.png" width="40" height="40" alt="main-match-icon"></a>
                        <span class="info">
                            <span class="what">September, 20 - 27</span>
                            <span class="then">Champions league</span>
                        </span>
                        <span class="marker">live</span>
                    </div>
                </div>
            </div>	
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="img-wrap"><img src="images/soccer/broad-cup-img.jpg" alt="main-match-icon"></div>
            <div class="item-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>Selvage mixtape coloring book, street art swag sriracha activated charcoal vegan hammock selfies distillery wayfarers dreamcatcher lyft beard. At first, for some time, I was not able to answer him one word; but as he had taken me in his arms.	</p>
                        <div class="part-list">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="club-stats.html" class="item">
                                        <span class="logo"><img src="images/soccer/team-logo5.png" width="80" height="80" alt="club-image"></span>
                                        <span class="name">Djurgardens IF</span>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="club-stats.html" class="item">
                                        <span class="logo"><img src="images/soccer/team-logo1.png" width="80" height="80" alt="club-image"></span>
                                        <span class="name">Djurgardens IF</span>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="club-stats.html" class="item">
                                        <span class="logo"><img src="images/soccer/team-logo2.png" width="80" height="80" alt="club-image"></span>
                                        <span class="name">Djurgardens IF</span>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="club-stats.html" class="item">
                                        <span class="logo"><img src="images/soccer/team-logo3.png" width="80" height="80" alt="club-image"></span>
                                        <span class="name">Djurgardens IF</span>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="club-stats.html" class="item">
                                        <span class="logo"><img src="images/soccer/team-logo4.png" width="80" height="80" alt="club-image"></span>
                                        <span class="name">Djurgardens IF</span>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="club-stats.html" class="item">
                                        <span class="logo"><img src="images/soccer/team-logo5.png" width="80" height="80" alt="club-image"></span>
                                        <span class="name">Djurgardens IF</span>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="club-stats.html" class="item">
                                        <span class="logo"><img src="images/soccer/team-logo2.png" width="80" height="80" alt="club-image"></span>
                                        <span class="name">Djurgardens IF</span>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="club-stats.html" class="item">
                                        <span class="logo"><img src="images/soccer/team-logo3.png" width="80" height="80" alt="club-image"></span>
                                        <span class="name">Djurgardens IF</span>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="club-stats.html" class="item">
                                        <span class="logo"><img src="images/soccer/team-logo4.png" width="80" height="80" alt="club-image"></span>
                                        <span class="name">Djurgardens IF</span>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="club-stats.html" class="item">
                                        <span class="logo"><img src="images/soccer/team-logo5.png" width="80" height="80" alt="club-image"></span>
                                        <span class="name">Djurgardens IF</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="championship.html" class="btn">View tournament page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="broadcast-item">
        <div class="item-header" id="headingTwo" role="tab">
            <div class="row">
                <div class="col-md-1">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-11">
                    <div class="item-head-body">
                        <a href="club-stats.html"><img src="images/soccer/team-logo1.png" width="40" height="40" alt="main-match-icon"></a>
                        <span class="info">
                            <span class="what">September, 20 - 27</span>
                            <span class="then">Champions league</span>
                        </span>
                        <span class="marker">live</span>
                    </div>
                </div>
            </div>	
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="img-wrap"><img src="images/soccer/broad-cup-img.jpg" alt="main-match-icon"></div>
                <div class="item-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Selvage mixtape coloring book, street art swag sriracha activated charcoal vegan hammock selfies distillery wayfarers dreamcatcher lyft beard. At first, for some time, I was not able to answer him one word; but as he had taken me in his arms.	</p>
                            <div class="part-list">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo1.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo2.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo3.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo4.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo5.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo1.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo2.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo3.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo4.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo5.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="championship.html" class="btn">View tournament page</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    
    <div class="broadcast-item">
        <div class="item-header" id="headingThree" role="tab">
            <div class="row">
                <div class="col-md-1">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-11">
                    <div class="item-head-body">
                        <a href="club-stats.html"><img src="images/soccer/team-logo1.png" width="40" height="40" alt="main-match-icon"></a>
                        <span class="info">
                            <span class="what">September, 20 - 27</span>
                            <span class="then">Champions league</span>
                        </span>
                        <span class="marker">live</span>
                    </div>
                </div>
            </div>	
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="img-wrap"><img src="images/soccer/broad-cup-img.jpg" alt="main-match-icon"></div>
                <div class="item-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Selvage mixtape coloring book, street art swag sriracha activated charcoal vegan hammock selfies distillery wayfarers dreamcatcher lyft beard. At first, for some time, I was not able to answer him one word; but as he had taken me in his arms.	</p>
                            <div class="part-list">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo1.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo2.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo3.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo4.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo5.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo1.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo2.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo3.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo4.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="club-stats.html" class="item">
                                            <span class="logo"><img src="images/soccer/team-logo5.png" width="80" height="80" alt="club-image"></span>
                                            <span class="name">Djurgardens IF</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="championship.html" class="btn">View tournament page</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>