<!--CLUB MAIN STAT BEGIN-->
<section class="club-main-stat">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6>Last match</h6>
                <div class="last-match">
                    <div class="team">
                        <a href="about-club.html"><img src="images/soccer/team-logo1.png" width="40" height="40" alt="team-logo"></a>
                        <a href="about-club.html" class="name">Team 1</a>
                    </div>
                    <div class="score"><span>2</span>:<span>0</span></div>
                    <div class="team right">
                        <a href="about-club.html" class="name">Team 2</a>
                        <a href="about-club.html"><img src="images/soccer/team-logo2.png" width="40" height="40" alt="team-logo"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h6>Standings</h6>
                <div class="club-standings overflow-scroll">
                    <table class="table-standings">
                        <tr>
                            <th>Club</th>
                            <th>Win</th>
                            <th>Los</th>
                            <th>pts</th>
                        </tr>
                        <tr>
                            <td class="up">
                                <i class="fa fa-caret-up" aria-hidden="true"></i> 1 <span class="team"><img src="images/soccer/team-logo2.png" width="30" height="30" alt="team-logo"></span> <span>Team 1</span></td>
                            <td>11</td>
                            <td>2</td>
                            <td><span>62</span></td>
                        </tr>
                        <tr>
                            <td class="down">
                                <i class="fa fa-caret-down" aria-hidden="true"></i> 2 <span class="team"><img src="images/soccer/team-logo3.png" width="30" height="30" alt="team-logo"></span> <span>Team 2</span></td>
                            <td>11</td>
                            <td>2</td>
                            <td><span>62</span></td>
                        </tr>
                        <tr>
                            <td class="none">
                                <i class="fa fa-circle" aria-hidden="true"></i> 3 <span class="team"><img src="images/soccer/team-logo4.png" width="30" height="30" alt="team-logo"></span> <span>Team 3</span></td>
                            <td>11</td>
                            <td>2</td>
                            <td><span>62</span></td>
                        </tr>
                        <tr>
                            <td class="down">
                                <i class="fa fa-caret-down" aria-hidden="true"></i> 4 <span class="team"><img src="images/soccer/team-logo5.png" width="30" height="30" alt="team-logo"></span> <span>Team 4</span></td>
                            <td>11</td>
                            <td>2</td>
                            <td><span>62</span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <h6>Attacks per game </h6>	
                <div class="ct-chart" id="attack-per-game"></div>
            </div>
            <div class="col-md-12">
                <h6>tournament path</h6>
                <div class="ct-chart" id="tournament-path"></div>
            </div>
            <div class="col-md-12"><h6>Last five matches</h6></div>
            <div class="col-md-12 overflow-scroll">

                <table>
                    <tr>
                        <th>competitor</th>
                        <th>gp</th>
                        <th>gs</th>
                        <th>min</th>
                        <th>fgm-a</th>
                        <th>fg%</th>
                        <th>3pm-a</th>
                        <th>3p%</th>
                        <th>om</th>
                        <th>or</th>
                        <th>to</th>
                        <th>pts</th>
                    </tr>
                    <tr>
                        <td>
                            <span class="team"><img src="images/soccer/team-logo1.png" width="30" height="30" alt="team-logo"></span>
                            <span>Team 1</span>
                        </td>
                        <td>2</td>
                        <td>55</td>
                        <td>62</td>
                        <td>5</td>
                        <td>0</td>
                        <td>8</td>
                        <td>89</td>
                        <td>7</td>
                        <td>2</td>
                        <td>2</td>
                        <td><span>12</span></td>
                    </tr>
                    <tr>
                        <td>
                            <span class="team"><img src="images/soccer/team-logo2.png" width="30" height="30" alt="team-logo"></span>
                            <span>Team 2</span>
                        </td>
                        <td>2</td>
                        <td>55</td>
                        <td>62</td>
                        <td>5</td>
                        <td>0</td>
                        <td>8</td>
                        <td>89</td>
                        <td>7</td>
                        <td>2</td>
                        <td>2</td>
                        <td><span>12</span></td>
                    </tr>
                    <tr>
                        <td>
                            <span class="team"><img src="images/soccer/team-logo3.png" width="30" height="30" alt="team-logo"></span>
                            <span>Team 3</span>
                        </td>
                        <td>2</td>
                        <td>55</td>
                        <td>62</td>
                        <td>5</td>
                        <td>0</td>
                        <td>8</td>
                        <td>89</td>
                        <td>7</td>
                        <td>2</td>
                        <td>2</td>
                        <td><span>12</span></td>
                    </tr>
                    <tr>
                        <td>
                            <span class="team"><img src="images/soccer/team-logo4.png" width="30" height="30" alt="team-logo"></span>
                            <span>Team 4</span>
                        </td>
                        <td>2</td>
                        <td>55</td>
                        <td>62</td>
                        <td>5</td>
                        <td>0</td>
                        <td>8</td>
                        <td>89</td>
                        <td>7</td>
                        <td>2</td>
                        <td>2</td>
                        <td><span>12</span></td>
                    </tr>
                </table>

            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p>Pabst irony tattooed, synth sriracha selvage pok pok. Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep v mixtape semiotics brunch.</p>
                <div class="col-md-6">
                    <h6>Salary cap</h6>
                    <div class="canvas-minutes-big">
                        <div class="ct-chart" id="stackedbar" ></div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <h6>Main investors</h6>
                        <div class="canvas-investors">
                            <div class="ct-chart" id="gaugechart" ></div>
                        </div>
                    </div>

                </div>



                <h6>Raitings</h6>
                <div class="canvas-minutes-big" >
                    <div class="ct-chart svgpath" data-ready id="svgpath" ></div>
                </div>
                <h6>Financial indicators</h6>
                <div class="canvas-minutes-big">
                    <div class="ct-chart" id="pickcircle" ></div>
                </div>




                <h6>Attendance</h6>
                <div class="canvas-minutes">
                    <div class="ct-chart" id="label_placement" ></div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!--CLUB MAIN STAT END-->