<!--COMMING WRAP BEGIN-->
<div class="coming-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="index.html" class="error-logo"><img src="images/soccer/coming-logo.png" alt="coming-logo"></a>
            </div>
        </div>
    </div>	
    <div class="coming-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="small-text">Team 1 - Team 2</span>
                    <span class="big-text">final game</span>
                    <div class="counter">
                        <ul>
                            <li>
                                <div class="digit">6</div>
                                <div class="descr">days</div>
                            </li>
                            <li>
                                <div class="digit">20</div>
                                <div class="descr">hours</div>
                            </li>
                            <li>
                                <div class="digit">37</div>
                                <div class="descr">minutes</div>
                            </li>
                            <li>
                                <div class="digit">04</div>
                                <div class="descr">seconds</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--COMMING WRAP END-->