
<div class="tactic csgo">
    <div class="field text-center">
       
        <img class="img-responsive center-block" src="images/common/csgo-match-field.jpg" alt="field-img">
    </div>
    
</div>