<!--DONATIONS WRAP BEGIN-->
<section class="donations-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Support Your team</h4>
                <p>Pabst irony tattooed, synth sriracha selvage pok pok. Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep v mixtape semiotics brunch.</p>
            </div>
            <div class="col-md-12">
                <div class="donation-item">
                    <div class="row no-gutter equal-height">
                        <div class="col-md-7 col-sm-12">
                            <div class="img-wrap"><img class="img-responsive" src="images/soccer/donation-item-img.jpg" alt="donation-item"></div>
                        </div>
                        <div class="col-md-5 col-sm-12 position-relative">
                            <div class="info">
                                <div class="wrap">
                                    <div class="title">New team arena</div>
                                    <div class="progress-wrap">
                                        <ul class="details">
                                            <li>RAISED <span>$19000</span>/</li>
                                            <li>DONORS <span>4</span>/</li>
                                            <li>GOAL <span>$20000</span></li>
                                        </ul>
                                        <div class="progress-line">
                                            <div class="bar"></div>
                                        </div>
                                    </div>
                                    <p>Selvage mixtape coloring book, street art swag sriracha activated charcoal vegan hammock selfies distillery wayfarers dreamcatcher lyft beard.</p>
                                    <a href="#" class="btn small">Read more</a>
                                    <a href="#" class="btn small">Donate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="donation-item">
                    <div class="row no-gutter equal-height">
                        <div class="col-md-7 col-sm-12">
                            <div class="img-wrap"><img class="img-responsive" src="images/soccer/donation-item-img.jpg" alt="donation-item"></div>
                        </div>
                        <div class="col-md-5 col-sm-12 position-relative">
                            <div class="info">
                                <div class="wrap">
                                    <div class="title">New team arena</div>
                                    <div class="progress-wrap">
                                        <ul class="details">
                                            <li>RAISED <span>$19000</span>/</li>
                                            <li>DONORS <span>4</span>/</li>
                                            <li>GOAL <span>$20000</span></li>
                                        </ul>
                                        <div class="progress-line">
                                            <div class="bar-1" ></div>
                                        </div>
                                    </div>
                                    <p>Selvage mixtape coloring book, street art swag sriracha activated charcoal vegan hammock selfies distillery wayfarers dreamcatcher lyft beard.</p>
                                    <a href="#" class="btn small">Read more</a>
                                    <a href="#" class="btn small">Donate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="donation-item">
                    <div class="row no-gutter equal-height">
                        <div class="col-md-7 col-sm-12" >
                            <div class="img-wrap"><img class="img-responsive" src="images/soccer/donation-item-img.jpg" alt="donation-item"></div>
                        </div>
                        <div class="col-md-5 col-sm-12 position-relative" >
                            <div class="info">
                                <div class="wrap">
                                    <div class="title">New team arena</div>
                                    <div class="progress-wrap">
                                        <ul class="details">
                                            <li>RAISED <span>$19000</span>/</li>
                                            <li>DONORS <span>4</span>/</li>
                                            <li>GOAL <span>$20000</span></li>
                                        </ul>
                                        <div class="progress-line">
                                            <div class="bar-2" ></div>
                                        </div>
                                    </div>
                                    <p>Selvage mixtape coloring book, street art swag sriracha activated charcoal vegan hammock selfies distillery wayfarers dreamcatcher lyft beard.</p>
                                    <a href="#" class="btn small">Read more</a>
                                    <a href="#" class="btn small">Donate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="donation-item">
                    <div class="row no-gutter equal-height">
                        <div class="col-md-7 col-sm-12" >
                            <div class="img-wrap"><img class="img-responsive" src="images/soccer/donation-item-img.jpg" alt="donation-item"></div>
                        </div>
                        <div class="col-md-5 col-sm-12 position-relative" >
                            <div class="info">
                                <div class="wrap">
                                    <div class="title">New team arena</div>
                                    <div class="progress-wrap">
                                        <ul class="details">
                                            <li>RAISED <span>$19000</span>/</li>
                                            <li>DONORS <span>4</span>/</li>
                                            <li>GOAL <span>$20000</span></li>
                                        </ul>
                                        <div class="progress-line">
                                            <div class="bar-3" ></div>
                                        </div>
                                    </div>
                                    <p>Selvage mixtape coloring book, street art swag sriracha activated charcoal vegan hammock selfies distillery wayfarers dreamcatcher lyft beard.</p>
                                    <a href="#" class="btn small">Read more</a>
                                    <a href="#" class="btn small">Donate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-wrap">
                    <ul class="pagination">
                        <li><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--DONATIONS WRAP END-->
