<div class="tactic dota">
    <div class="field text-center">

        <div class="top mid">
            <a href="player.html" class="player top dota mid " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="TheuGa: Queenofpain ">
                <img width="56" height="56" src="images/common/member-avatar.jpg" alt="player"> 
                <img class="hero" src="images/common/queenofpain_icon.png" alt="queenofpain">
            </a>
            <a href="player-second-page.html" class="player top dota mid " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="SseaSapartan: Enigma ">
                <img width="56" height="56" src="images/common/member-avatar.jpg" class=" " alt="player" >                        
                <img class="hero" src=" images/common/enigma_icon.png" alt="enigma">
            </a>
        </div>
        <div class="top hard">
            <a href="player.html" class="player top dota hard " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="SkeyLaark: Beastmaster ">
                <img width="56" height="56" src="images/common/member-avatar.jpg" class=" " alt="player" >                        
                <img class="hero" src=" images/common/beastmaster_icon.png" alt="beastmaster">
            </a>
        </div>
        <div class="top ease">
            <a href="player-second-page.html" class="player top dota ease " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Maedaara: Juggernaut ">
                <img width="56" height="56" src="images/common/member-avatar.jpg" class=" " alt="player" >                        
                <img class="hero" src=" images/common/juggernaut_icon.png" alt="juggernaut">
            </a>
        </div>
        <div class="top jungle">
            <a href="player.html" class="player top dota jungle " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Maeybae Neexta Tiemea: Bounty hunter ">
                <img width="56" height="56" src="images/common/member-avatar.jpg" class=" " alt="player" >  
                <img class="hero" src=" images/common/bounty_hunter_icon.png" alt="bounty hunter">
            </a>
        </div>

        <div class="bottom mid">
            <a href="player.html" class="player bottom dota mid " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="13eabayKnight: Ember spirit ">
                <img width="56" height="56" src="images/common/member-avatar.jpg" class=" " alt="player" >                        
                <img class="hero" src=" images/common/ember_spirit_icon.png" alt="ember spirit">
            </a>
            <a href="player-second-page.html" class="player bottom dota mid " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Aceea: Centaur ">
                <img width="56" height="56" src="images/common/member-avatar.jpg" class=" " alt="player" >                        
                <img class="hero" src=" images/common/centaur_icon.png" alt="centaur">
            </a>
        </div>
        <div class="bottom hard">
            <a href="player.html" class="player bottom dota hard " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Noeiaa: Earth spirit ">
                <img width="56" height="56" src="images/common/member-avatar.jpg" class=" " alt="player" >                       
                <img class="hero" src=" images/common/earth_spirit_icon.png" alt="earth spirit">
            </a>
        </div>
        <div class="bottom ease">
            <a href="player.html" class="player bottom dota ease " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="HeestaeJoe-Rotten: Queenofpain ">
                <img width="56" height="56" src="images/common/member-avatar.jpg" class=" " alt="player" >                        
                <img class="hero" src=" images/common/queenofpain_icon.png" alt="queenofpain">
            </a>
        </div>
        <div class="bottom jungle">
            <a href="player-second-page.html" class="player bottom dota jungle " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Ryezea: Shadow demon ">
                <img width="56" height="56" src="images/common/member-avatar.jpg" class=" " alt="player" >                        
                <img class="hero" src=" images/common/shadow_demon_icon.png" alt="shadow demon">
            </a>
        </div>

        <img class="img-responsive center-block" src="images/common/dota-match-field.jpg" alt="match-field">
    </div>
</div>
