<!--ERROR WRAP BEGIN-->
<div class="error-wrap offline">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="index.html" class="error-logo"><img src="images/soccer/error-logo.png" alt="logo"></a>
            </div>
        </div>
    </div>
    <div class="offline-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="small-text">Site is</span>
                    <span class="big-text">Under</span>
                    <span class="big-text">Maintenance</span>
                    <ul class="offline-socials">
                        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--ERROR WRAP END-->