<!-- ESPORT CHAMPIONSHIP ABOUT TROPHEY BEGIN -->
<div id="about" class="esport-championship-about-trophey">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5 class="esport-landing-header">About Trophy</h5>
                <div class="trophey-wrap">
                    <span>
                        <img src="images/common/The-International-Dota-2-Battle-Pass.png" alt="trophey">
                    </span>
                    <span>
                        <span class="name">aegis</span>
                        <span class="date">2017</span>
                    </span>
                </div>
            </div>
            <div class="col-md-7">
                <h5 class="esport-landing-header">About Event</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="wrap">
                            <span class="head">prize pool</span>
                            <span class="info">$ 20 985 528</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="wrap">
                            <span class="head">seats in the arena</span>
                            <span class="info">9 850</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="wrap">
                            <span class="head">Date of event</span>
                            <span class="info">28-30 july</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="wrap">
                            <span class="head">Place of event</span>
                            <span class="info">London</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ESPORT CHAMPIONSHIP ABOUT TROPHEY END -->