<!--ESPORT CHAMPIONSHIP WIN TEAM BEGIN-->
<div class="esport-championship-win-team start team_2016">
    <a href="#">
        <div class="image-wrapper">
            <img src="images/common/team-logo1.png" alt="team-logo">
        </div>
        <div class="text">
            <span class="name">team eagles</span>
            <span class="status">champion</span>
        </div>
    </a>
</div>
<div class="esport-championship-win-team start team_2015">
    <a href="#">
        <div class="image-wrapper">
            <img src="images/common/team-logo1.png" alt="team-logo">
        </div>
        <div class="text">
            <span class="name">team rhinos</span>
            <span class="status">champion</span>
        </div>
    </a>
</div>
<div class="esport-championship-win-team start team_2014">
    <a href="#">
        <div class="image-wrapper">
            <img src="images/common/team-logo1.png" alt="team-logo">
        </div>
        <div class="text">
            <span class="name">team wolves</span>
            <span class="status">champion</span>
        </div>
    </a>
</div>
<div class="esport-championship-win-team start team_2013">
    <a href="#">
        <div class="image-wrapper">
            <img src="images/common/team-logo1.png" alt="team-logo">
        </div>
        <div class="text">
            <span class="name">team dolphins</span>
            <span class="status">champion</span>
        </div>
    </a>
</div>
<div class="esport-championship-win-team start team_2012">
    <a href="#">
        <div class="image-wrapper">
            <img src="images/common/team-logo1.png" alt="team-logo">
        </div>
        <div class="text">
            <span class="name">team eagles</span>
            <span class="status">champion</span>
        </div>
    </a>
</div>
<!--ESPORT CHAMPIONSHIP WIN TEAM END-->