<!--ESPORT CHAMPIONSHIP STORE CONTAINER BEGIN-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5 class="esport-landing-header">fan store</h5>
        </div>	
        <div class="col-md-12">
            <ul class="esport-championship-store-filter">
                <li class="active"><a data-toggle="tab" href="#new">New</a></li>
                <li><a data-toggle="tab" href="#hotdeals">hot deals</a></li>
                <li><a data-toggle="tab" href="#officialapparel">Official apparel</a></li>
            </ul>
        </div>
    </div>
</div>
<!--ESPORT CHAMPIONSHIP STORE CONTAINER BEGIN-->