<!--ESPORT CHAMPIONSHIP PLACES BEGIN-->
<div class="esport-championship-places start team_2016">
    <a href="#">
        <img class="background" src="images/common/esport_championship_second_place_background.jpg" alt="background">  
        <img  class="team-logo" src="images/common/team-logo4.png" alt="team-logo">
        <span>
            <span class="name">team rhinos</span>
            <span class="place">second place</span>
        </span>
    </a>
    <a href="#">
        <img class="background" src="images/common/esport_championship_third_place_background.jpg" alt="background"> 
        <img class="team-logo" src="images/common/team-logo4.png" alt="team-logo">
        <span>
            <span class="name">team rhinos</span>
            <span class="place">second place</span>
        </span>
    </a>
</div>
<div class="esport-championship-places start team_2015">
    <a href="#">
        <img class="background" src="images/common/esport_championship_second_place_background.jpg" alt="background">  
        <img  class="team-logo" src="images/common/team-logo4.png" alt="team-logo">
        <span>
            <span class="name">team rhinos</span>
            <span class="place">second place</span>
        </span>
    </a>
    <a href="#">
        <img class="background" src="images/common/esport_championship_third_place_background.jpg" alt="background"> 
        <img class="team-logo" src="images/common/team-logo4.png" alt="team-logo">
        <span>
            <span class="name">team rhinos</span>
            <span class="place">second place</span>
        </span>
    </a>
</div>
<div class="esport-championship-places start team_2014">
    <a href="#">
        <img class="background" src="images/common/esport_championship_second_place_background.jpg" alt="background">  
        <img  class="team-logo" src="images/common/team-logo4.png" alt="team-logo">
        <span>
            <span class="name">team rhinos</span>
            <span class="place">second place</span>
        </span>
    </a>
    <a href="#">
        <img class="background" src="images/common/esport_championship_third_place_background.jpg" alt="background"> 
        <img class="team-logo" src="images/common/team-logo4.png" alt="team-logo">
        <span>
            <span class="name">team rhinos</span>
            <span class="place">second place</span>
        </span>
    </a>
</div>
<div class="esport-championship-places start team_2013">
    <a href="#">
        <img class="background" src="images/common/esport_championship_second_place_background.jpg" alt="background">  
        <img  class="team-logo" src="images/common/team-logo4.png" alt="team-logo">
        <span>
            <span class="name">team rhinos</span>
            <span class="place">second place</span>
        </span>
    </a>
    <a href="#">
        <img class="background" src="images/common/esport_championship_third_place_background.jpg" alt="background"> 
        <img class="team-logo" src="images/common/team-logo4.png" alt="team-logo">
        <span>
            <span class="name">team rhinos</span>
            <span class="place">second place</span>
        </span>
    </a>
</div>
<div class="esport-championship-places start team_2012">
    <a href="#">
        <img class="background" src="images/common/esport_championship_second_place_background.jpg" alt="background">  
        <img  class="team-logo" src="images/common/team-logo4.png" alt="team-logo">
        <span>
            <span class="name">team rhinos</span>
            <span class="place">second place</span>
        </span>
    </a>
    <a href="#">
        <img class="background" src="images/common/esport_championship_third_place_background.jpg" alt="background"> 
        <img class="team-logo" src="images/common/team-logo4.png" alt="team-logo">
        <span>
            <span class="name">team rhinos</span>
            <span class="place">second place</span>
        </span>
    </a>
</div>
<!--ESPORT CHAMPIONSHIP PLACES END-->