<!--SPORT CHAMPIONSHIP CONTACT BEGIN-->
<div id="contact" class="esport-championship-contact">
    <div class="wrapper-img">
        <img src="images/common/esport-champ-contact-background.jpg" alt="esport-champ-contact-background">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="information-wrap-left">
                    <div>
                        <span class="header-first">I'll see you at </span>
                        <span class="header-red">grand final</span>
                    </div>
                    <span>
                        <span>9082 Center Court Manchester Township</span>
                        <span>28 - 30 July 2017</span>
                    </span>
                    <a href="#">
                        get tickets
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="information-wrap">
                    <div>
                        <span class="header-welcom">Welcom to</span>
                        <span class="header-arena">pubstorms</span>
                    </div>
                    <span>
                        <span>Hella pop-up flexitarian, semiotics migas humblebrag schlitz literally tofu deep. </span>
                    </span>
                    <a href="#">
                        get directions
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SPORT CHAMPIONSHIP CONTACT END-->