<!--ESPORT TEAM LANDING MAIN SLIDER BEGIN-->
<div id="home" class="esport-team-landing-main-slider">
    <div class="msp_post_slider" id="amateurs-slider">

        <div class="owl-carousel owl-theme" role="listbox">

            <div class="item msp_post_slide slide-1" >
                <div class="slider-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-8">
                                <div class="sub-title">
                                    esport team landing page
                                </div>
                                <div class="big-title">
                                    Pirates team
                                </div>
                                <a href="/" class="btn">
                                    upcoming events
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item msp_post_slide slide-2" >
                <div class="slider-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-8">
                                <div class="sub-title">
                                    esport team landing page
                                </div>
                                <div class="big-title">
                                    Pirates team
                                </div>
                                <a href="/" class="btn">
                                    upcoming events
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="nav-arrow left-arrow" href="#main-slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="nav-arrow right-arrow" href="#main-slider" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a>

        <div class="progress-line"><div class="bar"></div></div>
    </div>
</div>
<!--ESPORT TEAM LANDING MAIN SLIDER BEGIN-->