<!--ESPORT TEAM LANDING LATEST MATCHES BEGIN-->
<div class="esport-team-landing-latest-matches">
    <a href="#">
        <img src="images/common/esport-champ-late-match.jpg" alt="background">
        <span>Qualification - round 2</span>
        <div>
            <div class="team left">
                <span>
                    <img src="images/common/team-logo2.png" alt="team-logo">
                </span>
                <span class="team-name">internacional</span>
            </div>
            <div class="score">
                <span>3:2</span>
            </div>
            <div class="team right">
                <span class="image">
                    <img src="images/common/team-logo2.png" alt="team-logo">
                </span>
                <span class="team-name">internacional</span>
            </div>
        </div>
        <span>full time</span>
    </a>
    <a href="#">
        <img src="images/common/esport-champ-late-match.jpg" alt="background">
        <span>Qualification - round 2</span>
        <div>
            <div class="team left">
                <span>
                    <img src="images/common/team-logo2.png" alt="team-logo">
                </span>
                <span class="team-name">internacional</span>
            </div>
            <div class="score">
                <span>3:2</span>
            </div>
            <div class="team right">
                <span class="image">
                    <img src="images/common/team-logo2.png" alt="team-logo">
                </span>
                <span class="team-name">internacional</span>
            </div>
        </div>
        <span>full time</span>
    </a>
</div>
<!--ESPORT TEAM LANDING LATEST MATCHES END-->