<!--ESPORT CHAMPIONSHIP COMENTATORS BEGIN-->
<div class="esport-championship-comm-wrap">
    <div class="item">
        <div class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></div>
        <div class="info">
            <div class="name">Devin Andrews</div>
            <div class="country"><img src="images/common/en-flag.png" alt="flag">Sweden</div>
        </div>
        <div class="hover-wrapper">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-google" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="item">
        <div class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></div>
        <div class="info">
            <div class="name">Devin Andrews</div>
            <div class="country"><img src="images/common/en-flag.png" alt="flag">Sweden</div>
        </div>
        <div class="hover-wrapper">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-google" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--ESPORT CHAMPIONSHIP COMENTATORS BEGIN-->