<!--TIMLINE TABS BEGIN-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5 class="esport-landing-header">Champions of the past</h5>
        </div>
        <div class="col-md-12">
            <ul class="esport-championship-timline-tabs">
                <li><a href="team_2012">2012</a></li>
                <li><a href="team_2013">2013</a></li>
                <li><a href="team_2014">2014</a></li>
                <li class="active"><a href="team_2015">2015</a></li>
                <li><a href="team_2016">2016</a></li>
            </ul>
        </div>
    </div>
</div>
<!--TIMLINE TABS END-->