<!--ESPORT CHAMPIONSHIP HEADER BEGIN-->
<div class="esport-cmapionship-header">  
    <div class="container">
        <div class="wrapper">
            <div class="contacts-wrap">
                <ul>
                    <li>
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            <span>facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <span>twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="google">
                            <i class="fa fa-google" aria-hidden="true"></i>
                            <span>google+</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="pinterest">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                            <span>pinterest</span>
                        </a>
                    </li>
                </ul>
            </div>
            <a class="logo" href="#">
                <img src="images/common/esport-champ-logo.png" alt="logo">
            </a>
            <button type="button" data-toggle="collapse" data-target="#landing-header" aria-expanded="false" class="navbar-toggle">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="clear-header">
                <div id="landing-header" class="navbar-collapse collapse">
                    <ul class="list">
                        <li class="active">
                            <a href="#matches">matches</a>
                        </li>
                        <li>
                            <a href="#team">team</a>
                        </li>
                        <li>
                            <a href="#twitter-slider">news</a>
                        </li>
                        <li>
                            <a href="#about">about</a>
                        </li>
                        <li>
                            <a href="#contact">contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--ESPORT CHAMPIONSHIP HEADER END-->