<div class="esport-team-landing-next-event">
    <img src="images/common/esport-team-landing-next-event-logo.png" alt="next-event">
    <div class="name">
        majestic skull esport league
    </div>
    <div class="date">
        20-25 september
    </div>
</div>