<!--ESPORT CHAMPIONSHIP PARTICIPANTS BEGIN-->
<div class="esport_championship_participants">
    <div class="container">
        <div class="row no-guters">
            <div class="col-md-12">
                <h5 class="esport-landing-header">latest matches</h5>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                    <img src="images/common/team-logo4.png" alt="team-logo">
                    <span>Boars team</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                    <img src="images/common/team-logo4.png" alt="team-logo">
                    <span>Boars team</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                    <img src="images/common/team-logo4.png" alt="team-logo">
                    <span>Boars team</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                    <img src="images/common/team-logo4.png" alt="team-logo">
                    <span>Boars team</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                    <img src="images/common/team-logo4.png" alt="team-logo">
                    <span>Boars team</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                    <img src="images/common/team-logo4.png" alt="team-logo">
                    <span>Boars team</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                    <img src="images/common/team-logo4.png" alt="team-logo">
                    <span>Boars team</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="images/common/esport-participants-background.jpg" class="background-team" alt="background">
                    <img src="images/common/team-logo4.png" alt="team-logo">
                    <span>Boars team</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--ESPORT CHAMPIONSHIP PARTICIPANTS END-->