<!--ESPORT CHAMPIONSHIP PLAYERS BEGIN-->
<div id="team" class="esport-championship-players">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 class="esport-landing-header">players</h5>
                <ul class="esport-players">
                    <li class="active">
                        <a data-toggle="tab" href="#panters">panters</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#bears">bears</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#horses">horses</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#octopus">octopus</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="panters" class="tab-pane fade in active"> 
                <div class="wrap"> 
                    <div class="width players-wrapper">
                        <a href="#" data-id="0">
                            <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                            <span class="name">
                                Robert Fitzgerald
                            </span>
                            <span class="info-bord">
                                <span class="name">Robert Fitzgerald</span>
                                <span class="progress-item">
                                    <span class="progress-line">
                                        <span class="bar"></span>
                                    </span>
                                    <span class="bar-label">
                                        <span class="achievement">played</span>
                                        <span class="score">23</span>
                                    </span>
                                </span>
                                <span class="progress-item">
                                    <span class="progress-line">
                                        <span class="bar"></span>
                                    </span>
                                    <span class="bar-label">
                                        <span class="achievement">played</span>
                                        <span class="score">23</span>
                                    </span>
                                </span>
                                <span class="progress-item">
                                    <span class="progress-line">
                                        <span class="bar"></span>
                                    </span>
                                    <span class="bar-label">
                                        <span class="achievement">played</span>
                                        <span class="score">23</span>
                                    </span>
                                </span>
                            </span>
                        </a>
                        <a href="#" data-id="0">
                            <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                            <span class="name">
                                Robert Fitzgerald
                            </span>
                            <span class="info-bord">
                                <span class="name">Robert Fitzgerald</span>
                                <span class="progress-item">
                                    <span class="progress-line">
                                        <span class="bar"></span>
                                    </span>
                                    <span class="bar-label">
                                        <span class="achievement">played</span>
                                        <span class="score">23</span>
                                    </span>
                                </span>
                                <span class="progress-item">
                                    <span class="progress-line">
                                        <span class="bar"></span>
                                    </span>
                                    <span class="bar-label">
                                        <span class="achievement">played</span>
                                        <span class="score">23</span>
                                    </span>
                                </span>
                                <span class="progress-item">
                                    <span class="progress-line">
                                        <span class="bar"></span>
                                    </span>
                                    <span class="bar-label">
                                        <span class="achievement">played</span>
                                        <span class="score">23</span>
                                    </span>
                                </span>
                            </span>
                        </a>
                        <a href="#" data-id="0">
                            <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                            <span class="name">
                                Robert Fitzgerald
                            </span>
                            <span class="info-bord">
                                <span class="name">Robert Fitzgerald</span>
                                <span class="progress-item">
                                    <span class="progress-line">
                                        <span class="bar"></span>
                                    </span>
                                    <span class="bar-label">
                                        <span class="achievement">played</span>
                                        <span class="score">23</span>
                                    </span>
                                </span>
                                <span class="progress-item">
                                    <span class="progress-line">
                                        <span class="bar"></span>
                                    </span>
                                    <span class="bar-label">
                                        <span class="achievement">played</span>
                                        <span class="score">23</span>
                                    </span>
                                </span>
                                <span class="progress-item">
                                    <span class="progress-line">
                                        <span class="bar"></span>
                                    </span>
                                    <span class="bar-label">
                                        <span class="achievement">played</span>
                                        <span class="score">23</span>
                                    </span>
                                </span>
                            </span>
                        </a>
                        <a href="#" data-id="0">
                            <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                            <span class="name">
                                Robert Fitzgerald
                            </span>
                            <span class="info-bord">
                                <span class="name">Robert Fitzgerald</span>
                                <span class="progress-item">
                                    <span class="progress-line">
                                        <span class="bar"></span>
                                    </span>
                                    <span class="bar-label">
                                        <span class="achievement">played</span>
                                        <span class="score">23</span>
                                    </span>
                                </span>
                                <span class="progress-item">
                                    <span class="progress-line">
                                        <span class="bar"></span>
                                    </span>
                                    <span class="bar-label">
                                        <span class="achievement">played</span>
                                        <span class="score">23</span>
                                    </span>
                                </span>
                                <span class="progress-item">
                                    <span class="progress-line">
                                        <span class="bar"></span>
                                    </span>
                                    <span class="bar-label">
                                        <span class="achievement">played</span>
                                        <span class="score">23</span>
                                    </span>
                                </span>
                            </span>
                        </a>    
                        <a href="#" data-id="0">
                            <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                            <span class="name">
                                Robert Fitzgerald
                            </span>
                            <span class="info-bord">
                                <span class="name">Robert Fitzgerald</span>
                                <span class="progress-item">
                                    <span class="progress-line">
                                        <span class="bar"></span>
                                    </span>
                                    <span class="bar-label">
                                        <span class="achievement">played</span>
                                        <span class="score">23</span>
                                    </span>
                                </span>
                                <span class="progress-item">
                                    <span class="progress-line">
                                        <span class="bar"></span>
                                    </span>
                                    <span class="bar-label">
                                        <span class="achievement">played</span>
                                        <span class="score">23</span>
                                    </span>
                                </span>
                                <span class="progress-item">
                                    <span class="progress-line">
                                        <span class="bar"></span>
                                    </span>
                                    <span class="bar-label">
                                        <span class="achievement">played</span>
                                        <span class="score">23</span>
                                    </span>
                                </span>
                            </span>
                        </a>     
                    </div>
                </div>
            </div>
            <div id="bears" class="tab-pane fade"> 
            <div class="wrap">
                <div class="width players-wrapper">
                    <a href="#" data-id="0">
                        <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                        <span class="name">
                            Robert Fitzgerald
                        </span>
                        <span class="info-bord">
                            <span class="name">Robert Fitzgerald</span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                        </span>
                    </a>
                    <a href="#" data-id="0">
                        <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                        <span class="name">
                            Robert Fitzgerald
                        </span>
                        <span class="info-bord">
                            <span class="name">Robert Fitzgerald</span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                        </span>
                    </a>
                    <a href="#" data-id="0">
                        <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                        <span class="name">
                            Robert Fitzgerald
                        </span>
                        <span class="info-bord">
                            <span class="name">Robert Fitzgerald</span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                        </span>
                    </a>
                    <a href="#" data-id="0">
                        <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                        <span class="name">
                            Robert Fitzgerald
                        </span>
                        <span class="info-bord">
                            <span class="name">Robert Fitzgerald</span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                        </span>
                    </a>    
                    <a href="#" data-id="0">
                        <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                        <span class="name">
                            Robert Fitzgerald
                        </span>
                        <span class="info-bord">
                            <span class="name">Robert Fitzgerald</span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                        </span>
                    </a>     
                </div>
            </div>
        </div>
        <div id="horses" class="tab-pane fade"> 
            <div class="wrap">
                <div class="width players-wrapper">
                    <a href="#" data-id="0">
                        <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                        <span class="name">
                            Robert Fitzgerald
                        </span>
                        <span class="info-bord">
                            <span class="name">Robert Fitzgerald</span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                        </span>
                    </a>
                    <a href="#" data-id="0">
                        <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                        <span class="name">
                            Robert Fitzgerald
                        </span>
                        <span class="info-bord">
                            <span class="name">Robert Fitzgerald</span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                        </span>
                    </a>
                    <a href="#" data-id="0">
                        <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                        <span class="name">
                            Robert Fitzgerald
                        </span>
                        <span class="info-bord">
                            <span class="name">Robert Fitzgerald</span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                        </span>
                    </a>
                    <a href="#" data-id="0">
                        <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                        <span class="name">
                            Robert Fitzgerald
                        </span>
                        <span class="info-bord">
                            <span class="name">Robert Fitzgerald</span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                        </span>
                    </a>    
                    <a href="#" data-id="0">
                        <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                        <span class="name">
                            Robert Fitzgerald
                        </span>
                        <span class="info-bord">
                            <span class="name">Robert Fitzgerald</span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                        </span>
                    </a>     
                </div>
            </div>
        </div>
        <div id="octopus" class="tab-pane fade"> 
            <div class="wrap">
                <div class="width players-wrapper">
                    <a href="#" data-id="0">
                        <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                        <span class="name">
                            Robert Fitzgerald
                        </span>
                        <span class="info-bord">
                            <span class="name">Robert Fitzgerald</span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                        </span>
                    </a>
                    <a href="#" data-id="0">
                        <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                        <span class="name">
                            Robert Fitzgerald
                        </span>
                        <span class="info-bord">
                            <span class="name">Robert Fitzgerald</span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                        </span>
                    </a>
                    <a href="#" data-id="0">
                        <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                        <span class="name">
                            Robert Fitzgerald
                        </span>
                        <span class="info-bord">
                            <span class="name">Robert Fitzgerald</span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                        </span>
                    </a>
                    <a href="#" data-id="0">
                        <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                        <span class="name">
                            Robert Fitzgerald
                        </span>
                        <span class="info-bord">
                            <span class="name">Robert Fitzgerald</span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                        </span>
                    </a>    
                    <a href="#" data-id="0">
                        <img class="player-img" alt="player-img" src="images/common/esport-players.jpg">
                        <span class="name">
                            Robert Fitzgerald
                        </span>
                        <span class="info-bord">
                            <span class="name">Robert Fitzgerald</span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                            <span class="progress-item">
                                <span class="progress-line">
                                    <span class="bar"></span>
                                </span>
                                <span class="bar-label">
                                    <span class="achievement">played</span>
                                    <span class="score">23</span>
                                </span>
                            </span>
                        </span>
                    </a>     
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!--ESPORT CHAMPIONSHIP PLAYERS END-->