<div id="about" class="esport-team-landing-about">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <span>about us</span>
                        <p>Pabst irony tattooed, synth sriracha selvage pok pok. Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep v mixtape semiotics brunch. </p>
                    </div>
                    <div class="col-xs-6">
                        <span class="feature">
                            <img src="images/common/esport-team-lp-feature-ico.png" alt="feature">
                            <span>legendary</span>
                        </span>
                        <span class="feature">
                            <img src="images/common/esport-team-lp-feature-ico.png" alt="feature">
                            <span>legendary</span>
                        </span>
                    </div>
                    <div class="col-xs-6">
                        <span class="feature">
                            <img src="images/common/esport-team-lp-feature-ico.png" alt="feature">
                            <span>fabulous</span>
                        </span>
                        <span class="feature">
                            <img src="images/common/esport-team-lp-feature-ico.png" alt="feature">
                            <span>legendary</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-5 text-right">
                <span class="small-title">welcome to</span>
                <span class="big-title">pubstopms</span>
                <p>Hella pop-up flexitarian, semiotics migas humblebrag schlitz literally tofu deep v thundercats skateboard viral cornhole.</p>
                <a href="#">get tickets</a>
            </div>
        </div>
    </div>
</div>