<!--SPORT CHAMPIONSHIP LATEST VIDEOS BEGIN--> 
<div class="esport-championship-latest-videos">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 class="esport-landing-header">latest<span class='youtube'>youtube</span>videos</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="ifram-wrapper">
                    <iframe src="https://www.youtube.com/embed/xkUTkfA0y3k" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 video-wrapper">
                <div class="wrapper">
                    <div class="width">
                        <div class="news-wrapper">
                            <img src="images/common/esport_championhip_videos_1.jpg" alt="news-img">
                            <iframe src="https://www.youtube.com/embed/R0QsO2uh-D4" allowfullscreen></iframe>
                            <div class="news-border">
                                <span class="date">5 september</span>
                                <span class="name">Best Video Game Cinematic Trailers Of 2017</span>
                            </div>
                        </div>
                        <div class="news-wrapper">
                            <img src="images/common/esport_championhip_videos_2.jpg" alt="news-img">
                            <iframe  src="https://www.youtube.com/embed/J6xZyd-86t8" allowfullscreen></iframe>
                            <div class="news-border">
                                <span class="date">4 september</span>
                                <span class="name">Top 5: Most Epic Video Game Cinematic trailers </span>
                            </div>
                        </div>
                        <div class="news-wrapper">
                            <img src="images/common/esport_championhip_videos_1.jpg" alt="news-img">
                            <iframe src="https://www.youtube.com/embed/mskPDjtZacs" allowfullscreen></iframe>
                            <div class="news-border">
                                <span class="date">1 september</span>
                                <span class="name">Top 20 NEW Upcoming SURVIVAL GAMES of 2017 & 2018</span>
                            </div>
                        </div>
                        <div class="news-wrapper">
                            <img src="images/common/esport_championhip_videos_2.jpg" alt="news-img">
                            <iframe src="https://www.youtube.com/embed/EmQxsBz27XY" allowfullscreen></iframe>
                            <div class="news-border">
                                <span class="date">28 august</span>
                                <span class="name">TOP 25 BEST Upcoming Games of 2017 & 2018</span>
                            </div>
                        </div>                         
                        <div class="news-wrapper">
                            <img src="images/common/esport_championhip_videos_1.jpg" alt="news-img">
                            <iframe  src="https://www.youtube.com/embed/k4MYqFw2KYg" allowfullscreen></iframe>
                            <div class="news-border">
                                <span class="date">25 august</span>
                                <span class="name">Top 10 Video Game Cinematic Trailers 2016</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>
<!--SPORT CHAMPIONSHIP LATEST VIDEOS END--> 