<div class="esport-team-landing-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="header">Featured post
                    <span>
                        <a class="arrow left" href="#"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                        <a class="arrow rigth" href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </span>
                </div>
                <div class="news-slider footerSlide">
                    <a href="#" class="news-wprapper">
                        <img src="images/common/esport-team-landing-news-1.jpg" alt="news-img">
                        <span class="news-border">
                            <span class="date">25 august</span>
                            <span class="name">Internacional inertns</span>
                        </span>
                    </a>
                </div>
                   <div class="news-slider footerSlide">
                    <a href="#" class="news-wprapper">
                        <img src="images/common/esport-team-landing-news-1.jpg" alt="news-img">
                        <span class="news-border">
                            <span class="date">26 august</span>
                            <span class="name">Internacional</span>
                        </span>
                    </a>
                </div>
                   <div class="news-slider footerSlide">
                    <a href="#" class="news-wprapper">
                        <img src="images/common/esport-team-landing-news-1.jpg" alt="news-img">
                        <span class="news-border">
                            <span class="date">28 august</span>
                            <span class="name">Internacional inertns</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <span class="header">contact us</span>
                <span class="welcome">welcome to family</span>
                <ul class="contact-list">
                    <li><span>276 Upper Parliament Street, Liverpool L8, Great Britain</span></li>
                    <li class="phone"><i class="fa fa-phone" aria-hidden="true"></i><span>+61 3 8376 6284</span></li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:team@email.com">team@email.com</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <span class="header">about us</span>
                <p>To these in the morning I sent the captain, who was to enter into a parley  with them; in a word, to try them, and tell me whether he thought they might be trusted or not to go on board and surprise the ship.</p>
            </div>
        </div>
    </div>
</div>