<!--ESPORT TEAM LANDING NEWS BEGIN--> 
<div class="esport-team-landing-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 class="esport-landing-header">latest news</h5>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-md-4">
                <a href ="#" class="news-wprapper">
                    <img src="images/common/esport-team-landing-news-big.jpg" alt="news-img">
                    <div class="news-border">
                        <span class="date">25 august</span>
                        <span class="name">Internacional inertns</span>
                    </div>
                </a>
            </div>
            <div class="col-md-8">
                <div class="row no-gutters row-eq-height">
                    <div class="col-md-6">
                        <a href ="#" class="news-wprapper">
                            <img src="images/common/esport-team-landing-news-1.jpg" alt="news-img">
                            <div class="news-border">
                                <span class="date">25 august</span>
                                <span class="name">Internacional inertns</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href ="#" class="news-wprapper">
                            <img src="images/common/esport-team-landing-news-2.jpg" alt="news-img">
                            <div class="news-border">
                                <span class="date">25 august</span>
                                <span class="name">Internacional inertns</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row no-gutters row-eq-height">
                    <div class="col-md-6">
                        <a href ="#" class="news-wprapper">
                            <img src="images/common/esport-team-landing-news-3.jpg" alt="news-img">
                            <div class="news-border">
                                <span class="date">25 august</span>
                                <span class="name">Internacional inertns</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href ="#" class="news-wprapper">
                            <img src="images/common/esport-team-landing-news-4.jpg" alt="news-img">
                            <div class="news-border">
                                <span class="date">25 august</span>
                                <span class="name">Internacional inertns</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>

<!--ESPORT TEAM LANDING NEWS BEGIN-->