<div class="tactic football">
    <div class="tab-content">
        <div class="tab-pane active" id="football_pitch_top">
            <div class="field text-center">

                <a href="player-second-page.html" class="player top lf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="26 Joenaathan Koedjaia">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            26                        </a>
                <a href="player-second-page.html" class="player top cf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="8 Aaeroan Tsehiabola">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            8                        </a>
                <a href="player-second-page.html" class="player top rf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="5 Heenrai Laensabury">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            5                        </a>
                <a href="player-second-page.html" class="player top lm  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="77 Caerlaes Giela">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            77                        </a>
                <a href="player-second-page.html" class="player top cdm  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="28 Aleya Ciessaokho">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            28                        </a>
                <a href="player-second-page.html" class="player top rwb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="27 Rietcahie Deea Laeeta">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            27                        </a>
                <a href="player-second-page.html" class="player top lcb1  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="21 Aleana Huettaon">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            21                        </a>
                <a href="player-second-page.html" class="player top lb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="12 Jaemeas Cheesater">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            12                        </a>
                <a href="player-second-page.html" class="player top rb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="6 Toemmay Elephaick">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            6                        </a>
                <a href="player-second-page.html" class="player top rcb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="2 Naethaan Baekear">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            2                        </a>
                <a href="player-second-page.html" class="player top gk  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="1 Pieeraluigi Goellaini">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            1                        </a>

                <img class="img-responsive center-block" src="images/common/soccer-match-field.jpg" alt="match-field">
            </div>
        </div>
        <div class="tab-pane" id="football_pitch_button">
            <div class="field text-center">

                <a href="player-second-page.html" class="player bottom gk  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="29 Reemiaro">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            29                        </a>
                <a href="player-second-page.html" class="player bottom rcb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="18 Deea Maercaos">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            18                        </a>
                <a href="player-second-page.html" class="player bottom lcb1  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="16 X.ea Etexeaita">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            16                        </a>
                <a href="player-second-page.html" class="player bottom cf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="11 Wiellaiams">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            11                        </a>
                <a href="player-second-page.html" class="player bottom rf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="10 Mueniaain">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            10                        </a>
                <a href="player-second-page.html" class="player bottom lf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="14 Suesaaeta">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            14                        </a>
                <a href="player-second-page.html" class="player bottom lm  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="8 Iteuraraspe">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            8                        </a>
                <a href="player-second-page.html" class="player bottom cam  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="7 Beeñaat">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            7                        </a>
                <a href="player-second-page.html" class="player bottom rm  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="5 Ereasao">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            5                        </a>
                <a href="player-second-page.html" class="player bottom lb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="4 Laepoarte">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            4                        </a>
                <a href="player-second-page.html" class="player bottom rb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="3 Eleusatondo">
                    <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >                            3                        </a>

                <img class="img-responsive center-block" src="images/common/soccer-match-field.jpg" alt="match-field">
            </div>
        </div>
    </div>
    <ul class="team-legend" role="tablist">
        <li class="active">
            <a href="#football_pitch_top" data-toggle="tab" aria-controls="football_pitch_top" aria-expanded="true">
                <div class="circle red"></div>Team 1             </a>
        </li>
        <li class="">
            <a href="#football_pitch_button" data-toggle="tab" aria-controls="football_pitch_button" aria-expanded="false">
                <div class="circle black"></div>Team 2                </a>
        </li>	
    </ul> 
</div>