<div class="tactic hockey">
    <div class="field text-center">

        <a href="player.html" class="player bottom hockey g   " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="1 Roebearto Lueonago">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" > 1                    
        </a>
        <a href="player.html" class="player bottom hockey c   " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="7 Coeltaon Sceevaiour">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >7                    
        </a>
        <a href="player.html" class="player bottom hockey rw   " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="22 Sheawan Theoranton">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >2                    
        </a>
        <a href="player.html" class="player bottom hockey ld   " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="46 Jaekuab Kiendal">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >46                    
        </a>
        <a href="player.html" class="player bottom hockey rd   " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="55 Jaesoan Deemears">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >  55                    
        </a>
        <a href="player.html" class="player bottom hockey lw   " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="36 Juessai Joekianen">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >  36                    
        </a>
        <a href="player.html" class="player top hockey c   " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="16 Maercaus Kreugaer">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >  16                    
        </a>
        <a href="player.html" class="player top hockey rw   " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="22 Joerdain Toeotaoo">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >  22                    
        </a>
        <a href="player.html" class="player top hockey lw   " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="70 Deennais Raesmaussen">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >  70                    
        </a>
        <a href="player.html" class="player top hockey g   " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="50 Coereay Creawaford">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >  50                    
        </a>
        <a href="player.html" class="player top hockey ld   " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="42 Guestaav Foersaling">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >  42                    
        </a>
        <a href="player.html" class="player top hockey rd   " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="51 Breiaan Caempabell">

            <img width="56" height="56" src="images/common/member-avatar.jpg"  alt="player" >  51                    
        </a>

        <img class="img-responsive center-block" src="images/common/hockey-match-field.png" alt="player">
    </div>
    <ul class="team-legend">
        <li><div class="circle red"></div>Team 1</li>
        <li><div class="circle blue"></div>Team 2</li>	
    </ul> 
</div>
