<!--MAIN SPONSOR SLIDER BEGIN-->
<div class="main-sponsor-slider-background">
<div id="main-sponsor-slider" class="carousel slide main-sponsor-slider" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <img class="sponsor-icons" src="images/common/sponsor-img.png" alt="sponsor-image">	
                    </div>
                    <div class="col-xs-4 text-center">
                        <img class="sponsor-icons" src="images/common/sponsor-img1.png" alt="sponsor-image">	
                    </div>
                    <div class="col-xs-4 text-center">
                        <img  class="sponsor-icons dota-csgo-image" src="images/common/sponsor-img2.png" alt="sponsor-image">	
                    </div>
                </div>
            </div>	
        </div>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <img class="sponsor-icons" src="images/common/sponsor-img.png" alt="sponsor-image">	
                    </div>
                    <div class="col-xs-4 text-center">
                        <img  class="sponsor-icons" src="images/common/sponsor-img1.png" alt="sponsor-image">	
                    </div>
                    <div class="col-xs-4 text-center">
                        <img class="sponsor-icons dota-csgo-image" src="images/common/sponsor-img2.png" alt="sponsor-image">
                    </div>
                </div>
            </div>	
        </div>
        <!-- Controls -->
        <a class="nav-arrow left-arrow" href="#main-sponsor-slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
        </a>
        <a class="nav-arrow right-arrow" href="#main-sponsor-slider" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
        </a>
    </div>	
</div>
</div>
<!--MAIN SPONSOR SLIDER END-->