<div class="landing-sport-next-match">
    <span class="opening">match opening</span>
    <div>
        <div class="team left">
            <img src="images/common/team-logo2.png" alt="team-logo">
            <div>
                <span class="team-name">internacional</span>
                <span class="country">london</span>
            </div>
        </div>
        <div class="counter">
            <ul>
                <li><span>20</span></li>
                <li><span>46</span></li>
                <li><span>37</span></li>
            </ul>
        </div>
        <div class="team right">
            <img src="images/common/team-logo2.png" alt="team-logo">
            <div>
                <span class="team-name">internacional</span>
                <span class="country">london</span>
            </div>
        </div>
    </div>
    <span class="arena">voley arena</span>
</div>