<div class="landing-sport-standings">
    <div class="buttons-wrapper">
        <a href ="#" class="arrow left"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
        <a href ="#" class="arrow right"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
        <span>
            standing:
            <span class="league">Champions league</span>            
        </span>
    </div>
    
    <div class="mySlides fade-standings">
        <span class="league_name">Champions league</span>
        <a href ="#" class="item up">
            <span class="standings-position">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
                1
            </span>
            <img src ="images/soccer/team-logo1.png" alt="team-logo">
            <span class="name">bears</span>
            <span class="number">21</span>
        </a>
        <a href ="#" class="item up">
            <span class="standings-position">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
                2
            </span>
            <img src ="images/soccer/team-logo1.png" alt="team-logo">
            <span class="name">bears</span>
            <span class="number">21</span>
        </a>
        <a href ="#" class="item down">
            <span class="standings-position">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
                3
            </span>
            <img src ="images/soccer/team-logo1.png" alt="team-logo">
            <span class="name">bears</span>
            <span class="number">21</span>
        </a>
        <a href ="#" class="item none">
            <span class="standings-position">
                <i class="fa fa-circle" aria-hidden="true"></i>
                4
            </span>
            <img src ="images/soccer/team-logo1.png" alt="team-logo">
            <span class="name">bears</span>
            <span class="number">21</span>
        </a>
        <a href ="#" class="item up">
            <span class="standings-position">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
                5
            </span>
            <img src ="images/soccer/team-logo1.png" alt="team-logo">
            <span class="name">bears</span>
            <span class="number">21</span>
        </a>
    </div>
    
     <div class="mySlides fade-standings">
          <span class="league_name">Champions </span>
        <a href ="#" class="item up">
            <span class="standings-position">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
                1
            </span>
            <img src ="images/soccer/team-logo1.png" alt="team-logo">
            <span class="name">tears</span>
            <span class="number">21</span>
        </a>
        <a href ="#" class="item up">
            <span class="standings-position">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
                2
            </span>
            <img src ="images/soccer/team-logo1.png" alt="team-logo">
            <span class="name">bears</span>
            <span class="number">21</span>
        </a>
        <a href ="#" class="item down">
            <span class="standings-position">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
                3
            </span>
            <img src ="images/soccer/team-logo1.png" alt="team-logo">
            <span class="name">bears</span>
            <span class="number">21</span>
        </a>
        <a href ="#" class="item none">
            <span class="standings-position">
                <i class="fa fa-circle" aria-hidden="true"></i>
                4
            </span>
            <img src ="images/soccer/team-logo1.png" alt="team-logo">
            <span class="name">bears</span>
            <span class="number">21</span>
        </a>
        <a href ="#" class="item up">
            <span class="standings-position">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
                5
            </span>
            <img src ="images/soccer/team-logo1.png" alt="team-logo">
            <span class="name">bears</span>
            <span class="number">21</span>
        </a>
    </div>
    
</div>