<!--LANDING SPORT GALERY BEGIN-->
<div id="owl-carousel-gallery" class="landing-sport-galery">
    <div class="owl-carousel">
        <div class="item" data-merge="1">
            <a href ="#" class="item">
                <img src="images/common/landing-news-2.jpg" alt="news-img">
                <div class="border">
                    <span>fight for the ball</span>
                </div>
            </a>
        </div>
        <div class="item" data-merge="2">
            <a href ="#" class="item">
                <img src="images/common/landing-news-3.jpg" alt="news-img">
                <div class="border">
                    <span>fight for the ball</span>
                </div>
            </a>
        </div>
        <div class="item" data-merge="1">
            <a href ="#" class="item">
                <img src="images/common/landing-news-2.jpg" alt="news-img">
                <div class="border">
                    <span>fight for the ball</span>
                </div>
            </a>
        </div>
        <div class="item" data-merge="1">
            <a href ="#" class="item">
                <img src="images/common/landing-news-4.jpg" alt="news-img">
                <div class="border">
                    <span>fight for the ball</span>
                </div>
            </a>
        </div>
        <div class="item" data-merge="3">
            <a href ="#" class="item">
                <img src="images/common/landing-sport-galery-big.jpg" alt="news-img">
                <div class="border">
                    <span>fight for the ball</span>
                </div>
            </a>
        </div>
        <div class="item" data-merge="2">
            <a href ="#" class="item">
                <img src="images/common/landing-news-2.jpg" alt="news-img">
                <div class="border">
                    <span>fight for the ball</span>
                </div>
            </a>
        </div>
    </div>
</div>

<div id="owl-carousel-gallery-1" class="landing-sport-galery">
    <div class="owl-carousel">
        <div class="item" data-merge="1">
            <a href ="#" class="item">
                <img src="images/common/landing-news-2.jpg" alt="news-img">
                <div class="border">
                    <span>fight for the ball</span>
                </div>
            </a>
        </div>
        <div class="item" data-merge="1">
            <a href ="#" class="item">
                <img src="images/common/landing-news-2.jpg" alt="news-img">
                <div class="border">
                    <span>fight for the ball</span>
                </div>
            </a>
        </div>
        <div class="item" data-merge="2">
            <a href ="#" class="item">
                <img src="images/common/landing-news-3.jpg" alt="news-img">
                <div class="border">
                    <span>fight for the ball</span>
                </div>
            </a>
        </div>
        <div class="item" data-merge="1">
            <a href ="#" class="item">
                <img src="images/common/landing-news-3.jpg" alt="news-img">
                <div class="border">
                    <span>fight for the ball</span>
                </div>
            </a>
        </div>
        <div class="item" data-merge="2">
            <a href ="#" class="item">
                <img src="images/common/landing-sport-galery-big-2.jpg" alt="news-img">
                <div class="border">
                    <span>fight for the ball</span>
                </div>
            </a>
        </div>
        <div class="item" data-merge="1">
            <a href ="#" class="item">
                <img src="images/common/landing-news-2.jpg" alt="news-img">
                <div class="border">
                    <span>fight for the ball</span>
                </div>
            </a>
        </div>
    </div>
</div>
<!--LANDING SPORT GALERY END-->