<div class="landing-top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <ul class="links">
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-5 col-sm-6 hidden-xs">
                <ul class="contacts">
                    <li>
                        <a href="#">
                            <i class="fa fa-phone-square" aria-hidden="true"></i>
                            <span class="number">+61 3 8376 6284</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-skype" aria-hidden="true"></i>
                            <span class="skype">team.skype</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                <div class="top-language">
                    <ul class="list">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="images/common/en-flag.png" alt="selected language">EN</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#"><img src="images/common/fr-flag.png" alt="language">FR</a>
                                </li>
                                <li>
                                    <a href="#"><img src="images/common/en-flag.png" alt="language">EN</a>
                                </li>
                                <li>
                                    <a href="#"><img src="images/common/ru-flag.png" alt="language">RU</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>