<div class="landing-sport-sponsors">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12 text-left sponsors">
                <span>Soccer team</span> 
                <span>sponsors</span>
            </div>
            <div class="col-md-3 col-sm-4 text-center">
                <img src="images/common/sponsor-img.png" alt="sponsor-image">
            </div>
            <div class="col-md-3 col-sm-4  text-center">
                <img src="images/common/sponsor-img1.png" alt="sponsor-image">
            </div>
            <div class="col-md-3 col-sm-4  text-center">
                <img src="images/common/sponsor-img2.png" alt="sponsor-image">
            </div>
        </div>
    </div>
</div>