<div class="landing-sport-quote">
    <div class="container">
        <div class="row">
            <div class="col-md-6 hidden-sm hidden-xs">
                <img src="images/common/quote-author.jpg" alt='author'>
            </div>
            <div class="col-md-6">
                <div class="wrapper">
                    <blockquote>
                        Alice wondered a little at this, but she was too much in awe of the Queen to disbelieve it. 
                    </blockquote>   
                    <span>Thomas Gerald</span>
                    <span class="coach">head coach</span>
                </div>
            </div>
        </div>
    </div>
</div>
