<!--LANDING SPORT HEADER BEGIN-->
<div  id="header" class="sport-team-lp-header">  
    <div class="container">
        <a class="logo" href="#">
            <img src="images/soccer/logo.png" alt="logo">
        </a>
        <button type="button" data-toggle="collapse" data-target="#landing-header" aria-expanded="false" class="navbar-toggle">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="clear-header">
            <div id="landing-header" class="navbar-collapse collapse">
                <ul class="list">
                    <li class="active">
                        <a href="#home">home</a>
                    </li>
                    <li>
                        <a href="#matches">matches</a>
                    </li>
                    <li>
                        <a href="#team">team</a>
                    </li>
                    <li>
                        <a href="#news">news</a>
                    </li>
                    <li>
                        <a href="#about">about</a>
                    </li>
                    <li>
                        <a href="#twitter-slider">contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--LANDING SPORT HEADER END-->