<!-- LANDING SPORT ABOUT BEGIN -->
<div id="about" class="landing-sport-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4>success story <br/> brbegan here</h4>
                        <p>Pabst irony tattooed, synth sriracha selvage pok pok. Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep v mixtape semiotics brunch. 
                            Next level paleo taxidermy, bespoke messenger bag leggings occupy food truck. 
                            Hella pop-up flexitarian, semiotics migas humblebrag schlitz literally tofu deep v thundercats skateboard viral cornhole. Lomo knausgaard truffaut selfies flexitarian.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h5><img src="images/common/success-icon.png" alt="icon"> legendary</h5>
                        <p>Next level paleo taxidermy, bespoke messenger bag leggings occupy food truck. Hella pop-up flexitarian, semiotics migas </p>
                    </div>
                    <div class="col-md-6">
                        <h5><img src="images/common/success-icon.png" alt="icon"> legendary</h5>
                        <p>Next level paleo taxidermy, bespoke messenger bag leggings occupy food truck. Hella pop-up flexitarian, semiotics migas </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wrap">
                    <div class="title">Children and Youth</div>
                    <div class="big-title">Arena</div>
                    <a href="#" class="btn">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- LANDING SPORT ABOUT END -->