<!--LIVE TIMELINE BEGIN-->
<section class="live-timeline-text-stream">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h6>Text Live Stream</h6>
                <div class="team-timeline">
                    <div class="item-wrap">
                        <div class="item-info">
                            <div class="time">65"</div>
                            <div class="point event"><img src="images/common/timeline-goal.jpg" alt="timeline-goal"></div>
                        </div>
                        <div class="item">
                            <div class="avatar"><img src="images/common/commenator-ava.jpg" alt="timeline-goal"></div>
                            <div class="info">
                                <div class="name">Austin Cook</div>
                                <p>Pabst irony tattooed, synth sriracha selvage pok pok. Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep v mixtape semiotics brunch.</p>	
                                <img class="img-responsive" src="images/soccer/rep-img.jpg" alt="rep-img">
                                <ul class="contact-bar">
                                    <li class="facebook"><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li class="google"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                                    <li class="pinterest"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>	
                        </div>	
                    </div>
                    <div class="item-wrap">
                        <div class="item-info">
                            <div class="time">65"</div>
                            <div class="point event"><img src="images/common/timeline-yellow-card.png" alt="timeline-yellow-card"></div>
                        </div>
                        <div class="item">
                            <p>Pabst irony tattooed, synth sriracha selvage pok pok. Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep v mixtape semiotics brunch.</p>	
                        </div>	
                    </div>
                    <div class="item-wrap">
                        <div class="item-info">
                            <div class="time">35"</div>
                            <div class="point"></div>
                        </div>
                        <div class="item">
                            <p>Pabst irony tattooed, synth sriracha selvage pok pok. Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep v mixtape semiotics brunch.</p>	
                        </div>	
                    </div>
                    <div class="item-wrap">
                        <div class="item-info">
                            <div class="time">35"</div>
                            <div class="point event"><img src="images/common/timeline-reload.png" alt="timeline-reload"></div>
                        </div>
                        <div class="item">
                            <p>Pabst irony tattooed, synth sriracha selvage pok pok. Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep v mixtape semiotics brunch.</p>	
                        </div>	
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h6>commentators</h6>
                <div class="comm-wrap">
                    <div class="item">
                        <div class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></div>
                        <div class="info">
                            <div class="name">Devin Andrews</div>
                            <div class="country"><img src="images/common/en-flag.png" alt="flag">Sweden</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></div>
                        <div class="info">
                            <div class="name">Devin Andrews</div>
                            <div class="country"><img src="images/common/en-flag.png" alt="flag">Sweden</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></div>
                        <div class="info">
                            <div class="name">Devin Andrews</div>
                            <div class="country"><img src="images/common/en-flag.png" alt="flag">Sweden</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <h6>Match Details</h6>
                <div class="live-details">
                    <p>Tacos coloring book everyday carry farm-to-table forage. Chillwave vaporware la croix keytar lyft disrupt jianbing squid normcore venmo gochujang etsy. </p>
                    <p>Cred tote bag retro, enamel pin put a bird on it af irony scenester.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--LIVE TIMELINE END-->