<!--MAIN TEAM STORE LIST BEGIN-->
<div class="main-store-list">
    <div class="container">
        <div class="tab-content">
            <div id="new" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="store-list-item">
                            <div>
                                <a href="product.html">
                                    <span class="store-badge hot">hot</span>
                                    <img src="images/common/store-item-img.jpg" alt="product-image">
                                </a>
                                <div class="info">
                                    <span class="name">Men's T-Shirt Elite</span>
                                    <span class="price">£ 80</span>	
                                    <div class="btn-wrap">
                                        <button class="btn small">add to cart</button>
                                        <button class="btn small">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                    <div class="col-md-3 col-sm-6">
                        <div class="store-list-item">
                            <div>
                                <a href="product.html">
                                    <span class="store-badge new">new</span>
                                    <img src="images/common/product-3.jpg" alt="product-image">
                                </a>
                                <div class="info">
                                    <span class="name">Men's Long-Sleeve Running </span>
                                    <span class="price">£ 155</span>	
                                    <div class="btn-wrap">
                                        <button class="btn small">add to cart</button>
                                        <button class="btn small">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="store-list-item">
                            <div>
                                <a href="product.html">
                                    <img src="images/common/product-2.jpg" alt="product-image">
                                </a>
                                <div class="info">
                                    <span class="name">Men's T-Shirt </span>
                                    <span class="price">£ 155</span>	
                                    <div class="btn-wrap">
                                        <button class="btn small">add to cart</button>
                                        <button class="btn small">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="store-list-item">
                            <div>
                                <a href="product.html">
                                    <img src="images/common/product-4.jpg" alt="product-image">
                                </a>
                                <div class="info">
                                    <span class="name">Men's Long-Sleeve Running </span>
                                    <span class="price">£ 155</span>	
                                    <div class="btn-wrap">
                                        <button class="btn small">add to cart</button>
                                        <button class="btn small">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="hotdeals" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="store-list-item">
                            <div>
                                <a href="product.html">
                                    <span class="store-badge hot">hot</span>
                                    <img src="images/common/store-item-img.jpg" alt="product-image">
                                </a>
                                <div class="info">
                                    <span class="name">Men's T-Shirt Elite</span>
                                    <span class="price">£ 80</span>	
                                    <div class="btn-wrap">
                                        <button class="btn small">add to cart</button>
                                        <button class="btn small">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                    <div class="col-md-3 col-sm-6">
                        <div class="store-list-item">
                            <div>
                                <a href="product.html">
                                    <span class="store-badge new">new</span>
                                    <img src="images/common/product-3.jpg" alt="product-image">
                                </a>
                                <div class="info">
                                    <span class="name">Men's Long-Sleeve Running </span>
                                    <span class="price">£ 155</span>	
                                    <div class="btn-wrap">
                                        <button class="btn small">add to cart</button>
                                        <button class="btn small">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="store-list-item">
                            <div>
                                <a href="product.html">
                                    <img src="images/common/product-2.jpg" alt="product-image">
                                </a>
                                <div class="info">
                                    <span class="name">Men's T-Shirt </span>
                                    <span class="price">£ 155</span>	
                                    <div class="btn-wrap">
                                        <button class="btn small">add to cart</button>
                                        <button class="btn small">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="store-list-item">
                            <div>
                                <a href="product.html">
                                    <img src="images/common/product-4.jpg" alt="product-image">
                                </a>
                                <div class="info">
                                    <span class="name">Men's Long-Sleeve Running </span>
                                    <span class="price">£ 155</span>	
                                    <div class="btn-wrap">
                                        <button class="btn small">add to cart</button>
                                        <button class="btn small">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="officialapparel" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="store-list-item">
                            <div>
                                <a href="product.html">
                                    <span class="store-badge hot">hot</span>
                                    <img src="images/common/store-item-img.jpg" alt="product-image">
                                </a>
                                <div class="info">
                                    <span class="name">Men's T-Shirt Elite</span>
                                    <span class="price">£ 80</span>	
                                    <div class="btn-wrap">
                                        <button class="btn small">add to cart</button>
                                        <button class="btn small">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                    <div class="col-md-3 col-sm-6">
                        <div class="store-list-item">
                            <div>
                                <a href="product.html">
                                    <span class="store-badge new">new</span>
                                    <img src="images/common/product-3.jpg" alt="product-image">
                                </a>
                                <div class="info">
                                    <span class="name">Men's Long-Sleeve Running </span>
                                    <span class="price">£ 155</span>	
                                    <div class="btn-wrap">
                                        <button class="btn small">add to cart</button>
                                        <button class="btn small">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="store-list-item">
                            <div>
                                <a href="product.html">
                                    <img src="images/common/product-2.jpg" alt="product-image">
                                </a>
                                <div class="info">
                                    <span class="name">Men's T-Shirt </span>
                                    <span class="price">£ 155</span>	
                                    <div class="btn-wrap">
                                        <button class="btn small">add to cart</button>
                                        <button class="btn small">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="store-list-item">
                            <div>
                                <a href="product.html">
                                    <img src="images/common/product-4.jpg" alt="product-image">
                                </a>
                                <div class="info">
                                    <span class="name">Men's Long-Sleeve Running </span>
                                    <span class="price">£ 155</span>	
                                    <div class="btn-wrap">
                                        <button class="btn small">add to cart</button>
                                        <button class="btn small">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MAIN TEAM STORE LIST END-->