<!--MAIN TEAM STORE CONTAINER BEGIN-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Team Store</h4>
        </div>	
        <div class="col-md-10 col-xs-9">
            <ul class="tab-filters">
                <li class="active"><a data-toggle="tab" href="#new">New</a></li>
                <li><a data-toggle="tab" href="#hotdeals">hot deals</a></li>
                <li><a data-toggle="tab" href="#officialapparel">Official apparel</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-xs-3 text-right">
            
                <a id="show-all-link" href="store.html">Show all</a>
            	
        </div>
    </div>
</div>
<!--MAIN TEAM STORE CONTAINER END-->