<!--MAIN CLUB GALLERY BEGIN-->
<section class="main-club-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Club Gallery</h4>
            </div>
            <div class="col-md-6 text-right">
                <div class="owl-carousel-arrows">
                    <div class="custom-navigation">
                        <a class="custom-next-btn"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                        <a class="custom-prev-btn"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme club-gallery-slider">
                    <div class="item">
                        <div class="isotope-grid row">
                            <div class="col-md-6 col-sm-6 col-xs-12 grid-item">
                                <a href="about-club.html">
                                    <div class="info">
                                        <span class="date">20 sep 2016</span>
                                        <p>Fight for the ball in midfield</p>
                                    </div>
                                    <img src="images/soccer/club-gallery-img.jpg" alt="club-gallery">
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 grid-item grid-sizer">
                                <a href="about-club.html">
                                    <div class="info">
                                        <span class="date">20 sep 2016</span>
                                        <p>Fight for the ball in midfield</p>
                                    </div>
                                    <img src="images/soccer/club-gallery-img1.jpg" alt="club-gallery">
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 grid-item">
                                <a href="about-club.html">
                                    <div class="info">
                                        <span class="date">20 sep 2016</span>
                                        <p>Fight for the ball in midfield</p>
                                    </div>
                                    <img src="images/soccer/club-gallery-img3.jpg" alt="club-gallery">
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 grid-item">
                                <a href="#"><img src="images/soccer/club-gallery-img2.jpg" alt="club-gallery"></a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 grid-item">
                                <a href="about-club.html"><img src="images/soccer/club-gallery-img4.jpg" alt="club-gallery"></a>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12 grid-item">
                                <a href="about-club.html"><img src="images/soccer/club-gallery-img5.jpg" alt="club-gallery"></a>
                            </div>
                        </div>	
                    </div>
                    <div class="item">
                        <div class="isotope-grid row">
                            <div class="col-md-6 col-sm-6 grid-item">
                                <a href="#"><img src="images/soccer/club-gallery-img.jpg" alt="club-gallery"></a>
                            </div>
                            <div class="col-md-3 col-sm-3 grid-item grid-sizer">
                                <a href="#"><img src="images/soccer/club-gallery-img1.jpg" alt="club-gallery"></a>
                            </div>
                            <div class="col-md-3 col-sm-3 grid-item">
                                <a href="#"><img src="images/soccer/club-gallery-img2.jpg" alt="club-gallery"></a>
                            </div>
                            <div class="col-md-3 col-sm-3 grid-item">
                                <a href="#"><img src="images/soccer/club-gallery-img2.jpg" alt="club-gallery"></a>
                            </div>
                            <div class="col-md-3 col-sm-3 grid-item">
                                <a href="#"><img src="images/soccer/club-gallery-img2.jpg" alt="club-gallery"></a>
                            </div>
                            <div class="col-md-3 col-sm-3 grid-item">
                                <a href="#"><img src="images/soccer/club-gallery-img4.jpg" alt="club-gallery"></a>
                            </div>

                            <div class="col-md-3 col-sm-3 grid-item">
                                <a href="#"><img src="images/soccer/club-gallery-img5.jpg" alt="club-gallery"></a>
                            </div>
                        </div>	
                    </div>
                </div>	
            </div>


        </div>
    </div>
</section>
<!--MAIN CLUB GALLERY END-->