
<div class="match-stat-table">
    <div class="item">
        <div class="name">Component 1</div>
        <div class="percent">1</div>
        <div class="percent right">1</div>
        <div class="percent-bar">
            <div class="bar bar-1" ></div>
        </div>
    </div>
    <div class="item">
        <div class="name">Component 2</div>
        <div class="percent">48</div>
        <div class="percent right">52</div>
        <div class="percent-bar">
            <div class="bar bar-2" ></div>
        </div>
    </div>
    <div class="item">
        <div class="name">Component 3</div>
        <div class="percent">15</div>
        <div class="percent right">13</div>
        <div class="percent-bar">
            <div class="bar bar-3" ></div>
        </div>
    </div>
    <div class="item">
        <div class="name">Component 4</div>
        <div class="percent">7</div>
        <div class="percent right">5</div>
        <div class="percent-bar">
            <div class="bar bar-4" ></div>
        </div>
    </div>
    <div class="item">
        <div class="name">Component 5</div>
        <div class="percent">2</div>
        <div class="percent right">1</div>
        <div class="percent-bar">
            <div class="bar bar-5" ></div>
        </div>
    </div>
    <div class="item">
        <div class="name">Component 6</div>
        <div class="percent">4</div>
        <div class="percent right">3</div>
        <div class="percent-bar">
            <div class="bar bar-6" ></div>
        </div>
    </div>
</div>