
<div class="match-lineup">
    <div class="no-gutter">
        <div class="col-sm-6">
            <div class="team-wrap">	
                <div class="member">
                    <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                            <a href="player.html" class="name">Coach 1</a>
                        </div>
                        <div class="country"><img src="images/common/en-flag.png" alt="flag">Ukraine</div>
                    </div>
                </div>
            </div>	
        </div>
        <div class="col-sm-6">
            <div class="team-wrap right">	
                <div class="member">
                    <div class="info">
                        <div class="wrap">
                            <a href="player.html" class="name">Coach 2 </a>
                        </div>
                        <div class="country">Ukraine<img src="images/common/en-flag.png" alt="flag"></div>
                    </div>
                    <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                </div>
            </div>
        </div>
    </div>
</div>