<div class="live-timeline">
    <div class="timeline-wrap">
        <div class="team">
            <img src="images/common/match-list-team-img.png" alt="match-list-team-img">
             Team 1
        </div>	
        <div class="timeline">
            <div class="first">
                <div class="period">
                    <div class="line line-1"    >
                        <a href="#" class="event event-1"></a>
                        <a href="#" class="event event-2"></a>
                        <a href="#" class="goal goal-1"  data-toggle="tooltip" data-placement="top" title="" data-original-title="32’ Sherlock">
                            <img src="images/common/timeline-goal.jpg" alt="timeline-goal">
                        </a>	
                    </div>
                </div>
            </div>
            <div class="second">
                <div class="period">
                    <div class="line line-2" >
                        <a href="#" class="event event-3" ></a>
                        <a href="#" class="event event-4" ></a>
                        <a href="#" class="goal goal-2"  data-toggle="tooltip" data-placement="top" title="" data-original-title="32’ Sherlock">
                            <img src="images/common/timeline-goal.jpg" alt="timeline-goal">
                        </a>	
                        <div class="current-time">64</div>
                    </div>
                    <div class="end"></div>
                </div>
            </div>
        </div>
        <div class="team">
            <img src="images/common/match-list-team-img1.png" alt="match-list-team-img">
             Team 2
        </div>
</div>
</div>