<div class="arena">
    <div class="img-wrap">
        <div class="title">Arena Bridge</div>
        <img src="images/soccer/arena-img.jpg" alt="arena-img">
    </div>
    <div class="arena-info">
        <div class="name">Arena Bridge Arena</div>
        <div class="date">7:30 PM, Saturday, 29 Sep 2016</div>
    </div>
</div>