<div class="match-live-date">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><div class="date">25 Sep 2016 <span>by</span> Mason Carrington</div></div>
            <div class="col-md-6"><div class="event">Championship</div></div>
        </div>
    </div>
</div>