<!--MACTH LIVE GALLERY BEGIN-->
<section class="match-live-gallery">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h3>Match gallery</h3>
            </div>
            <div class="col-xs-6 text-right">
                <div class="owl-carousel-arrows">
                    <div class="custom-navigation">
                        <a class="custom-next-btn"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                        <a class="custom-prev-btn"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="owl-carousel owl-theme gallery-slider">
        <div class="item">
            <a href="news-single.html">
                <span class="info">
                    <span class="then">24’</span>
                    <span class="what">Fight for the ball in midfield</span>
                </span>
                <img src="images/soccer/gallery-slide-img.jpg" alt="gallery-slide-img">
            </a>
        </div>
        <div class="item">
            <a href="news-single.html">
                <span class="info">
                    <span class="then">24’</span>
                    <span class="what">Fight for the ball in midfield</span>
                </span>
                <img src="images/soccer/gallery-slide-img1.jpg" alt="gallery-slide-img">
            </a>
        </div>
        <div class="item">
            <a href="news-single.html">
                <span class="info">
                    <span class="then">24’</span>
                    <span class="what">Fight for the ball in midfield</span>
                </span>
                <img src="images/soccer/gallery-slide-img.jpg" alt="gallery-slide-img">
            </a>
        </div>
        <div class="item">
            <a href="news-single.html">
                <span class="info">
                    <span class="then">24’</span>
                    <span class="what">Fight for the ball in midfield</span>
                </span>
                <img src="images/soccer/gallery-slide-img1.jpg" alt="gallery-slide-img">
            </a>
        </div>
        <div class="item">
            <a href="news-single.html">
                <span class="info">
                    <span class="then">24’</span>
                    <span class="what">Fight for the ball in midfield</span>
                </span>
                <img src="images/soccer/gallery-slide-img.jpg" alt="gallery-slide-img">
            </a>
        </div>
        <div class="item">
            <a href="news-single.html">
                <span class="info">
                    <span class="then">24’</span>
                    <span class="what">Fight for the ball in midfield</span>
                </span>
                <img src="images/soccer/gallery-slide-img1.jpg" alt="gallery-slide-img">
            </a>
        </div>
    </div>
</section>
<!--MACTH LIVE GALLERY END-->