<div class="match-lineup">
    <div class="no-gutter">
        <div class="col-sm-6">
            <div class="head">
                <div class="name">Internacional</div>
            </div>
            <div class="team-wrap">	
                <div class="member">
                    <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                            <a href="player.html" class="name">Pasveer Pasveer (GK)</a>
                            <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                            <div class="goal" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"><img src="images/common/timeline-goal.jpg" alt="timeline-goal"></div>
                        </div>
                        <div class="country"><img src="images/common/en-flag.png" alt="v">Ukraine</div>
                    </div>
                </div>
                <div class="member">
                    <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                            <a href="player.html" class="name">Pasveer (GK)</a>
                            <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                            <div class="card red" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>

                        </div>
                        <div class="country"><img src="images/common/en-flag.png" alt="flag">Ukraine</div>
                    </div>
                </div>
                <div class="member">
                    <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                            <a href="player.html" class="name">Pasveer (GK)</a>
                            <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                            <div class="card red" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                        </div>
                        <div class="country"><img src="images/common/en-flag.png" alt="flag">Ukraine</div>
                    </div>
                </div>
                <div class="member">
                    <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                            <a href="player.html" class="name">Pasveer (GK)</a>
                            <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                            <div class="card red" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>

                        </div>
                        <div class="country"><img src="images/common/en-flag.png" alt="">Ukraine</div>
                    </div>
                </div>
                <div class="member">
                    <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                            <a href="player.html" class="name">Pasveer (GK)</a>
                            <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                            <div class="card red" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                        </div>
                        <div class="country"><img src="images/common/en-flag.png" alt="flag">Ukraine</div>
                    </div>
                </div>
                <div class="member">
                    <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                            <a href="player.html" class="name">Pasveer (GK)</a>
                            <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                            <div class="card red" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                        </div>
                        <div class="country"><img src="images/common/en-flag.png" alt="flag">Ukraine</div>
                    </div>
                </div>
                <div class="member">
                    <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                                <a href="player.html" class="name">Pasveer (GK)</a>
                                <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                                <div class="card red" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                        </div>
                        <div class="country"><img src="images/common/en-flag.png" alt="flag">Ukraine</div>
                    </div>
                </div>
                <div class="member">
                    <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                            <a href="player.html" class="name">Pasveer (GK)</a>
                            <div class="goal" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"><img src="images/common/timeline-goal.jpg" alt="timeline-goal"></div>
                        </div>
                        <div class="country"><img src="images/common/en-flag.png" alt="flag">Ukraine</div>
                    </div>
                </div>
                <div class="member">
                    <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                            <a href="player.html" class="name">Pasveer (GK)</a>
                            <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                        </div>
                        <div class="country"><img src="images/common/en-flag.png" alt="flag">Ukraine</div>
                    </div>
                </div>
                <div class="member">
                    <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                            <a href="player.html" class="name">Pasveer (GK)</a>
                            <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                            <div class="card red" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                        </div>
                        <div class="country"><img src="images/common/en-flag.png" alt="flag">Ukraine</div>
                    </div>
                </div>
                <div class="member">
                    <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                            <a href="player.html" class="name">Pasveer (GK)</a>
                            <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                            <div class="card red" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                        </div>
                        <div class="country"><img src="images/common/en-flag.png" alt="flag">Ukraine</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="head">
                <div class="name right">Arsenal</div>
            </div>
                <div class="team-wrap right">	
                    <div class="member">
                        <div class="info">
                                <div class="wrap">
                                    <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                                    <div class="goal" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"><img src="images/common/timeline-goal.jpg" alt="timeline-goal"></div>
                                    <a href="player.html" class="name">Pasveer (GK)</a>
                                </div>
                                <div class="country">Ukraine<img src="images/common/en-flag.png" alt="flag"></div>
                            </div>
                            <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    </div>
                    <div class="member">
                        <div class="info">
                            <div class="wrap">
                                <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                                <div class="goal" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"><img src="images/common/timeline-goal.jpg" alt="timeline-goal"></div>
                                <a href="player.html" class="name">Pasveer (GK)</a>
                            </div>
                            <div class="country">Ukraine<img src="images/common/en-flag.png" alt="flag"></div>
                        </div>
                        <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    </div>
                    <div class="member">
                        <div class="info">
                            <div class="wrap">
                                <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                                <div class="goal" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"><img src="images/common/timeline-goal.jpg" alt="timeline-goal"></div>
                                <a href="player.html" class="name">Pasveer (GK)</a>
                            </div>
                            <div class="country">Ukraine<img src="images/common/en-flag.png" alt="flag"></div>
                        </div>
                        <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    </div>
                    <div class="member">
                        <div class="info">
                            <div class="wrap">
                                <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                                <div class="goal" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"><img src="images/common/timeline-goal.jpg" alt="timeline-goal"></div>
                                <a href="player.html" class="name">Pasveer (GK)</a>
                            </div>
                            <div class="country">Ukraine<img src="images/common/en-flag.png" alt="flag"></div>
                        </div>
                        <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    </div>
                    <div class="member">
                        <div class="info">
                            <div class="wrap">
                                <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                                <div class="goal" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"><img src="images/common/timeline-goal.jpg" alt="timeline-goal"></div>
                                <a href="player.html" class="name">Pasveer (GK)</a>
                            </div>
                            <div class="country">Ukraine<img src="images/common/en-flag.png" alt="flag"></div>
                        </div>
                        <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    </div>
                    <div class="member">
                        <div class="info">
                            <div class="wrap">
                                <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                                <div class="goal" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"><img src="images/common/timeline-goal.jpg" alt="timeline-goal"></div>
                                <a href="player.html" class="name">Pasveer (GK)</a>
                            </div>
                            <div class="country">Ukraine<img src="images/common/en-flag.png" alt="flag"></div>
                        </div>
                        <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    </div>
                    <div class="member">
                        <div class="info">
                            <div class="wrap">
                                <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                                <div class="goal" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"><img src="images/common/timeline-goal.jpg" alt="timeline-goal"></div>
                                <a href="player.html" class="name">Pasveer (GK)</a>
                            </div>
                            <div class="country">Ukraine<img src="images/common/en-flag.png" alt="flag"></div>
                        </div>
                        <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    </div>
                    <div class="member">
                        <div class="info">
                            <div class="wrap">
                                <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                                <div class="goal" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"><img src="images/common/timeline-goal.jpg" alt="timeline-goal"></div>
                                <a href="player.html" class="name">Pasveer (GK)</a>
                            </div>
                            <div class="country">Ukraine<img src="images/common/en-flag.png" alt="flag"></div>
                        </div>
                        <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    </div>
                    <div class="member">
                        <div class="info">
                            <div class="wrap">
                                    <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                                    <div class="goal" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"><img src="images/common/timeline-goal.jpg" alt="timeline-goal"></div>
                                    <a href="player.html" class="name">Pasveer (GK)</a>
                            </div>
                            <div class="country">Ukraine<img src="images/common/en-flag.png" alt="flag"></div>
                        </div>
                        <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    </div>
                    <div class="member">
                        <div class="info">
                            <div class="wrap">
                                <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                                <div class="goal" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"><img src="images/common/timeline-goal.jpg" alt="timeline-goal"></div>
                                <a href="player.html" class="name">Pasveer (GK)</a>
                            </div>
                            <div class="country">Ukraine<img src="images/common/en-flag.png" alt="flag"></div>
                        </div>
                        <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    </div>
                    <div class="member">
                        <div class="info">
                            <div class="wrap">
                                <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                                <div class="goal" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"><img src="images/common/timeline-goal.jpg" alt="timeline-goal"></div>
                                <a href="player.html" class="name">Pasveer (GK)</a>
                            </div>
                            <div class="country">Ukraine<img src="images/common/en-flag.png" alt="flag"></div>
                        </div>
                        <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    </div>
                </div>
            </div>
        </div>					
    </div>