<!--MACTH LIVE INFO BEGIN-->
<div class="match-live-info-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">Premier League - Round 28</div>
                <div class="match-info">
                    <div class="team">
                        <div class="avatar"><img src="images/soccer/team-logo1.png" alt="team-logo"></div>
                        <div class="text">Team 1 <span>11’ 42’ Ashton </span></div> 
                    </div>
                    <div class="score">2 : 2</div>
                    <div class="team right">
                        <div class="text">Team 2 <span>32’ Sherlock 60’ Backer</span></div>
                        <div class="avatar"><img src="images/soccer/team-logo2.png" alt="team-logo"></div>
                    </div>
                </div>
                <div class="title">64’</div>
            </div>
        </div>
    </div>
</div>
<!--MACTH LIVE INFO END-->