    
<div class="match-live-info">
    <div class="title"> Team 1 – Team 2 </div>
    <div class="match-info">
        <div class="team">
            <div class="avatar">
                <img src="images/soccer/team-logo1.png" alt="team-logo"></div>
            <div class="text">
                Team 1 
            </div> 
        </div>
        <div class="score">
            0:0        </div>
        <div class="team right  wpb_animate_when_almost_visible wpb_flipInX flipInX wpb_start_animation animated">
            <div class="text">
                Team 2 
            </div>
            <div class="avatar">
                <img src="images/soccer/team-logo2.png" alt="team-logo">   </div>
        </div>
    </div>
    <div class="title">
    </div>
</div>