
<div class="match-lineup">
    <div class="team-wrap">	
        <div class="member">
            <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avata"></a>
            <div class="info">
                <div class="wrap">
                    <a href="player.html" class="name">Dylan Miller</a>
                </div>
                <div class="country"><img src="images/common/en-flag.png" alt="flag">Ukraine</div>
            </div>
        </div>
    </div>
    <div class="no-gutter">
        <div class="col-md-6">
            <div class="team-wrap">	
                <div class="member">
                    <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                            <a href="player.html" class="name">Gavin Right</a>
                        </div>
                        <div class="country"><img src="images/common/en-flag.png" alt="flag">Ukraine</div>
                    </div>
                </div>
            </div>	
        </div>
        <div class="col-md-6">
            <div class="team-wrap">	
                <div class="member">
                    <a href="player.html" class="avatar"><img src="images/common/member-avatar.jpg" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                            <a href="player.html" class="name">Gavin Righthead</a>
                        </div>
                        <div class="country"><img src="images/common/en-flag.png" alt="flag">Ukraine</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>