<div class="live-championship">
    <h3>Championship</h3>
    <div class="header">The Greatest League</div>
    <div class="border">
        <div class="row">
            <div class="col-md-4 col-sm-5">
                <span class="img-champ">
                    <a href="championship.html" title="The Greatest League">
                        <img src="images/soccer/championship-ico.jpg" alt="champ-img">
                    </a>
                </span>
            </div>
            <div class="col-md-8 col-sm-7">
                <div class="info">
                    <dl>
                        <dt>Founded:</dt><dd>1955</dd>
                        <dt>Region:</dt><dd>Europe</dd>
                        <dt>Current champions:</dt><dd>Team Name 1</dd>
                        <dt>Most successful club(s):</dt><dd>Team Name 2</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>