
<div class="mathc-live-broadcasts">
    <div class="background">
        <div class="broadcast-tabs-wrapper">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active" role="presentation">
                    <a href="#title1" role="tab" data-toggle="tab"><img src="images/common/brod-1.png" alt="chanel">
                        <span class="info">
                            <span class="title">broadcasts title#1</span>
                            <span class="language">English</span>
                        </span> 	
                    </a>
                </li>
                <li>
                    <a href="#title2"  role="tab" data-toggle="tab"><img src="images/common/Arbeiderpartiet-logo.png" alt="chanel">
                        <span class="info">
                            <span class="title">broadcasts title#2</span>
                            <span class="language">English</span>
                        </span> 	
                    </a>
                </li>
                <li>
                    <a href="#title3"  role="tab" data-toggle="tab"><img src="images/common/channel-logo.png" alt="chanel">
                        <span class="info">
                            <span class="title">broadcasts title#3</span>
                            <span class="language">English</span>
                        </span> 	
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade in active" role="tabpanel" id="title1">					
                <iframe class="video" src="https://www.dailymotion.com/embed/video/x5howth" allowfullscreen></iframe>
                <div class="comment">
                    <div class="avatar">
                        <img src="images/common/commenator-ava.jpg" alt="">
                    </div>
                    <span class="comment-info">
                        <span class="name">
                            gavin right
                        </span>
                        <span class="country">
                            <img src="images/common/en-flag.png" alt="">
                            England
                        </span>
                    </span>
                </div>
                <div class="comment">
                    <div class="avatar">
                        <img src="images/common/commenator-ava.jpg" alt="">
                    </div>
                    <span class="comment-info">
                        <span class="name">
                            gavin right
                        </span>
                        <span class="country">
                            <img src="images/common/en-flag.png" alt="">
                            England
                        </span>
                    </span>
                </div>
            </div>	
            <div class="tab-pane fade" role="tabpanel" id="title2">
                <iframe class="video" src="https://www.dailymotion.com/embed/video/x5howth" allowfullscreen></iframe>
                <div class="comment">
                    <div class="avatar">
                        <img src="images/common/commenator-ava.jpg" alt="">
                    </div>
                    <span class="comment-info">
                        <span class="name">
                            gavin right
                        </span>
                        <span class="country">
                            <img src="images/common/en-flag.png" alt="">
                            England
                        </span>
                    </span>
                </div>
                <div class="comment">
                    <div class="avatar">
                        <img src="images/common/member-avatar.jpg" alt="">
                    </div>
                    <span class="comment-info">
                        <span class="name">
                            gavin right
                        </span>
                        <span class="country">
                            <img src="images/common/en-flag.png" alt="">
                            England
                        </span>
                    </span>
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="title3">
                <iframe class="video" src="https://www.dailymotion.com/embed/video/x5howth" allowfullscreen></iframe>
                <div class="comment">
                    <div class="avatar">
                        <img src="images/common/commenator-ava.jpg" alt="">
                    </div>
                    <span class="comment-info">
                        <span class="name">
                            gavin right
                        </span>
                        <span class="country">
                            <img src="images/common/en-flag.png" alt="">
                            England
                        </span>
                    </span>
                </div>
                <div class="comment">
                    <div class="avatar">
                        <img src="images/common/commenator-ava.jpg" alt="">
                    </div>
                    <span class="comment-info">
                        <span class="name">
                            gavin right
                        </span>
                        <span class="country">
                            <img src="images/common/en-flag.png" alt="">
                            England
                        </span>
                    </span>
                </div>
                <div class="comment">
                    <div class="avatar">
                        <img src="images/common/member-avatar.jpg" alt="">
                    </div>
                    <span class="comment-info">
                        <span class="name">
                            gavin right
                        </span>
                        <span class="country">
                            <img src="images/common/en-flag.png" alt="">
                            England
                        </span>
                    </span>
                </div>
            </div> 
        </div>
    </div>
</div>