<div class="broadcast-list" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="broadcast-item">
        <div class="item-header" id="headingOne">
            <div class="row">
                <div class="col-md-1 col-sm-2">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-7 col-sm-10">
                    <div class="item-head-body">
                        <a href="matches.html"><img src="images/soccer/team-logo1.png" width="40" height="40" alt="team-logo1"></a>
                        <span class="vs">vs</span>
                        <a href="matches.html"><img src="images/soccer/team-logo2.png" width="40" height="40" alt="team-logo1"></a>
                        <span class="info">
                            <span class="what">National cup - semifinal</span>
                            <span class="then">25 sep 2016 / 7:30 PM</span>
                        </span>
                        <span class="marker">live</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="channel">
                        <img src="images/common/channel-logo.png" width="40" height="40" alt="channel-logo">
                        <span class="info">
                            <span class="what">National cup - semifinal</span>
                            <span class="then">25 sep 2016 / 7:30 PM</span>
                        </span>
                    </div>
                </div>
            </div>	
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="img-wrap"><img src="images/soccer/broad-img.jpg" alt="broad-img"></div>
            <div class="item-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="title">Match details</div>
                        <p>Selvage mixtape coloring book, street art swag sriracha activated charcoal vegan hammock selfies distillery wayfarers dreamcatcher lyft beard. </p>
                        <div class="title">Match Time</div>
                        <p>7:30 PM, Saturday<br>29 Sep 2016</p>
                        <div class="title">Stadium</div>
                        <p>Fulham Rd, Fulham, London SW6 1HS, <br>Stamford Bridge</p>
                        <div class="title">weather forecast</div>
                        <div class="live-match-weather">
                            <div class="icon"><img src="images/common/wether-sun.png" alt="wether-sun"></div>	
                            <div class="info">
                                <div class="degree">7 °C</div>
                                <div class="text">Partly cloudy night</div>
                            </div>
                        </div>
                        <a href="upcoming-match.html" class="btn">View match page</a>
                    </div>
                    <div class="col-md-7">
                        <div class="title">Lineups</div>
                        <div class="lineup-list">
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="broadcast-item">
        <div class="item-header" id="headingTwo">
            <div class="row">
                <div class="col-md-1 col-sm-2">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-7 col-sm-10">
                    <div class="item-head-body">
                        <a href="matches.html"><img src="images/soccer/team-logo1.png" width="40" height="40" alt="team-logo1"></a>
                        <span class="vs">vs</span>
                        <a href="matches.html"><img src="images/soccer/team-logo2.png" width="40" height="40" alt="team-logo1"></a>
                        <span class="info">
                            <span class="what">National cup - semifinal</span>
                            <span class="then">25 sep 2016 / 7:30 PM</span>
                        </span>
                        <span class="marker">live</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="channel">
                        <img src="images/common/channel-logo.png" width="40" height="40" alt="channel-logo">
                        <span class="info">
                            <span class="what">National cup - semifinal</span>
                            <span class="then">25 sep 2016 / 7:30 PM</span>
                        </span>
                    </div>
                </div>
            </div>	
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="img-wrap"><img src="images/soccer/broad-img.jpg" alt="broad-img"></div>
            <div class="item-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="title">Match details</div>
                        <p>Selvage mixtape coloring book, street art swag sriracha activated charcoal vegan hammock selfies distillery wayfarers dreamcatcher lyft beard. </p>
                        <div class="title">Match Time</div>
                        <p>7:30 PM, Saturday<br>29 Sep 2016</p>
                        <div class="title">Stadium</div>
                        <p>Fulham Rd, Fulham, London SW6 1HS, <br>Stamford Bridge</p>
                        <div class="title">weather forecast</div>
                        <div class="live-match-weather">
                            <div class="icon"><img src="images/common/wether-sun.png" alt="wether-sun"></div>	
                            <div class="info">
                                <div class="degree">7 °C</div>
                                <div class="text">Partly cloudy night</div>
                            </div>
                        </div>
                        <a href="upcoming-match.html" class="btn">View match page</a>
                    </div>
                    <div class="col-md-7">
                        <div class="title">Lineups</div>
                        <div class="lineup-list">
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="broadcast-item">
        <div class="item-header" id="headingThree">
            <div class="row">
                <div class="col-md-1 col-sm-2">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-7 col-sm-10">
                    <div class="item-head-body">
                        <a href="matches.html"><img src="images/soccer/team-logo1.png" width="40" height="40" alt="team-logo1"></a>
                        <span class="vs">vs</span>
                        <a href="matches.html"><img src="images/soccer/team-logo2.png" width="40" height="40" alt="team-logo1"></a>
                        <span class="info">
                            <span class="what">National cup - semifinal</span>
                            <span class="then">25 sep 2016 / 7:30 PM</span>
                        </span>
                        <span class="marker">live</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="channel">
                        <img src="images/common/channel-logo.png" width="40" height="40" alt="channel-logo">
                        <span class="info">
                            <span class="what">National cup - semifinal</span>
                            <span class="then">25 sep 2016 / 7:30 PM</span>
                        </span>
                    </div>
                </div>
            </div>	
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="img-wrap"><img src="images/soccer/broad-img.jpg" alt="broad-img"></div>
            <div class="item-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="title">Match details</div>
                        <p>Selvage mixtape coloring book, street art swag sriracha activated charcoal vegan hammock selfies distillery wayfarers dreamcatcher lyft beard. </p>
                        <div class="title">Match Time</div>
                        <p>7:30 PM, Saturday<br>29 Sep 2016</p>
                        <div class="title">Stadium</div>
                        <p>Fulham Rd, Fulham, London SW6 1HS, <br>Stamford Bridge</p>
                        <div class="title">weather forecast</div>
                        <div class="live-match-weather">
                            <div class="icon"><img src="images/common/wether-sun.png" alt="wether-sun"></div>	
                            <div class="info">
                                <div class="degree">7 °C</div>
                                <div class="text">Partly cloudy night</div>
                            </div>
                        </div>
                        <a href="upcoming-match.html" class="btn">View match page</a>
                    </div>
                    <div class="col-md-7">
                        <div class="title">Lineups</div>
                        <div class="lineup-list">
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    <div class="number"><span>1</span></div>
                                    <div class="name">Borjan (GK)</div>
                                </div>
                                <div class="right">
                                    <div class="name">Borjan (GK)</div>
                                    <div class="number"><span>2</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
					