Клуб

 <div class="col-md-6">
                <h6>11</h6>
                <div class="canvas-minutes-1">
                    <div class="ct-chart" id="test-graph10" ></div>
                </div>
            </div>


<div class="row">
            <div class="col-md-6">
                <div class="canvas-minutes-1">
                    <h6>10</h6>
                    <div class="ct-chart" id="test-graph9" ></div>
                </div>
            </div>
           
        </div>



 <h6>7</h6>
                <div class="canvas-minutes-1">
                    <div class="ct-chart" id="test-graph6" ></div>
                </div>
                <h6>8</h6>
                <div class="canvas-minutes-1">
                    <div class="ct-chart" id="test-graph7" ></div>
                </div>
                
                
                
                
   <h6>3</h6>
                        <div class="canvas-minutes">
                            <div class="ct-chart" id="test-graph2" ></div>
                        </div>
        