<div class="main-news-list">
    <div class="owl-carousel owl-theme match-page-slider">
        <a href="" class="item">
            <img src="images/soccer/news1.jpg" class="img-responsive" alt="">
            <span class="caption">
                <span class="date">20 sep 2016</span>
                <span class="name">Chelsea claims Premier League lead after</span>
            </span>
        </a>
        <a href="" class="item">
            <img src="images/soccer/news2.jpg" class="img-responsive" alt="">
            <span class="caption">
                <span class="date">20 sep 2016</span>
                <span class="name">Chelsea claims Premier League lead after</span>
            </span>
        </a>
        <a href="" class="item">
            <img src="images/soccer/news3.jpg" class="img-responsive" alt="">
            <span class="caption">
                <span class="date">20 sep 2016</span>
                <span class="name">Chelsea claims Premier League lead after</span>
            </span>
        </a>
    </div>
</div>
