<!--NEWS LIST BEGIN-->
<div class="news-list col-xs-12 col-md-9">
    <p class="hidden-md hidden-lg">
        <button type="button" class="btn sidebar-btn" data-toggle="offcanvas" title="Toggle sidebar">sidebar</button>
    </p>
    <div class="item img-top">
        <div class="img-wrap">
            <div class="bage"><a href="news-single.html">highlight</a></div>
            <a href="news-single.html"><img src="images/soccer/news-list-img.jpg" alt="post image"></a>
        </div>
        <div class="info">
            <a href="news-single.html" class="name">Bauza: Bono and Tolos will start against Intertupo</a>	
            <div class="wrap">
                <a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Mason Carrington</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="item">
        <div class="info">
            <a href="news-single.html" class="name">Post Format: Aside</a>	
            <div class="wrap">
                <a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Mason Carrington</a>
            </div>
            <div class="comment-quantity">3 comments</div>
            <div class="clear"></div>
            <p>Pabst irony tattooed, synth sriracha selvage pok pok. Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep v mixtape semiotics brunch.  Next level paleo taxidermy, bespoke messenger bag leggings occupy food truck.</p>
            <a href="news-single.html" class="continue">Continue Reading</a>
        </div>
    </div>
    <div class="item">
        <div class="info">
            <a href="news-single.html" class="name">Post Format: Link</a>	
            <div class="wrap">
                <a href="news-single.html">25 Sep 2016</a> by <a href="contacts.html">Mason Carrington</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="item">
        <div class="info">
            <a href="news-single.html" class="name">Post Format: Image</a>	
            <div class="wrap">
                <a href="#">25 Sep 2016</a> by <a href="contacts.html">Mason Carrington</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="img-wrap">
            <a href="news-single.html"><img src="images/soccer/news-list-img.jpg" alt="post image"></a>
        </div>
    </div>
    <div class="item quote">
        <div class="info">
            <a href="news-single.html" class="name">Post Format: Quote. Ogi farm-to-table migas vinyl, semiotics yuccie swag ugh helvetica 8-bit. </a>
            <div class="wrap">
                <a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Mason Carrington</a>
            </div>
            <div class="comment-quantity">3 comments</div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="item status">
        <div class="info">
            <a href="news-single.html" class="name">Post Format: Status</a>
            <div class="wrap">
                <a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Mason Carrington</a>
            </div>
            <div class="comment-quantity">3 comments</div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="pagination-wrap">
        <ul class="pagination">
            <li><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>
<!--NEWS LIST END-->