
<div class="main-next-match bg-cover">
    <img src="images/soccer/next-match-bg.jpg" class="next-match-background-img" alt="next-image"> 
    <div class="wrap">
        <div class="place" >Estadio Olimpico Monumental</div>
        <div class="date" >28 septemer 2016 / 8:30 PM</div>
        <div class="teams-wrap" >
                <a href="staff.html" class="team">
                    <span>Team 1</span>
                    <span><img src="images/common/team-logo1.png" alt="team-image"></span>
                </a>
                <div class="vs">
                   vs
                </div>
                <a href="staff.html" class="team1">
                    <span><img src="images/common/team-logo2.png" alt="team-image"></span>
                    <span>Team2</span>
                </a>
        </div>
        <a href="" class="booking">UPCOMING MATCH</a>
    </div>
</div>