
<ul class="tab-filters" role="tablist">
    <li class="active"><a href="#all" role="tab" data-toggle="tab" aria-expanded="true">All</a></li>
    <li><a href="#nationalcup" role="tab" data-toggle="tab" aria-expanded="true">National cup</a></li>
    <li><a href="#premierleague" role="tab" data-toggle="tab" aria-expanded="true">premier league</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="all">
        <div class="amateurs-main-match">
            <div class="title">Premier League - Round 28</div>	
            <a href="matches.html" class="team">
                <span class="image"><img src="images/soccer/team-logo1.png" alt="main-match"></span>
                <span class="info">
                    <span class="name">Team 1</span>
                    <span class="city">london</span>
                </span>
            </a>
            <div class="score">
                <span>3:2</span>	
            </div>
            <a href="matches.html" class="team guest">
                <span class="info">
                    <span class="name">Team 2</span>
                    <span class="city">London</span>
                </span>	
                <span class="image"><img src="images/soccer/team-logo2.png" alt="main-match"></span>
            </a>
            <div class="title">26 september / 8:45 PM</div>
        </div>
    </div>
    <div class="tab-pane" id="nationalcup">
        <div class="amateurs-main-match">
            <div class="title">National Cup - Round 1</div>	
            <a href="matches.html" class="team">
                <span class="image"><img src="images/soccer/team-logo3.png" alt="main-match"></span>
                <span class="info">
                    <span class="name">Internacional</span>
                    <span class="city">london</span>
                </span>
            </a>
            <div class="score">
                <span>3:2</span>	
            </div>
            <a href="matches.html" class="team guest">
                <span class="info">
                    <span class="name">Arsenalp</span>
                    <span class="city">Lyon</span>
                </span>	
                <span class="image"><img src="images/soccer/team-logo4.png" alt="main-match"></span>
            </a>
            <div class="title">26 september / 8:45 PM</div>
        </div>
    </div>
     <div class="tab-pane" id="premierleague">
        <div class="amateurs-main-match">
            <div class="title">Premier League - Round 28</div>	
            <a href="matches.html" class="team">
                <span class="image"><img src="images/soccer/team-logo2.png" alt="main-match"></span>
                <span class="info">
                    <span class="name">Internacional</span>
                    <span class="city">london</span>
                </span>
            </a>
            <div class="score">
                <span>2:2</span>	
            </div>
            <a href="matches.html" class="team guest">
                <span class="info">
                    <span class="name">Arsenalp</span>
                    <span class="city">Lyon</span>
                </span>	
                <span class="image"><img src="images/soccer/team-logo4.png" alt="main-match"></span>
            </a>
            <div class="title">26 september / 8:45 PM</div>
        </div>
    </div>
</div>