<div class="tab-content">
    <div id="groupstage" class="tab-pane fade in active">
        <table class="standing-full">
            <tbody>
                <tr>
                    <th>club</th>
                    <th>played</th>
                    <th>won</th>
                    <th>drawn</th>
                    <th>lost</th>
                    <th>gd</th>
                    <th>points</th>
                    <th>form</th>
                    <th>next</th>
                </tr>
                <tr>
                    <td class="up">
                        <i class="fa fa-caret-up" aria-hidden="true"></i> 1 <span class="team"><img src="images/soccer/team-logo1.png" width="30" height="30" alt="team-logo"> </span>Team 1
                    </td>
                    <td>11</td>
                    <td>8</td>
                    <td>2</td>
                    <td>1</td>
                    <td>+16</td>
                    <td class="points"><span>26</span></td>
                    <td class="form">
                        <span class="win">w</span>
                        <span class="drawn">d</span>
                        <span class="lose">l</span>
                        <span class="win">w</span>
                        <span class="win">w</span>
                    </td>
                    <td><a href="matches.html"><img src="images/soccer/team-logo2.png" width="30" height="30" alt="team-logo"></a></td>
                </tr>
                <tr>
                    <td class="down">
                        <i class="fa fa-caret-down" aria-hidden="true"></i> 1 <span class="team"><img src="images/soccer/team-logo2.png" width="30" height="30" alt="team-logo"> </span>Team 2
                    </td>
                    <td>11</td>
                    <td>8</td>
                    <td>2</td>
                    <td>1</td>
                    <td>+16</td>
                    <td class="points"><span>26</span></td>
                    <td class="form">
                        <span class="win">w</span>
                        <span class="drawn">d</span>
                        <span class="lose">l</span>
                        <span class="win">w</span>
                        <span class="lose">l</span>
                    </td>
                    <td><a href="matches.html"><img src="images/soccer/team-logo1.png" width="30" height="30" alt="team-logo"></a></td>
                </tr>
                <tr>
                    <td class="down">
                        <i class="fa fa-caret-down" aria-hidden="true"></i> 1 <span class="team"><img src="images/soccer/team-logo3.png" width="30" height="30" alt="team-logo"> </span>Team 3
                    </td>
                    <td>11</td>
                    <td>8</td>
                    <td>2</td>
                    <td>1</td>
                    <td>+16</td>
                    <td class="points"><span>26</span></td>
                    <td class="form">
                        <span class="lose">l</span>
                        <span class="drawn">d</span>
                        <span class="lose">l</span>
                        <span class="win">w</span>
                        <span class="win">w</span>
                    </td>
                    <td><a href="matches.html"><img src="images/soccer/team-logo4.png" width="30" height="30" alt=""></a></td>
                </tr>
                <tr>
                    <td class="down">
                        <i class="fa fa-caret-down" aria-hidden="true"></i> 1 <span class="team"><img src="images/soccer/team-logo4.png" width="30" height="30" alt="team-logo"> </span>Team 4
                    </td>
                    <td>11</td>
                    <td>8</td>
                    <td>2</td>
                    <td>1</td>
                    <td>+16</td>
                    <td class="points"><span>26</span></td>
                    <td class="form">
                        <span class="win">w</span>
                        <span class="drawn">d</span>
                        <span class="lose">l</span>
                        <span class="win">w</span>
                        <span class="lose">l</span>
                    </td>
                    <td><a href="matches.html"><img src="images/soccer/team-logo3.png" width="30" height="30" alt="team-logo"></a></td>
                </tr>
                <tr>
                    <td class="none">
                        <i class="fa fa-circle" aria-hidden="true"></i> 1 <span class="team"><img src="images/soccer/team-logo5.png" width="30" height="30" alt="team-logo"> </span>Team 5
                    </td>
                    <td>11</td>
                    <td>8</td>
                    <td>2</td>
                    <td>1</td>
                    <td>+16</td>
                    <td class="points"><span>26</span></td>
                    <td class="form">
                        <span class="win">w</span>
                        <span class="drawn">d</span>
                        <span class="lose">l</span>
                        <span class="win">w</span>
                        <span class="win">w</span>
                    </td>
                    <td><a href="matches.html"><img src="images/soccer/team-logo1.png" width="30" height="30" alt="team-logo"></a></td>
                </tr>
            </tbody></table>
    </div>
    
    <div id="playoff" class="tab-pane fade">
        <table class="standing-full">
            <tbody>
                <tr>
                    <th>club</th>
                    <th>played</th>
                    <th>won</th>
                    <th>drawn</th>
                    <th>lost</th>
                    <th>gd</th>
                    <th>points</th>
                    <th>form</th>
                    <th>next</th>
                </tr>
                <tr>
                    <td class="up">
                        <i class="fa fa-caret-up" aria-hidden="true"></i> 1 <span class="team"><img src="images/soccer/team-logo1.png" width="30" height="30" alt="team-logo"> </span>Team 5
                    </td>
                    <td>11</td>
                    <td>8</td>
                    <td>2</td>
                    <td>1</td>
                    <td>+16</td>
                    <td class="points"><span>26</span></td>
                    <td class="form">
                        <span class="win">w</span>
                        <span class="drawn">d</span>
                        <span class="lose">l</span>
                        <span class="win">w</span>
                        <span class="win">w</span>
                    </td>
                    <td><a href="matches.html"><img src="images/soccer/team-logo2.png" width="30" height="30" alt="team-logo"></a></td>
                </tr>
                <tr>
                    <td class="down">
                        <i class="fa fa-caret-down" aria-hidden="true"></i> 1 <span class="team"><img src="images/soccer/team-logo2.png" width="30" height="30" alt="team-logo"> </span>Team 3
                    </td>
                    <td>11</td>
                    <td>8</td>
                    <td>2</td>
                    <td>1</td>
                    <td>+16</td>
                    <td class="points"><span>26</span></td>
                    <td class="form">
                        <span class="win">w</span>
                        <span class="drawn">d</span>
                        <span class="lose">l</span>
                        <span class="win">w</span>
                        <span class="lose">l</span>
                    </td>
                    <td><a href="matches.html"><img src="images/soccer/team-logo1.png" width="30" height="30" alt="team-logo"></a></td>
                </tr>
                <tr>
                    <td class="down">
                        <i class="fa fa-caret-down" aria-hidden="true"></i> 1 <span class="team"><img src="images/soccer/team-logo3.png" width="30" height="30" alt="team-logo"> </span>Team 4
                    </td>
                    <td>11</td>
                    <td>8</td>
                    <td>2</td>
                    <td>1</td>
                    <td>+16</td>
                    <td class="points"><span>26</span></td>
                    <td class="form">
                        <span class="lose">l</span>
                        <span class="drawn">d</span>
                        <span class="lose">l</span>
                        <span class="win">w</span>
                        <span class="win">w</span>
                    </td>
                    <td><a href="matches.html"><img src="images/soccer/team-logo4.png" width="30" height="30" alt=""></a></td>
                </tr>
                <tr>
                    <td class="down">
                        <i class="fa fa-caret-down" aria-hidden="true"></i> 1 <span class="team"><img src="images/soccer/team-logo4.png" width="30" height="30" alt="team-logo"> </span>Team 2
                    </td>
                    <td>11</td>
                    <td>8</td>
                    <td>2</td>
                    <td>1</td>
                    <td>+16</td>
                    <td class="points"><span>26</span></td>
                    <td class="form">
                        <span class="win">w</span>
                        <span class="drawn">d</span>
                        <span class="lose">l</span>
                        <span class="win">w</span>
                        <span class="lose">l</span>
                    </td>
                    <td><a href="matches.html"><img src="images/soccer/team-logo3.png" width="30" height="30" alt="team-logo"></a></td>
                </tr>
                <tr>
                    <td class="none">
                        <i class="fa fa-circle" aria-hidden="true"></i> 1 <span class="team"><img src="images/soccer/team-logo5.png" width="30" height="30" alt="team-logo"> </span>Team 1
                    </td>
                    <td>11</td>
                    <td>8</td>
                    <td>2</td>
                    <td>1</td>
                    <td>+16</td>
                    <td class="points"><span>26</span></td>
                    <td class="form">
                        <span class="win">w</span>
                        <span class="drawn">d</span>
                        <span class="lose">l</span>
                        <span class="win">w</span>
                        <span class="win">w</span>
                    </td>
                    <td><a href="matches.html"><img src="images/soccer/team-logo1.png" width="30" height="30" alt="team-logo"></a></td>
                </tr>
            </tbody></table>
    </div>
</div>