<div class="organisation-header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="club-logo  wpb_animate_when_almost_visible wpb_zoomInLeft zoomInLeft wpb_start_animation animated">
                    <img class="img-responsive" src="images/soccer/champ-logo.png" alt="organisation logo" >                
                </div>
            </div>
            <div class="col-md-3">
                <div class="org-club-info">
                                        <div class="item country">
                        <img src="images/common/en-flag.png" alt="flag">
                        Italy                    </div>
                                        
                    <div class="item"><span>Founded:</span> 22 July 1927</div>
                    <div class="item"><span>Ground:</span> Stadio Olimpico</div>
                    <div class="item"><span>President:</span> James Pallotta</div>
                    <div class="item"><span>Head coach:</span> Luciano Spalletti</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="org-club-stat">
                    <div class="title">next opponent</div>
                    <div class="next">
                        <div class="avatar">
                            <a href="matches.html" title="Athleticos Bilbor – AC Ramau">
                                <img src="images/common/main-match-icon1.png"  alt="oponent logo"> 
                            </a>
                        </div>
                        <div class="info">
                            <div class="name">Athleticos Bilbor</div>
                            <div class="date">18 July 2017 / 17:00 UTC</div>
                        </div>
                    </div>
                    <div class="title">team stats</div>
                    <div class="circle-item">
                        <div class="circle-bar" id="circle_3" data-percent="47"></div>
                        <div class="text">Possession </div>
                    </div>
                    <div class="circle-item">
                        <div class="circle-bar" id="circle_4" data-percent="87"></div>
                        <div class="text">Pass Accuracy </div>
                    </div>             
                </div>
            </div>
        </div>	
    </div>	
</div>