<!--PLAYER STATS BEGIN-->
<section class="hockey-stats">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" >
                        <h6>club history</h6>
                        <div class="overflow-scroll">
                            <table>
                                <tr>
                                    <th>Season</th>
                                    <th class="club">Club</th>
                                    <th>Games</th>
                                    <th>Goals</th>
                                </tr>
                                <tr>
                                    <td>2016/2017</td>
                                    <td class="club">
                                        <a href="matches.html">
                                            <span class="team"><img src="images/common/team-logo2.png" width="30" height="30" alt="trophy"></span> <span style="margin: auto">Internacional</span>
                                        </a>
                                    </td>
                                    <td>27</td>
                                    <td><span>10</span></td>
                                </tr>
                                <tr>
                                    <td>2016/2017</td>
                                    <td class="club">
                                        <a href="matches.html">
                                            <span class="team"><img src="images/soccer/team-logo2.png" width="30" height="30" alt="trophy"></span><span style="margin: auto"> Internacional </span>
                                        </a>
                                    </td>
                                    <td>27</td>
                                    <td><span>10</span></td>
                                </tr>
                            </table>
                        </div>
                        <h6>Trophies</h6>
                        <div class="background-section">
                            <ul class="player-trophey">
                                <li>
                                    <img src="images/common/am-trophey1.png" width="100" height="150" alt="trophy">
                                    <div class="year">2012</div>
                                </li>
                                <li>
                                    <img src="images/common/am-trophey.png" width="100" height="150" alt="trophy">
                                    <div class="year">2015</div>
                                </li>
                                <li>
                                    <img src="images/common/am-trophey2.png" width="100" height="150" alt="trophy">
                                    <div class="year">2017</div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 test-1">

                        <h6>minutes played</h6>
                        <div class="canvas-minutes">
                            <div class="ct-chart" id="player-timeseries-graph" ></div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="player-info">
                            <h6 class="player-info-title">summary</h6>	
                            <div class="summary summary-hockey">
                                <div class="row">
                                    <div class="col-md-3 col-xs-4">
                                        <div class="item">Nationality:</div>
                                    </div>
                                    <div class=" col-md-9 col-xs-8"><img src="images/common/fr-flag.png" alt="flag">France</div>
                                    <div class="col-xs-3">
                                        <div class="item">Position:</div>
                                    </div>
                                    <div class="col-xs-9">Right Forward</div>
                                    <div class="col-xs-3">
                                        <div class="item">Age:</div>
                                    </div>
                                    <div class="col-xs-9">24</div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Detailed Player Statistics</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h6>Owen Bargeman Stats </h6>
                        <div class="canvas-minutes">
                            <div class="ct-chart" id="diagram" ></div>
                        </div>
                        <h6>Points per game</h6>
                        <div class="canvas-minutes-big">
                            <div class="ct-chart advancesmill" data-ready id="advancesmill" ></div>
                        </div>
                        <h6>Assists per game</h6>
                        <div class="canvas-assists">
                            <div class="ct-chart" id="donutchart" ></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h6> Net Rating</h6>
                        <div class="canvas-minutes">
                            <div class="ct-chart" id="bipolardiagram" ></div>
                        </div>

                        <h6>Pace</h6>
                        <div class="canvas-minutes-big horizontalbar">
                            <div class="ct-chart" id="horizontalbar" ></div>
                        </div>
                        <h6>Usage Percentage</h6>
                        <div class="canvas-animatedonut">
                            <div class="ct-chart animatedonut" data-ready id="animatedonut" ></div>
                        </div>


                    </div>
                </div>

                <h6>Treshold graph</h6>

                <div class="ct-chart" id="threshold"> </div>


            </div>

        </div>


    </div>
</section>
<!--PLAYER STATS END-->
