
<div class="staff-box">            
    <div class="col-md-4  col-sm-6 col-xs-12">
        <a href="player-second-page.html" class="item">
            <span class="info">
                <span class="name">Keevian Treapap</span>
                <span class="position">Goalkeeper</span>
                <span class="number">1</span>
            </span>
            <img src="images/soccer/staff-item-img.jpg" alt="player">
        </a>
    </div>                                         
    <div class="col-md-4  col-sm-6 col-xs-12">
        <a href="player.html" class="item">
            <span class="info">
                <span class="name">Pieeraluigi Goellaini</span>
                <span class="position">Goalkeeper</span>
                <span class="number">1</span>
            </span>
            <img src="images/soccer/staff-item-img.jpg" alt="player">
        </a>
    </div>
    <div class="col-md-4  col-sm-6 col-xs-12">
        <a href="player-second-page.html" class="item">
            <span class="info">
                <span class="name">Reemiaro</span>
                <span class="position">Goalkeeper</span>
                <span class="number">29</span>
            </span>
            <img src="images/soccer/staff-item-img.jpg" alt="player">
        </a>
    </div>   


    <div class="col-md-4  col-sm-6 col-xs-12">
        <a href="player.html" class="item">
            <span class="info">
                <span class="name">Woejcaiech Szeczaesny</span>
                <span class="position">Goalkeeper</span>
                <span class="number">1</span>
            </span>
            <img src="images/soccer/staff-item-img.jpg" alt="player">
        </a>
    </div>     
    <div class="col-md-4  col-sm-6 col-xs-12">
        <a href="player-second-page.html" class="item">
            <span class="info">
                <span class="name">Ireaiazoz</span>
                <span class="position">Goalkeeper</span>
                <span class="number">1</span>
            </span>
            <img src="images/soccer/staff-item-img.jpg" alt="player">
        </a>
    </div>       
</div>