<!--PLAYER INFO BEGIN-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="captain-bage">Captain</div>
            <h4 class="player-name">right forward</h4>
        </div>
        <div class="col-md-3">
            <div class="player-photo">
                <img class="img-responsive" src="images/soccer/player-hockey.jpg" alt="player">
            </div>
        </div>
        <div class="col-md-9">
            <div class="player-hockey-wrap">
                <div class="row">
                    <div class="col-md-8 col-sm-6">
                        <div class="stats">
                            <p class="number">89</p>
                            <p class="name">owen <br> bargeman</p>
                            <p class="country"><img src="images/common/fr-flag.png" alt="flag">France</p>
                            <div class="wrapper-circle">
                                <div class="circle-item" >
                                    <div class="circle-bar" id="circle_1" data-percent="47"></div>
                                    <div class="text">Shot accuracy</div>
                                </div>
                                <div class="circle-item" >
                                    <div class="circle-bar" id="circle_2" data-percent="89"></div>
                                    <div class="text">Shot accuracy</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="canvas">
                            <canvas id="player-radar-graph" ></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!--PLAYER INFO END-->