<div class="share-box">
    <div class="item">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="title">SHARE THIS MATCH</div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 text-right">
                    <ul class="share-socials  wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight wpb_start_animation animated">                        

                    <!-- Digg -->

                        <li class="digg">
                            <a href="http://www.digg.com/">
                                <i class="fa fa-digg" aria-hidden="true"></i>
                            </a>
                        </li>

                    <!-- Facebook -->

                        <li class="facebook">
                            <a href="http://www.facebook.com/">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                        </li>
    
                    <!-- Google+ -->
    
                        <li class="google">
                            <a href="https://plus.google.com/">
                                <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                            </a>
                        </li>
    
                    <!-- LinkedIn -->
    
                        <li class="linkedin">
                            <a href="http://www.linkedin.com/">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                        </li>
    
                    <!-- Pinterest -->
    
                        <li class="pinterest">
                            <a href="http://assets.pinterest.com/">
                                <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                            </a>
                        </li>
    
                    <!-- Reddit -->
    
                        <li class="reddit">
                            <a href="http://reddit.com/">
                                <i class="fa fa-reddit-square" aria-hidden="true"></i>
                            </a>
                        </li>
    
                    <!-- StumbleUpon-->

                        <li class="StumbleUpon">
                            <a href="http://www.stumbleupon.com/">
                                <i class="fa fa-stumbleupon-circle" aria-hidden="true"></i>
                            </a>
                        </li>

                    <!-- Tumblr-->

                        <li class="tumbler">
                            <a href="http://www.tumblr.com/">
                                <i class="fa fa-tumblr-square" aria-hidden="true"></i>
                            </a>
                        </li>

                    <!-- Twitter -->

                        <li class="twitter">
                            <a href="https://twitter.com/">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </li>


                    <!-- VK -->

                        <li class="vk">
                            <a href="http://vkontakte.ru/">
                                <i class="fa fa-vk" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>