<!--CART WRAP BEGIN-->
<section class="cart-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Your shopping Cart</h4>
            </div>
            <div class="col-md-12 overflow-scroll">
                
                <table class="cart-table">
                    <tr>
                        <th></th>
                        <th class="product">Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th class="total">Total</th>
                    </tr>
                    <tr class="cart_iem">
                        <td class="delete"><a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></td>
                        <td class="name"><img class="product-image" src="images/common/cart-product.jpg" alt="cart-product">Men's T-Shirt</td>
                        <td class="cost">£ 60</td>
                        <td class="quantity"><input type="number"></td>
                        <td class="total">£ 120</td>
                    </tr>
                    <tr>
                        <td class="delete"><a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></td>
                        <td class="name"><img class="product-image" src="images/common/cart-product.jpg" alt="cart-product">Men's Sweatshirt</td>
                        <td class="cost">£ 60</td>
                        <td class="quantity"><input type="number"></td>
                        <td class="total">£ 120</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="coupon">
                    <input type="text">
                    <button><span>Apply coupon</span></button>
                </div>
            </div>
            <div class="col-md-8 col-sm-6">
                <div class="update-wrap">
                    <button class="update" disabled="">update cart</button>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="cart-offer">
                    <h5>special offer for you</h5>
                    <div class="offer">
                        <div class="store-badge new">new</div>
                        <div class="title">official <span>apparel</span></div>
                        <img src="images/soccer/cart-offer.jpg" alt="cart-offer">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="cart-total">
                    <h5>Cart Totals</h5>
                    <div class="delivery-list">
                        <label class="item">
                            <input name="del-check" type="radio">
                            <span class="name">Express delivery</span>	
                            <span class="price">£ 4</span>
                        </label>
                        <label class="item">
                            <input name="del-check" type="radio">
                            <span class="name">Express delivery</span>	
                            <span class="price">£ 4</span>
                            <span class="delivery-text">Make your payment directly into our bank account. Please use your Order ID as the payment reference.</span>
                        </label>
                        <label class="item">
                            <input name="del-check" type="radio">
                            <span class="name">Express delivery</span>	
                            <span class="price">£ 4</span>
                        </label>
                        <div class="cart-total-info">
                            <div class="title">Total</div>
                            <div class="price">£ 194</div>
                        </div>
                        <button class="proceed">Proceed to checkout<i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CART WRAP END-->