<!--SPORT CHAMPIONSHIP PLACES BEGIN-->
<div class="sport-championship-places">
    <div class="sport-championship-places start team_2016">
        <a class="item" href="#">
            <img src="images/common/team-logo4.png" alt="team-logo">
            <span>
                <span class="name">team rhinos</span>
                <span class="place">second place</span>
            </span>
        </a>
        <a class="item" href="#">
            <img src="images/common/team-logo4.png" alt="team-logo">
            <span>
                <span class="name">team rhinos</span>
                <span class="place">second place</span>
            </span>
        </a>
    </div>
    <div class="sport-championship-places start team_2015">
        <a class="item" href="#">
            <img src="images/common/team-logo4.png" alt="team-logo">
            <span>
                <span class="name">team bears</span>
                <span class="place">second place</span>
            </span>
        </a>
        <a class="item" href="#">
            <img src="images/common/team-logo4.png" alt="team-logo">
            <span>
                <span class="name">team wolves</span>
                <span class="place">second place</span>
            </span>
        </a>
    </div>
    <div class="sport-championship-places start team_2014">
        <a class="item" href="#">
            <img src="images/common/team-logo4.png" alt="team-logo">
            <span>
                <span class="name">team rhinos</span>
                <span class="place">second place</span>
            </span>
        </a>
        <a class="item" href="#">
            <img src="images/common/team-logo4.png" alt="team-logo">
            <span>
                <span class="name">team bears</span>
                <span class="place">second place</span>
            </span>
        </a>
    </div>
    <div class="sport-championship-places start team_2013">
        <a class="item" href="#">
            <img src="images/common/team-logo4.png" alt="team-logo">
            <span>
                <span class="name">team eagles</span>
                <span class="place">second place</span>
            </span>
        </a>
        <a class="item" href="#">
            <img src="images/common/team-logo4.png" alt="team-logo">
            <span>
                <span class="name">team rhinos</span>
                <span class="place">second place</span>
            </span>
        </a>
    </div>
    <div class="sport-championship-places start team_2012">
        <a class="item" href="#">
            <img src="images/common/team-logo4.png" alt="team-logo">
            <span>
                <span class="name">team dolphins</span>
                <span class="place">second place</span>
            </span>
        </a>
        <a class="item" href="#">
            <img src="images/common/team-logo4.png" alt="team-logo">
            <span>
                <span class="name">team rhinos</span>
                <span class="place">second place</span>
            </span>
        </a>
    </div>
</div>