<div id="matches" class="sport_champoinship_main_slider">

    <div class="main-slide-post">
        <div id="horizontal-wrapper">
            <div class="wrapper">
                <img src="images/common/sport-championsip-up-slide.jpg" alt='slider-image'>
                <div>
                    <span>19 sep 2016</span>
                    <span class="text">1</span>
                </div>
            </div>
            <div class="wrapper">
                <img src="images/common/sport-championsip-bottom-slide.jpg" alt='slider-image'>
                <div>
                    <span>19 sep 2016</span>
                    <span class="text">2</span>
                </div>
            </div>
            <div class="wrapper">
                <img src="images/common/sport-championsip-big-slide.jpg" alt='slider-image'>
                <div>
                    <span>19 sep 2016</span>
                    <span class="text">3</span>
                </div>
            </div>
            <div class="wrapper">
                <img src="images/common/sport-championsip-big-slide.jpg" alt='slider-image'>
                <div>
                    <span>19 sep 2016</span>
                    <span class="text">4</span>
                </div>
            </div>
            <div class="wrapper">
                <img src="images/common/sport-championsip-bottom-slide.jpg" alt='slider-image'>
                <div>
                    <span>19 sep 2016</span>
                    <span class="text">5</span>
                </div>
            </div>
            <div class="wrapper">
                <img src="images/common/sport-championsip-up-slide.jpg" alt='slider-image'>
                <div>
                    <span>19 sep 2016</span>
                    <span class="text">6</span>
                </div>
            </div>
        </div>
    </div>

    <div class="older-slide-posts">
        <div id="wrapper">
            <div class="item_vertical" data-id="0">
                <div class="wrapper">
                    <img src="images/common/sport-championsip-up-slide.jpg" alt='slider-image'>
                    <div>
                        <span>19 sep 2016</span>
                        <span class="text">1</span>
                    </div>
                </div>
            </div>
            <div class="item_vertical" data-id="1">
                <div class="wrapper">
                    <img src="images/common/sport-championsip-bottom-slide.jpg" alt='slider-image'>
                    <div>
                        <span>19 sep 2016</span>
                        <span class="text">2</span>
                    </div>
                </div>
            </div>
            <div class="item_vertical" data-id="2">
                <div class="wrapper">
                    <img src="images/common/sport-championsip-big-slide.jpg" alt='slider-image'>
                    <div>
                        <span>19 sep 2016</span>
                        <span class="text">3</span>
                    </div>
                </div>
            </div>
            <div class="item_vertical" data-id="3">
                <div class="wrapper">
                    <img src="images/common/sport-championsip-big-slide.jpg" alt='slider-image'>
                    <div>
                        <span>19 sep 2016</span>
                        <span class="text">4</span>
                    </div>
                </div>
            </div>
            <div class="item_vertical" data-id="4">
                <div class="wrapper">
                    <img src="images/common/sport-championsip-bottom-slide.jpg" alt='slider-image'>
                    <div>
                        <span>19 sep 2016</span>
                        <span class="text">Player Spotlight on FNC Caps: Rift Rivals Edition</span>
                    </div>
                </div>
            </div>
            <div class="item_vertical" data-id="5">
                <div class="wrapper">
                    <img src="images/common/sport-championsip-up-slide.jpg" alt='slider-image'>
                    <div>
                        <span>19 sep 2016</span>
                        <span class="text">Player Spotlight on FNC Caps: Rift Rivals Edition</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="arrows-wrapper">
        <a class="arrow-left" href="#">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a class="arrow-right" href="#">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </div>
    <span class="timeline">
        <span></span>  
    </span>
</div>