<!--SPORT CHAMPIONSHIP FOOTER LINKS BEGIN-->
<div class="sport-championship-footer-links">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li class="facebook">
                        <a href="#">
                            <span>facebook</span>
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="twitter">
                        <a href="#">
                            <span>twitter</span>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="google">
                        <a href="#">
                            <span>google+</span>
                            <i class="fa fa-google" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="instagram">
                        <a href="#">
                            <span>instagram</span>
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="youtube">
                        <a href="#">
                            <span>youtube</span>
                            <i class="fa fa-youtube-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--SPORT CHAMPIONSHIP FOOTER LINKS BEGIN-->