<!--SPORT CHAMPIONSHIP VIDEOS BEGIN--> 
<div class="sport-championship-videos">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 class="landing-sport-header">latest<span class='youtube'>youtube</span>videos</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="ifram-wrapper">
                     <iframe src="https://www.youtube.com/embed/5Kcq-qPs0ac" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 video-wrapper">
                <div class="wrapper">
                    <div class="width">
                        <div class="news-wrapper">
                            <img src="images/common/sport-championship-news-1.jpg" alt="news-img">
                             <iframe src="https://www.youtube.com/embed/5Kcq-qPs0ac" allowfullscreen></iframe>
                            <div class="news-border">
                                <span class="date">25 august</span>
                                <span class="name">Internacional inertns</span>
                            </div>
                        </div>
                        <div class="news-wrapper">
                            <img src="images/common/sport-championship-news-2.jpg" alt="news-img">
                             <iframe src="https://www.youtube.com/embed/5Kcq-qPs0ac" allowfullscreen></iframe>
                            <div class="news-border">
                                <span class="date">25 august</span>
                                <span class="name">Internacional inertns</span>
                            </div>
                        </div>
                        <div class="news-wrapper">
                            <img src="images/common/sport-championship-news-1.jpg" alt="news-img">
                             <iframe src="https://www.youtube.com/embed/5Kcq-qPs0ac" allowfullscreen></iframe>
                            <div class="news-border">
                                <span class="date">25 august</span>
                                <span class="name">Internacional inertns</span>
                            </div>
                        </div>
                        <div class="news-wrapper">
                            <img src="images/common/sport-championship-news-2.jpg" alt="news-img">
                             <iframe src="https://www.youtube.com/embed/5Kcq-qPs0ac" allowfullscreen></iframe>
                            <div class="news-border">
                                <span class="date">25 august</span>
                                <span class="name">Internacional inertns</span>
                            </div>
                        </div>
                         <div class="news-wrapper">
                            <img src="images/common/sport-championship-news-1.jpg" alt="news-img">
                             <iframe src="https://www.youtube.com/embed/5Kcq-qPs0ac" allowfullscreen></iframe>
                            <div class="news-border">
                                <span class="date">25 august</span>
                                <span class="name">Internacional inertns</span>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>
<!--SPORT CHAMPIONSHIP VIDEOS END-->