<div  id="about" class="sport_championship_about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="wrap-left-text">
                    <span class="about">About Trophy</span>
                    <span class="cup">Suber ball cup</span>
                    <p>For good, too though, in consequence of my previous emotions, I was still occasionally seized with a stormy sob. After we had jogged on for some little time, I asked the carrier if 
                    was going all way.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wrap-right-text">
                    <span class="name">evan</span>
                    <span class="surname">reynolds</span>
                    <span class="team">team wolves</span>
                    <p>
                        When the last 'natural' had been declared, and the profit and loss account of fish and sixpences adjusted, to the satisfaction of all parties, Mr. Bob Sawyer rang for supper, and the visitors squeezed themselves into corners while it was getting rea
                    </p>
                </div>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                <img src="images/common/sport-chamionship-about-person.jpg" alt='person'> 
            </div>
        </div>
    </div>
</div>