<!-- SPORT CHAMPIONSHIP TWITTER SLIDER BEGIN-->
<div id="twitter-slider" class="sport-championship-twitter carousel slide"  data-ride="carousel" >
    <div class="carousel-inner" role="listbox" >
        <div class="item active">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrap">
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <div class="text">
                                The obvious objective of #esport video games is to entertain people by surprising them with new experiences. Read more at w-team.torbara.com
                            </div>
                            <div class="copyright">@PiratesTeam / September 2017</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrap">
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <div class="text">
                                The obvious objective of <a href="#">#esport</a>video games is to entertain people by surprising them with. Read more <a href="#"> w-team.torbara.com</a>
                            </div>
                            <div class="copyright">@PiratesTeam / September 2016</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="nav-arrow left-arrow" href="#twitter-slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only"></span>
        </a>
        <a class="nav-arrow right-arrow" href="#twitter-slider" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only"></span>
        </a>
    </div>
</div>
<!-- SPORT CHAMPIONSHIP TWITTER SLIDER END-->