<!--SPORT CHAMPIONSHIP NEWS BEGIN--> 
<div id='news' class="sport-championship-news">
    <div class="owl-carousel owl-theme">
        <div class="container item">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="landing-sport-header">main news</h5>
                </div>
            </div>
            <div class="row no-gutters row-eq-height">
                <div class="col-md-4">
                    <a href ="#" class="news-wprapper">
                        <img src="images/common/sport-championship-news-big.jpg" alt="news-img">
                        <div class="news-border">
                            <span class="date">25 august</span>
                            <span class="name">Internacional inertns</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="row no-gutters row-eq-height">
                        <div class="col-md-6">
                            <a href ="#" class="news-wprapper">
                                <img src="images/common/sport-championship-news-1.jpg" alt="news-img">
                                <div class="news-border">
                                    <span class="date">25 august</span>
                                    <span class="name">Internacional inertns</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href ="#" class="news-wprapper">
                                <img src="images/common/sport-championship-news-2.jpg" alt="news-img">
                                <div class="news-border">
                                    <span class="date">25 august</span>
                                    <span class="name">Internacional inertns</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row no-gutters row-eq-height">
                        <div class="col-md-6">
                            <a href ="#" class="news-wprapper">
                                <img src="images/common/sport-championship-news-3.jpg" alt="news-img">
                                <div class="news-border">
                                    <span class="date">25 august</span>
                                    <span class="name">Internacional inertns</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href ="#" class="news-wprapper">
                                <img src="images/common/sport-championship-news-4.jpg" alt="news-img">
                                <div class="news-border">
                                    <span class="date">25 august</span>
                                    <span class="name">Internacional inertns</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
        <div class="container item">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="landing-sport-header">main news</h5>
                </div>
            </div>
            <div class="row no-gutters row-eq-height">
                <div class="col-md-4">
                    <a href ="#" class="news-wprapper">
                        <img src="images/common/sport-championship-news-big.jpg" alt="news-img">
                        <div class="news-border">
                            <span class="date">25 august</span>
                            <span class="name">Internacional inertns</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="row no-gutters row-eq-height">
                        <div class="col-md-6">
                            <a href ="#" class="news-wprapper">
                                <img src="images/common/sport-championship-news-1.jpg" alt="news-img">
                                <div class="news-border">
                                    <span class="date">25 august</span>
                                    <span class="name">Internacional inertns</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href ="#" class="news-wprapper">
                                <img src="images/common/sport-championship-news-2.jpg" alt="news-img">
                                <div class="news-border">
                                    <span class="date">25 august</span>
                                    <span class="name">Internacional inertns</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row no-gutters row-eq-height">
                        <div class="col-md-6">
                            <a href ="#" class="news-wprapper">
                                <img src="images/common/sport-championship-news-3.jpg" alt="news-img">
                                <div class="news-border">
                                    <span class="date">25 august</span>
                                    <span class="name">Internacional inertns</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href ="#" class="news-wprapper">
                                <img src="images/common/sport-championship-news-4.jpg" alt="news-img">
                                <div class="news-border">
                                    <span class="date">25 august</span>
                                    <span class="name">Internacional inertns</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
    </div>
</div>
<!--SPORT CHAMPIONSHIP NEWS END-->