<!--STANDING CUP BEGIN-->
<section class="standing-cup">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>National cup</h4>
                <ul class="tab-filters">
                    <li class="active"><a href="#qualification">qualification</a></li>
                    <li><a href="#quarterfinal">quarterfinal</a></li>
                    <li><a href="#semifinal">semifinal</a></li>
                    <li><a href="#final">Final</a></li>
                </ul>
            </div>
            <div class="col-md-12 overflow-scroll">
                <div class="tab-content">
                    <div class="cup-body tab-pane active" id="qualification">
                    </div>
                    <div class="cup-body tab-pane" id="quarterfinal">
                    </div>
                    <div class="cup-body tab-pane" id="semifinal">
                    </div>
                    <div class="cup-body tab-pane" id="final">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--STANDING CUP END-->
