<div class="store-banner position-relative">
		<div class="store-banner-info">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">official <span>apparel</span></div>
						<a href="store.html" class="btn">Details</a>
					</div>	
				</div>
			</div>
		</div>
	</div>