<!--TIMELINE BEGIN-->
<div class="timeline-bar">
    <div class="bar">
        <div class="date date-1" >1990</div>
        <div class="date date-2" >2001</div>
        <div class="date date-3" >2002</div>
        <div class="date date-4" >2007</div>
        <div class="date date-5" >2010</div>
        <div class="date date-6 active" >2016</div>
    </div>
</div>
<!--TIMELINE END-->